<section class="c-colToolbar">
    <div class="c-colToolbar__group--view">
        <span class="c-colViewSort__title">View</span>
        <svg class="c-colViewSort__sortOption--grid"></svg>
        <svg class="c-colViewSort__sortOption--panel"></svg>
    </div>

    <div class="c-colToolbar__group c-colViewSort__grop--sort">
        <span class="c-colToolbar__title">Sort by</span>
        <div class="c-colToolbar__sortSelect c-pseudoSelect">
            <div class="c-pseudoSelect__top">
                <span class="c-pseudoSelect__topText"></span>
                <svg class="c-pseudoSelect__topIcon"></svg>
            </div>
            <div class="c-pseudoSelect__dropdown">
                <ul class="c-pseudoSelect__list">
                    <li class="c-pseudoSelect__item">
                        <a class="c-pseudoSelect__link" href="#">
                            Best Sellers
                        </a>
                    </li>
                    <li class="c-pseudoSelect__item">
                        <a class="c-pseudoSelect__link" href="#">
                            What's Popular   
                        </a>
                    </li> 
                    <li class="c-pseudoSelect__item">
                        <a class="c-pseudoSelect__link" href="#">
                            Price Low to High
                        </a>
                    </li>                    
                    <li class="c-pseudoSelect__item">
                        <a class="c-pseudoSelect__link" href="#">
                           Price High to Low 
                        </a>
                    </li>                                       
                </ul>
            </div>
        </div>
    </div>
</section>