{% comment %} <nav class="c-headerNav c-headerNav--secondary">


    <div class="c-header__search">
        <form class="c-searchForm" action="/search">
            <div class="c-searchForm__inputGroup">
                <svg class="c-searchForm__searchIcon" width="18px" height="18px" viewBox="0 0 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="home" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="375-03-home-menu@2x" transform="translate(-45.000000, -93.000000)" fill-rule="nonzero" fill="#000000">
                            <g id="menu" transform="translate(30.000000, 40.000000)">
                                <path d="M28.1170086,64.9599248 L32.7603601,69.6032763 C33.07988,69.9227961 33.07988,70.4408402 32.7603601,70.7603601 C32.4408402,71.07988 31.9227961,71.07988 31.6032763,70.7603601 L26.9599248,66.1170086 C25.7001941,67.124704 24.1022839,67.7272727 22.3636364,67.7272727 C18.2968123,67.7272727 15,64.4304604 15,60.3636364 C15,56.2968123 18.2968123,53 22.3636364,53 C26.4304604,53 29.7272727,56.2968123 29.7272727,60.3636364 C29.7272727,62.1022839 29.124704,63.7001941 28.1170086,64.9599248 L28.1170086,64.9599248 Z M22.3636364,66.0909091 C25.5267218,66.0909091 28.0909091,63.5267218 28.0909091,60.3636364 C28.0909091,57.200551 25.5267218,54.6363636 22.3636364,54.6363636 C19.200551,54.6363636 16.6363636,57.200551 16.6363636,60.3636364 C16.6363636,63.5267218 19.200551,66.0909091 22.3636364,66.0909091 Z" id="Combined-Shape"></path>
                            </g>
                        </g>
                    </g>
                </svg>
                <input type="hidden" name="type" value="product">
                <input class="c-searchForm__input" type="text" placeholder="Search Something" name="q" value="{{ search.terms | escape }}"  />
                <span class="c-searchForm__inputGroupButton">
                    <button type="submit" class="c-btn c-searchForm__submit" name="commit" id="Subscribe">GO...</button>
                </span>
            </div>
        </form>
    </div>    

    <a class="c-headerIconLink js-search-open c-headerIconLink--search">        
        <svg class="c-headerIcon" width="22px" height="22px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="style-guide" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="elements" transform="translate(-1223.000000, -39.000000)" fill-rule="nonzero" fill="#000000">
                    <g id="header">
                        <g id="icons" transform="translate(1223.000000, 39.000000)">
                            <g id="search">
                                <path d="M16.0318993,14.6176858 L21.7071068,20.2928932 C22.0976311,20.6834175 22.0976311,21.3165825 21.7071068,21.7071068 C21.3165825,22.0976311 20.6834175,22.0976311 20.2928932,21.7071068 L14.6176858,16.0318993 C13.078015,17.2635272 11.1250137,18 9,18 C4.02943725,18 0,13.9705628 0,9 C0,4.02943725 4.02943725,0 9,0 C13.9705628,0 18,4.02943725 18,9 C18,11.1250137 17.2635272,13.078015 16.0318993,14.6176858 L16.0318993,14.6176858 Z M9,16 C12.8659933,16 16,12.8659933 16,9 C16,5.13400675 12.8659933,2 9,2 C5.13400675,2 2,5.13400675 2,9 C2,12.8659933 5.13400675,16 9,16 Z" id="Combined-Shape"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
    </a>

    <a class="c-headerIconLink" href="{{ shop.secure_url }}/pages/store-locator">
        <svg class="c-headerIcon" width="19px" height="22px" viewBox="0 0 19 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="style-guide" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="elements" transform="translate(-1272.000000, -39.000000)" fill-rule="nonzero" fill="#000000">
                    <g id="header">
                        <g id="icons" transform="translate(1223.000000, 39.000000)">
                            <g id="locator" transform="translate(49.000000, 0.000000)">
                                <path d="M15.7972821,15.6737778 L9.92579487,21.2446667 C9.55018414,21.6010244 8.96263638,21.6010244 8.58702564,21.2446667 L2.71553846,15.6737778 C0.978448234,13.9622516 -0.000135148553,11.6218414 -0.000135148553,9.17888889 C-0.000135148553,6.73593642 0.978448234,4.39552617 2.71553846,2.684 C6.3294359,-0.894666667 12.1833846,-0.894666667 15.7972821,2.684 C17.5343723,4.39552617 18.5129557,6.73593642 18.5129557,9.17888889 C18.5129557,11.6218414 17.5343723,13.9622516 15.7972821,15.6737778 L15.7972821,15.6737778 Z M14.4283077,4.07586667 C11.5734359,1.24862222 6.93938462,1.24862222 4.08451282,4.07586667 C1.23694872,6.89577778 1.23694872,11.462 4.06989744,14.2672444 L9.25641026,19.1888889 L14.4351282,14.2750667 C15.7981823,12.9303283 16.5653365,11.0921801 16.5640537,9.17403069 C16.562771,7.25588131 15.7931591,5.41876796 14.4283077,4.07586667 Z M9.25641026,13.2 C7.10391585,13.2 5.35897436,11.4489359 5.35897436,9.28888889 C5.35897436,7.12884187 7.10391585,5.37777778 9.25641026,5.37777778 C11.4089047,5.37777778 13.1538462,7.12884187 13.1538462,9.28888889 C13.1538462,11.4489359 11.4089047,13.2 9.25641026,13.2 Z M9.25641026,11.2444444 C10.3326575,11.2444444 11.2051282,10.3689124 11.2051282,9.28888889 C11.2051282,8.20886538 10.3326575,7.33333333 9.25641026,7.33333333 C8.18016305,7.33333333 7.30769231,8.20886538 7.30769231,9.28888889 C7.30769231,10.3689124 8.18016305,11.2444444 9.25641026,11.2444444 Z" id="Shape"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </svg>        
    </a>

    <a class="c-headerIconLink" href="{{ shop.secure_url }}/account/">
        <svg class="c-headerIcon" width="22px" height="22px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="style-guide" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="elements" transform="translate(-1318.000000, -39.000000)" fill-rule="nonzero" fill="#000000">
                    <g id="header">
                        <g id="icons" transform="translate(1223.000000, 39.000000)">
                            <g id="account" transform="translate(95.000000, 0.000000)">
                                <path d="M11,11 C7.9625,11 5.5,8.5375 5.5,5.5 C5.5,2.4625 7.9625,0 11,0 C14.0375,0 16.5,2.4625 16.5,5.5 C16.5,8.5375 14.0375,11 11,11 Z M11,9 C12.2504296,9.00000003 13.4058742,8.3329038 14.031089,7.25000002 C14.6563038,6.16709624 14.6563038,4.83290376 14.031089,3.74999998 C13.4058742,2.6670962 12.2504296,1.99999997 11,2 C9.0670034,2.00000004 7.50000007,3.5670034 7.50000007,5.5 C7.50000007,7.4329966 9.0670034,8.99999996 11,9 L11,9 Z M21.4085,16.082 C21.5835,16.463 21.7065,17.012 21.8135,17.741 C21.8876479,18.2518297 21.9451783,18.7649337 21.986,19.2795 L21.9975,19.429 L22,19.5 C22.000001,20.8795411 20.8825402,21.9983446 19.503,22 L2.497,22 C1.11745984,21.9983446 -9.93269984e-07,20.8795411 0,19.5 L0.0025,19.429 L0.014,19.2795 C0.0567187467,18.765117 0.114242592,18.252071 0.1865,17.741 C0.2935,17.012 0.4165,16.463 0.5915,16.082 C1.36,14.4135 7.0175,12 11,12 C14.9825,12 20.64,14.4135 21.4085,16.082 Z M19.49,16.844 C19.35,16.7215 19.15,16.5745 18.9025,16.4155 C18.3485,16.059 17.6165,15.678 16.808,15.333 C14.87,14.506 12.7915,14 11,14 C9.2085,14 7.1305,14.506 5.192,15.333 C4.3835,15.678 3.6515,16.059 3.0975,16.4155 C2.8505,16.5745 2.65,16.7215 2.51,16.844 C2.458,16.89 2.418,16.929 2.3915,16.9585 C2.324,17.1355 2.239,17.529 2.1655,18.0315 C2.116,18.3665 2.074,18.7285 2.039,19.0915 C2.021,19.2785 2.008,19.4295 2.0005,19.527 C2.0147835,19.7911986 2.23241965,19.9985337 2.497,20 L19.503,20 C19.7675803,19.9985337 19.9852165,19.7911986 19.9995,19.527 C19.992,19.4295 19.9795,19.2785 19.961,19.092 C19.9274644,18.7375238 19.8852852,18.3839186 19.8345,18.0315 C19.761,17.529 19.676,17.1355 19.6085,16.9585 C19.571248,16.9180733 19.5316815,16.8798424 19.49,16.844 Z" id="Shape"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
    </a>

    <a class="c-headerIconLink c-headerIconLink--bag js-offcanvas" data-offcanvas-src="#offcanvas-right">
        <svg class="c-headerIcon" width="20px" height="22px" viewBox="0 0 20 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="style-guide" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="elements" transform="translate(-1370.000000, -39.000000)" fill-rule="nonzero" fill="#000000">
                    <g id="header">
                        <g id="icons" transform="translate(1223.000000, 39.000000)">
                            <g id="shopping-bag" transform="translate(147.000000, 0.000000)">
                                <path d="M5.5,5 L5.5,5 L5.5,4.5 C5.5,2.01767393 7.51599125,0 10,0 C12.4849482,0 14.5,2.01605332 14.5,4.5 L14.5,5 L16.1134793,5 C17.4571148,5 18.6261729,6.05312555 18.7625886,7.39171115 L19.9869194,19.4055184 C20.1308828,20.8181668 19.0653232,22 17.6476171,22 L2.35244502,22 C0.931739545,22 -0.13124108,20.8222911 0.013142665,19.4055184 L1.23747352,7.39171115 C1.37349898,6.0569545 2.54532451,5 3.88658275,5 L5.5,5 Z M5.5,7 L3.88658275,7 C3.570763,7 3.259104,7.28110785 3.227168,7.59448155 L2.00283715,19.6082889 C1.97853424,19.8467624 2.11684394,20 2.35244502,20 L17.6476171,20 C17.8797221,20 18.0211578,19.843131 17.9972249,19.6082889 L16.7728941,7.59448155 C16.7406231,7.2778209 16.4322185,7 16.1134793,7 L14.5,7 L14.5,9 C14.5,9.55228475 14.0522847,10 13.5,10 C12.9477152,10 12.5,9.55228475 12.5,9 L12.5,7 L7.5,7 L7.5,9 C7.5,9.55228475 7.05228475,10 6.5,10 C5.94771525,10 5.5,9.55228475 5.5,9 L5.5,7 Z M12.5,5 L12.5,4.0769231 C12.5,2.93048615 11.3805268,2 10,2 C8.61999515,2 7.5,2.93123412 7.5,4.0769231 L7.5,5 L12.5,5 Z" id="Combined-Shape"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
    </a>
</nav> {% endcomment %}


<header id="header" class="header site-header">
	<div class="row column">
		<button class="primary-nav-link"><span>toggle menu</span></button>

        <a class="logo" href="http://vimergy.com/">
			<svg version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 353.214 66.125" enable-background="new 0 0 353.214 66.125" xml:space="preserve"><g><polygon fill="#393D4E" points="25.058,59.516 37.407,59.516 58.309,5.31 45.195,5.31 32.345,44.905 30.829,44.905 30.644,44.342 17.894,5.31 4.54,5.31   "></polygon><polygon fill="#393D4E" points="138.915,59.516 150.517,59.516 150.517,5.31 132.419,5.31 120.255,41.126 118.769,41.126 106.053,5.31 88.269,5.31 88.269,59.516 99.318,59.516 98.998,20 100.641,20 114.762,59.516 123.073,59.516 137.588,20 139.221,20 "></polygon><polygon fill="#393D4E" points="156.022,59.516 193.338,59.516 193.338,49.641 167.39,49.641 167.39,36.407 190.581,36.407 190.581,27.24 167.39,27.24 167.39,15.029 191.923,15.029 191.923,5.31 156.022,5.31   "></polygon><path fill="#393D4E" d="M226.487,59.272h13.826l-14.381-23.559l1.011-0.31c3.45-1.051,6.182-2.812,8.121-5.24c1.916-2.415,2.895-5.461,2.895-9.039c0-3.042-0.576-5.615-1.716-7.639c-1.138-2.035-2.682-3.692-4.579-4.92c-1.933-1.252-4.144-2.155-6.586-2.69c-2.484-0.535-5.061-0.809-7.67-0.809h-20.48v54.205h11.527V37.106h5.911L226.487,59.272zM215.618,28.969h-7.237V14.311h8.031c1.044,0,2.145,0.083,3.247,0.245c1.173,0.177,2.242,0.509,3.186,0.994c0.995,0.503,1.816,1.227,2.45,2.159c0.646,0.947,0.974,2.179,0.974,3.657c0,1.578-0.355,2.9-1.053,3.935c-0.684,1.005-1.571,1.783-2.65,2.32c-1.02,0.51-2.166,0.862-3.413,1.059C217.95,28.876,216.759,28.969,215.618,28.969z"></path><path fill="#393D4E" d="M271.258,3.815c-4.144,0-8.054,0.672-11.621,1.998c-3.557,1.324-6.699,3.231-9.346,5.707c-2.645,2.466-4.74,5.489-6.24,8.994c-1.494,3.509-2.256,7.489-2.256,11.823c0,4.296,0.751,8.23,2.221,11.701c1.475,3.49,3.551,6.513,6.159,9c2.614,2.484,5.778,4.444,9.429,5.826c3.643,1.371,7.701,2.066,12.054,2.066c4.225,0,8.179-0.442,11.749-1.314c3.383-0.829,6.388-1.891,8.952-3.175V28.19h-21.385v9.244h10.653v11.531l-0.498,0.213c-1.267,0.555-2.655,0.958-4.136,1.199c-1.454,0.244-3.011,0.367-4.635,0.367c-2.826,0-5.383-0.459-7.599-1.365c-2.236-0.902-4.139-2.194-5.66-3.82c-1.514-1.631-2.675-3.599-3.443-5.859c-0.77-2.223-1.15-4.702-1.15-7.363c0-2.606,0.428-5.058,1.279-7.276c0.847-2.215,2.062-4.168,3.598-5.794c1.542-1.623,3.378-2.903,5.477-3.812c2.092-0.913,4.399-1.376,6.873-1.376c2.835,0,5.414,0.52,7.674,1.539c1.926,0.868,3.55,1.967,4.852,3.266l7.383-8.409c-2.194-1.928-5.001-3.507-8.351-4.691C279.607,4.477,275.557,3.815,271.258,3.815z"></path><polygon fill="#393D4E" points="314.475,59.516 326.312,59.516 326.312,36.422 326.451,36.215 347.057,5.31 333.293,5.31 320.908,26.803 308.523,5.31 294.189,5.31 314.475,36.427  "></polygon><rect x="64.203" y="5.852" fill="#393D4E" width="12.939" height="54.487"></rect></g></svg>
        </a>

		<a href="http://vimergy.com/checkout/cart/" class="header-cart-link header-cart-link--one  no-count">
			<span class="icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 135.8 115" enable-background="new 0 0 135.8 115" xml:space="preserve"><path d="M113.8,84h-72c-2.6,0-4.9-1.9-5.4-4.4L22.7,11H0V0h27.2c2.6,0,4.9,1.9,5.4,4.4L36.1,22h94.1c1.8,0,3.4,0.8,4.4,2.3c1,1.4,1.3,3.3,0.8,4.9l-16.5,51C118.3,82.5,116.2,84,113.8,84z M46.3,73h63.5l12.9-40H38.3L46.3,73z"></path><circle cx="50" cy="103.9" r="11"></circle><circle cx="104.5" cy="103.9" r="11"></circle></svg></span>
		    <span class="count">0</span>
		</a>

		<div class="header__cart">
			

<a href="http://vimergy.com/checkout/cart/" data-target-element="#header-cart" class="header-cart-link header-cart-link--two js-header-panel  no-count">
    <span class="icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 135.8 115" enable-background="new 0 0 135.8 115" xml:space="preserve"><path d="M113.8,84h-72c-2.6,0-4.9-1.9-5.4-4.4L22.7,11H0V0h27.2c2.6,0,4.9,1.9,5.4,4.4L36.1,22h94.1c1.8,0,3.4,0.8,4.4,2.3c1,1.4,1.3,3.3,0.8,4.9l-16.5,51C118.3,82.5,116.2,84,113.8,84z M46.3,73h63.5l12.9-40H38.3L46.3,73z"></path><circle cx="50" cy="103.9" r="11"></circle><circle cx="104.5" cy="103.9" r="11"></circle></svg></span>
    <span class="count">0</span>
</a>

<div id="header-cart" class="block block-cart skip-content  no-count">
	
<div id="minicart-error-message" class="minicart-message error"></div>
<div id="minicart-success-message" class="minicart-message success"></div>

<div class="minicart-wrapper">
        
    <a class="mini-cart-close" href="#" title="Close">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 71.831 71.831" enable-background="new 0 0 71.831 71.831" xml:space="preserve"><g><rect x="0.915" y="33.249" transform="matrix(0.7071 0.7071 -0.7071 0.7071 36.1513 -14.779)" width="70" height="6"></rect><rect x="0.915" y="33.249" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 86.9436 36.4848)" width="70" height="6"></rect></g></svg>
    </a>

            <ul id="cart-sidebar" class="mini-products-list mini-products-list--empty">
            <li>
                <div class="mini-cart-empty-img"></div>
                <div class="mini-cart-empty-line"></div>
                <div class="mini-cart-empty-line"></div>
                <div class="mini-cart-empty-line"></div>
            </li>
        </ul>

        <p class="mini-cart-empty-heading">Your cart is empty</p>
        <p class="mini-cart-empty-desc">Items you add to cart will appear here</p>
    </div>
</div>		</div>

		<div class="header__nav">
			<nav class="primary-nav">
    <ul>
        <li class="primary-nav__item primary-nav__all level0"><a href="/catalog/shop" class="header__link">Shop All</a></li><li class="primary-nav__item level0"><a href="http://vimergy.com/kits.html" class="header__link level0 ">Kits</a>
        {% comment %} <div class="primary-nav__panel"><div class="primary-nav__panel-inner"><div class="row"><div class="large-4 column"><a class="primary-nav__box" href="http://vimergy.com/essential-immune-support.html"><img src="http://vimergy.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/s/h/shop_template_kits1_1.png" alt=""><span> Beginner's Bundle  - <span>$70.00</span></span></a></div><div class="large-4 column"><a class="primary-nav__box" href="http://vimergy.com/advanced-immune-support.html"><img src="http://vimergy.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/s/h/shop_template_kits2_1.png" alt=""><span> Getting Started Bundle  - <span>$95.00</span></span></a></div><div class="large-4 column"><a class="primary-nav__box" href="http://vimergy.com/full-spectrum-immune-support.html"><img src="http://vimergy.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/s/h/shop_template_kits3_2.jpg" alt=""><span> Complete Bundle  - <span>$145.00</span></span></a></div></div></div></div></li><li class="primary-nav__item level0"><a href="http://vimergy.com/barleygrass-juice.html" class="header__link level0 ">Barleygrass</a><div class="primary-nav__panel"><div class="primary-nav__panel-inner"><div class="row"><div class="large-4 column"><a class="primary-nav__box" href="http://vimergy.com/alkalize-barleygrass.html"><img src="http://vimergy.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/s/h/shop_template_barleygrass_1.png" alt=""><span>Premium Organic Extract - <span>$50.00</span></span></a></div><div class="large-4 column"><a class="primary-nav__box" href="http://vimergy.com/alkalize-barleygrass-juice-250g-x-2-bags.html"><img src="http://vimergy.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/s/h/shop_template_barleygrass_2packs.png" alt=""><span> Save 5% when you buy 2  - <span>$95.00</span></span></a></div><div class="large-4 column"><a class="primary-nav__box" href="http://vimergy.com/alkalize-barleygrass-juice-250g-x-2-bags-1024.html"><img src="http://vimergy.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/s/h/shop_template_barleygrass_4packs.png" alt=""><span> Save 10% when you buy 4  - <span>$180.00</span></span></a></div></div></div></div></li><li class="primary-nav__item level0"><a href="http://vimergy.com/chaga.html" class="header__link level0 ">Chaga</a><div class="primary-nav__panel"><div class="primary-nav__panel-inner"><div class="row"><div class="large-4 column"><a class="primary-nav__box" href="http://vimergy.com/strength-chaga.html"><img src="http://vimergy.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/s/h/shop_template_chaga.png" alt=""><span>Premium Organic Extract - <span>$21.00</span></span></a></div></div></div></div></li><li class="primary-nav__item level0"><a href="http://vimergy.com/wild-blueberry-15.html" class="header__link level0 ">Wild Blueberry</a><div class="primary-nav__panel"><div class="primary-nav__panel-inner"><div class="row"><div class="large-4 column"><a class="primary-nav__box" href="http://vimergy.com/wild-blueberry.html"><img src="http://vimergy.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/s/h/shop_template_wildblueberry_2_1.png" alt=""><span>Premium Wild Powder - <span>$50.00</span></span></a></div></div></div></div> {% endcomment %}
        
        </li>    </ul>

    <div class="primary-nav__overlay">
        <div class="primary-nav__overlay-inner">
            <div class="primary-nav__overlay-wrap"></div>
        </div>
    </div>    
</nav>

			<div class="header__quicklinks">
			    <ul>
			        <li>
			        	<a class="header__link icon-can js-header-panel" href="#" data-target-element="#header-can">CAN</a>
						<div id="header-can" class="header__dropdown">
<div class="header__dropdown-inner">
<h5>Shopping from Canada?</h5>
<p>Visit our Vimergy Amazon Canada site for FREE Prime Shipping on all orders, and zero customs fees.</p>
<a class="btn secondary extended" href="https://www.amazon.ca/s/ref=nb_sb_noss?url=search-alias%3Daps&amp;field-keywords=Vimergy&amp;rh=i%3Aaps%2Ck%3AVimergy">Take me to amazon.ca</a></div>
</div>			        </li>
			        <li>
			        	<a class="header__link icon-aus js-header-panel" href="#" data-target-element="#header-aus">AUS</a>
			        	<div id="header-aus" class="header__dropdown">
<div class="header__dropdown-inner">
<h5>Shopping from Australia?</h5>
<p>Visit our Australia / NZ distributor for fast shipping and zero customs fees.</p>
<a class="btn secondary extended" href="https://floweroflife.com.au">Australian Distributor</a></div>
</div>			        </li>
			        <li><a class="header__link" href="/customer-service">Help</a></li>

			       				        	<li><a class="header__link" href="/customer/account/login">Sign In</a></li>
			        			    </ul>
			</div>
		</div>
	</div>
</header>