/*================ Text alignments ================*/

.u-textLeft {
    text-align: left;
}

.u-textCenter {
    text-align: center;
}

.u-textRight {
    text-align: right;
}

.u-blockCenter {
    @util center;
}

.u-clearFix{
	  @util clearfix;
}
