[v-cloak] {
    display: none;
}

.u-hide {
    display: none;
}

.u-hideVisually {
    @util hide-visually;
}

.u-reset {
    padding: 0;
    margin: 0;
}

.u-hideTabletLargeDown {
    @media(--tablet-large-max) {
        display: none;
    }
}

.u-showMobileLargeUp {
    display: none;
    @media(--mobile-large) {
        display: block;
    }
}

.u-hideMobileLargeUp {
    display: block;
    @media(--mobile-large) {
        display: none;
    }
}

.u-hideMobileMaxDown {
    @media(--mobile-max) {
        display: none;
    }
}

.u-hideTabletUp {
    display: block;

    @media(--tablet) {
        display: none;
    }
}

.u-showTabletUp {
    display: none;

    @media(--tablet) {
        display: block;
    }
}

.u-hideTabletLargeUp {
    display: block;

    @media(--tablet-large) {
        display: none;
    }
}

.u-showTabletLargeUp {
    display: none;

    @media(--tablet-large) {
        display: block;
    }
}