// Default fonts setup, upload your custom fonts, replace the src url and keep the font-family name the same to customize
// then set font-face rules in your shopify theme to match the below, and upload those fonts to your assets if they're not already there

@font-face {
  font-family: 'font-primary-thin';
  src: url("~assets/fonts/IBMPlexSans-Thin.ttf") format("truetype");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'font-primary-light';
  src: url('~assets/fonts/IBMPlexSans-Light.ttf') format("truetype");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'font-primary-regular';
  src: url('~assets/fonts/IBMPlexSans-Regular.ttf') format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'font-primary-medium';
  src: url('~assets/fonts/IBMPlexSans-Medium.ttf') format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'font-primary-semi-bold';
  src: url('~assets/fonts/IBMPlexSans-SemiBold.ttf') format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'font-primary-bold';
  src: url('~assets/fonts/IBMPlexSans-Bold.ttf') format("truetype");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
