/*================ Flex ================*/

.o-flex {
    box: horizontal row;
    flex-wrap: wrap;
}

.o-flex__item {
    flex: 1;
    order: 1;
    @media(--mobile-max) {
        flex-basis: 100%;
    }
}

.o-flex__item--reverse {
    order: 2;
    @media(--tablet-max) {
        order: 1;
    }
}

.o-flex__item__is-left {
    order: 1;
}

.o-flex__item--is-right {
    order: 1;
    @media(--mobile-large) {
        order: 2;
    }
}

.o-flex__col-6 {
    flex-basis: 100%;
    @media(--mobile-large) {
        flex-basis: 50%;
    }
}

.o-flex__col-lg-1 {
    flex-basis: 100%;
    @media(--tablet-large) {
        flex-basis: 8.33%;
    }
}

.o-flex__col-lg-2 {
    flex-basis: 100%;
    @media(--tablet-large) {
        flex-basis: 16.67%;
    }
}

.o-flex__col-lg-10 {
    flex-basis: 100%;
    @media(--tablet-large) {
        flex-basis: 83.33%;
    }
}

.o-flex__col-lg-11 {
    flex-basis: 100%;
    @media(--tablet-large) {
        flex-basis: 91.66%;
    }
}

.o-flex__col-lg-6 {
    flex-basis: 100%;
    @media(--tablet-large) {
        flex-basis: 50%;
    }
}

.o-flex__col-lg-8 {
    flex-basis: 100%;
    @media(--tablet-large) {
        flex-basis: 66.66%;
    }
}

.o-flex__col-sm-6 {
    flex-basis: 100%;
    @media(--mobile-max) {
        flex-basis: 50%;
        width: 50%;
    }
}

.o-flex__col-8 {
    flex-basis: 100%;
    @media(--mobile-large) {
        flex-basis: 66.66%;
    }
}

.o-flex__col-3 {
    flex-basis: 100%;
    @media(--mobile-large) {
        flex-basis: 25%;
    }
}

.o-flex__col-lg-8 {
    flex-basis: 100%;
    @media(--tablet-large) {
        flex-basis: 66.66%;
    }
}

.o-flex__col-4 {
    flex-basis: 100%;
    @media(--mobile-large) {
        flex-basis: 33.33%;
        width: 33.33%;
    }
}

.o-flex__col-lg-7 {
    flex-basis: 100%;
    @media(--tablet-large) {
        flex-basis: 58.33%;
    }
}

.o-flex__col-lg-5 {
    flex-basis: 100%;
    @media(--tablet-large) {
        flex-basis: 41.66%;
    }
}

.o-flex__col-lg-4 {
    flex-basis: 100%;
    @media(--tablet-large) {
        flex-basis: 33.33%;
    }
}

.o-flex--verticalMobile {
    @media(--mobile-max) {
        box: vertical;
    }
}

.o-flex__item--middle {
    box-item: center;
}