/*================ Flex ================*/

.o-flex {
    box: horizontal row;
    flex-wrap: wrap;
}

.o-flex__item {
    flex: 1;
    order: 1;

    @media(--mobile-max) {
		flex-basis: 100%;
	}
}

.o-flex__item--reverse {
	order: 2;

	@media(--mobile-max) {
		order: 1;
	}
}
.o-flex__item__is-left{
	order: 1;	
}
.o-flex__item--is-right{
	order: 1;
	
	@media(--mobile-large) {
		order: 2;
	}	
}
.o-flex__col-6 {
	flex-basis:100%;

	@media(--mobile-large) {
		flex-basis: 50%;
	}
}
.o-flex__col-8 {
	flex-basis:100%;

	@media(--mobile-large) {
		flex-basis: 66.66%;
	}
}

.o-flex__col-4 {
	flex-basis:100%;

	@media(--mobile-large) {
		flex-basis: 33.33%;
	}
}

.o-flex--verticalMobile {

    @media(--mobile-max) {
        box: vertical;
    }
}

.o-flex__item--middle {
    box-item: center;
}


