/*================ Site wrappers ================*/

.o-page{
    max-width: $width-wrapper-base;
    margin: 0px auto;
    background-color: #f3f3ea;
}

.o-page--fluid{
    width: $width-wrapper-fluid;
}


.o-row{
    margin: 0 auto;
    width: 100%;
}

.o-col{
    position: relative;
    /* width: 100%; */
    padding-left: .9375rem;
    padding-right: .9375rem;
    float: left;
    margin-bottom: 1.125rem;
    @media(--tablet-large) {
        padding-left: 0;
        }
}
.o-large-2 {
    width:100%;
    @media(--tablet-large) {
    width:29%;
    }
}
.o-large-10{
    width: 100%;
    @media(--tablet-large) {
        width:69%;
        }
}
.o-large-3{
    width:100%;
    @media(--tablet-large) {
    	width:23%;
    }
}
.o-large-4{
    width:100%;
    @media(--tablet-large) {
    	width:30%;
    }
}

.o-large-8 {
    width:100%;
    @media(--tablet-large) {
    	width: 66.66667%;
    }
}

@media(--tablet-large) {
 .o-large-push-8{
    position: relative;
    left: 64.86667%;
    right: auto;
    }
.o-large-pull-4{
    position: relative;
    right: 26.33333%;
    left: auto
    }
}


.o-medium-6{
    width:100%;
    @media(--mobile-large) {
    width: 50%;
} 
}

.o-medium-4 {
    width:100%;
    @media(--mobile-large) {
    	width: 33.33333%
	}
}
@media(--mobile-small-max) {
.o-small-6 {
    width: 50%;
}
}
@media(--mobile-large) {
    .o-col-medium-push-6 {
        position: relative;
        left: 50%;
        right: auto
    }

    .o-col-medium-pull-6 {
        position: relative;
        right: 50%;
        left: auto
    }
}
