<div class="o-wrapper">
    <div class="c-pageNot-found u-textCenter">
        <h1 class="c-headingHero">404</h1>
        <h2>Page Not Found</h2>
        <a href="/" class="c-link">Return to Homepage</a>
    </div>
</div>
