<div class="o-wrapper">
    <div class="c-shopifyPageHero u-textCenter">
        <h1 class="c-headingHero">404 Page</h1>
    </div>

    <div class="c-shopifyPageContent c-shopifyPageContent--mini">
        <h2 class="c-headingFour"><em>“Nice bluetooth douchebag.”</em></h2>

        <p>-One of the Sub_Urban Riot co-founders used to work in finance where his uniform was a suit, tie and, yep, a bluetooth in his ear. One day when he came home for work a friend made this comment to him. This empowering comment helped to birth Sub_Urban Riot.</p>

        <a class="c-btn c-btn--large-new" href="{{ shop.secure_url }}">Back to the Homepage</a>

    </div>

</div>
