<div class="c-home">
{% section 'home-hero-new' %}
{% section 'home-recommended-new' %}
{% section 'home-collection-new' %}
{% section 'home-recommended-2' %}
{% comment %} {% section 'home-info' %} {% endcomment %}
{% section 'home-products' %}
{% section 'home-banner-collection' %}
{% section 'home-testimonials' %}
{% section 'home-instagram' %}  
</div>