<div class="c-home">
{% section 'home-hero-new' %}
{% section 'home-recommended-new' %}
{% section 'home-collection-new' %}

{% section 'home-recommended-2' %}
{% section 'home-hero-2' %}
{% comment %} {% section 'home-info' %} {% endcomment %}
{% section 'home-shop-all' %}
{% section 'home-main-testimonial' %}
{% section 'home-testimonials' %}
{% section 'home-instagram' %}

</div>