<div class="o-wrapper">
    <div class="c-shopifyPageHero u-textCenter">
        <h1 class="c-headingHero">{{ page.title }}</h1>
    </div>
    <div class="c-shopifyPageContent c-shopifyPageContent--mini">
        {{ page.content }}
    </div>
</div>
