<div class="c-about">
{% section 'about-hero-section' %}

{% section 'about-single-image-one' %}

{% section 'about-double-image-one' %}

{% section 'about-single-image-two' %}

{% section 'about-double-image-two' %}

</div>