<div class="o-wrapper o-wrapper-background">
    <div class="c-shopifyPageContent c-shopifyPageContent--mini">
        <div class="c-cutomer-service">
            <div class="c-content-pages">
                <div class="c-cs-container">
                    <div class="c-page-head">
                    {{ page.content }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>   