<a  data-target-element="offcanvas-right" data-offcanvas-src="#offcanvas-right" class="header-cart-link header-cart-link--two js-header-panel  no-count js-offcanvas">
    <span class="icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 135.8 115" enable-background="new 0 0 135.8 115" xml:space="preserve"><path d="M113.8,84h-72c-2.6,0-4.9-1.9-5.4-4.4L22.7,11H0V0h27.2c2.6,0,4.9,1.9,5.4,4.4L36.1,22h94.1c1.8,0,3.4,0.8,4.4,2.3c1,1.4,1.3,3.3,0.8,4.9l-16.5,51C118.3,82.5,116.2,84,113.8,84z M46.3,73h63.5l12.9-40H38.3L46.3,73z"></path><circle cx="50" cy="103.9" r="11"></circle><circle cx="104.5" cy="103.9" r="11"></circle></svg></span>
    <span class="count">0</span>
</a>

<div id="header-cart" class="block block-cart skip-content  no-count">
	
<div id="minicart-error-message" class="minicart-message error"></div>
<div id="minicart-success-message" class="minicart-message success"></div>

<div class="minicart-wrapper">
        
    <a class="mini-cart-close" href="#" title="Close">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 71.831 71.831" enable-background="new 0 0 71.831 71.831" xml:space="preserve"><g><rect x="0.915" y="33.249" transform="matrix(0.7071 0.7071 -0.7071 0.7071 36.1513 -14.779)" width="70" height="6"></rect><rect x="0.915" y="33.249" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 86.9436 36.4848)" width="70" height="6"></rect></g></svg>
    </a>

            <ul id="cart-sidebar" class="mini-products-list mini-products-list--empty">
            <li>
                <div class="mini-cart-empty-img"></div>
                <div class="mini-cart-empty-line"></div>
                <div class="mini-cart-empty-line"></div>
                <div class="mini-cart-empty-line"></div>
            </li>
        </ul>

        <p class="mini-cart-empty-heading">Your cart is empty</p>
        <p class="mini-cart-empty-desc">Items you add to cart will appear here</p>
    </div>
</div>	