<div id="offcanvas-left" class="c-offcanvas c-offcanvas--left" aria-hidden="true">
    <button type="button" class="c-offcanvas__close" aria-label="Close Menu">
        <svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="home" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                <g id="375-03-home-menu@2x" transform="translate(-329.000000, -29.000000)" stroke-width="2" stroke="#000000">
                    <g id="icon-close" transform="translate(330.000000, 30.000000)">
                        <g id="error-1">
                            <path d="M0,0 L14,14" id="Line"></path>
                            <path d="M0,0 L14,14" id="Line-Copy" transform="translate(7.000000, 7.000000) scale(-1, 1) translate(-7.000000, -7.000000) "></path>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
    </button>

    <div class="c-mobileNavContainer">

        <div class="c-mobileNav__intro">
            <svg class="c-mobileNav__accountIcon" width="18px" height="18px" viewBox="0 0 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="home" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="375-03-home-menu@2x" transform="translate(-30.000000, -42.000000)" fill-rule="nonzero" fill="#000000">
                        <g id="menu" transform="translate(30.000000, 40.000000)">
                            <path d="M9,11 C6.51477273,11 4.5,8.98522727 4.5,6.5 C4.5,4.01477273 6.51477273,2 9,2 C11.4852273,2 13.5,4.01477273 13.5,6.5 C13.5,8.98522727 11.4852273,11 9,11 Z M9,9.36363636 C10.0230787,9.36363639 10.9684425,8.81783038 11.4799819,7.9318182 C11.9915213,7.04580602 11.9915213,5.95419398 11.4799819,5.0681818 C10.9684425,4.18216962 10.0230787,3.63636361 9,3.63636364 C7.41845733,3.63636367 6.1363637,4.91845733 6.1363637,6.5 C6.1363637,8.08154267 7.41845733,9.36363633 9,9.36363636 L9,9.36363636 Z M17.5160455,15.158 C17.6592273,15.4697273 17.7598636,15.9189091 17.8474091,16.5153636 C17.9080756,16.9333152 17.9551459,17.3531276 17.9885455,17.7741364 L17.9979545,17.8964545 L18,17.9545455 C18.0000008,19.0832609 17.0857147,19.9986455 15.957,20 L2.043,20 C0.914285327,19.9986455 -8.12675442e-07,19.0832609 0,17.9545455 L0.00204545455,17.8964545 L0.0114545455,17.7741364 C0.0464062473,17.3532776 0.0934712118,16.9335127 0.152590909,16.5153636 C0.240136364,15.9189091 0.340772727,15.4697273 0.483954545,15.158 C1.11272727,13.7928636 5.74159091,11.8181818 9,11.8181818 C12.2584091,11.8181818 16.8872727,13.7928636 17.5160455,15.158 Z M15.9463636,15.7814545 C15.8318182,15.6812273 15.6681818,15.5609545 15.4656818,15.4308636 C15.0124091,15.1391818 14.4135,14.8274545 13.752,14.5451818 C12.1663636,13.8685455 10.4657727,13.4545455 9,13.4545455 C7.53422727,13.4545455 5.83404545,13.8685455 4.248,14.5451818 C3.5865,14.8274545 2.98759091,15.1391818 2.53431818,15.4308636 C2.33222727,15.5609545 2.16818182,15.6812273 2.05363636,15.7814545 C2.01109091,15.8190909 1.97836364,15.851 1.95668182,15.8751364 C1.90145455,16.0199545 1.83190909,16.3419091 1.77177273,16.7530455 C1.73127273,17.0271364 1.69690909,17.3233182 1.66827273,17.6203182 C1.65354545,17.7733182 1.64290909,17.8968636 1.63677273,17.9766364 C1.64845922,18.1927988 1.82652517,18.3624367 2.043,18.3636364 L15.957,18.3636364 C16.1734748,18.3624367 16.3515408,18.1927988 16.3632273,17.9766364 C16.3570909,17.8968636 16.3468636,17.7733182 16.3317273,17.6207273 C16.304289,17.3307013 16.2697788,17.0413879 16.2282273,16.7530455 C16.1680909,16.3419091 16.0985455,16.0199545 16.0433182,15.8751364 C16.0128393,15.84206 15.9804667,15.8107801 15.9463636,15.7814545 Z" id="Shape"></path>
                        </g>
                    </g>
                </g>
            </svg>

            {% if customer %}
                <span class="c-mobileNav__welcome">Hey {{ customer.first_name }}</span>


                <a class="c-mobileNav__welcomeLink" href="/account/logout">Sign Out 
                    <svg class="c-mobileNavWelcomeLink__arrow" width="23px" height="12px" viewBox="0 0 23 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Symbols" class="c-mobileNavWelcomeLink__arrowPath" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                            <g id="375-happy-alcoholidays" transform="translate(-316.000000, -244.000000)">
                                <g id="happy-alcoholidays">
                                    <g id="text" transform="translate(309.000000, 0.000000)">
                                        <g id="arrow" transform="translate(18.500000, 250.000000) rotate(-90.000000) translate(-18.500000, -250.000000) translate(13.000000, 239.000000)">
                                            <path d="M5.20127143,21.6102857 L5.20127143,0" id="Stroke-420"></path>
                                            <polyline id="Stroke-421" points="10.4028571 16.4087 5.20142857 21.6101286 0 16.4087"></polyline>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                </a>
            {% else %}
                <span class="c-mobileNav__welcome">Hey You</span>

                <a class="c-mobileNav__welcomeLink" href="/account/login">Sign In 
                    <svg class="c-mobileNavWelcomeLink__arrow" width="23px" height="12px" viewBox="0 0 23 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Symbols" class="c-mobileNavWelcomeLink__arrowPath" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                            <g id="375-happy-alcoholidays" transform="translate(-316.000000, -244.000000)">
                                <g id="happy-alcoholidays">
                                    <g id="text" transform="translate(309.000000, 0.000000)">
                                        <g id="arrow" transform="translate(18.500000, 250.000000) rotate(-90.000000) translate(-18.500000, -250.000000) translate(13.000000, 239.000000)">
                                            <path d="M5.20127143,21.6102857 L5.20127143,0" id="Stroke-420"></path>
                                            <polyline id="Stroke-421" points="10.4028571 16.4087 5.20142857 21.6101286 0 16.4087"></polyline>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                </a>
            {% endif %}
        </div>

        <div class="c-mobileNav__search">
            <form class="c-searchForm" action="/search">
                <div class="c-searchForm__inputGroup">
                    <svg class="c-searchForm__searchIcon" width="18px" height="18px" viewBox="0 0 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="home" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="375-03-home-menu@2x" transform="translate(-45.000000, -93.000000)" fill-rule="nonzero" fill="#000000">
                                <g id="menu" transform="translate(30.000000, 40.000000)">
                                    <path d="M28.1170086,64.9599248 L32.7603601,69.6032763 C33.07988,69.9227961 33.07988,70.4408402 32.7603601,70.7603601 C32.4408402,71.07988 31.9227961,71.07988 31.6032763,70.7603601 L26.9599248,66.1170086 C25.7001941,67.124704 24.1022839,67.7272727 22.3636364,67.7272727 C18.2968123,67.7272727 15,64.4304604 15,60.3636364 C15,56.2968123 18.2968123,53 22.3636364,53 C26.4304604,53 29.7272727,56.2968123 29.7272727,60.3636364 C29.7272727,62.1022839 29.124704,63.7001941 28.1170086,64.9599248 L28.1170086,64.9599248 Z M22.3636364,66.0909091 C25.5267218,66.0909091 28.0909091,63.5267218 28.0909091,60.3636364 C28.0909091,57.200551 25.5267218,54.6363636 22.3636364,54.6363636 C19.200551,54.6363636 16.6363636,57.200551 16.6363636,60.3636364 C16.6363636,63.5267218 19.200551,66.0909091 22.3636364,66.0909091 Z" id="Combined-Shape"></path>
                                </g>
                            </g>
                        </g>
                    </svg>
                    <input type="hidden" name="type" value="product">
                    <input class="c-searchForm__input" type="text" placeholder="Search Something" name="q" value="{{ search.terms | escape }}"  />
                    <span class="c-searchForm__inputGroupButton">
                        <button type="submit" class="c-btn c-searchForm__submit" name="commit" id="Subscribe">GO</button>
                    </span>
                </div>
            </form>
        </div>

        <nav class="c-mobileNav">
            <ul class="c-mobileNav__menu">
                {% for link in linklists.mobile-main-menu.links %}
                    <li class="c-mobileNav__item">
                        <a class="c-mobileNav__itemLink {% if link.active %} is-active {% endif %}" href="{{ link.url }}">{{ link.title }}</a>
                    </li>
                {% endfor %}                
            </ul>
        </nav>
    </div>
</div>
