<div id="offcanvas-left" class="c-offcanvas c-offcanvas--left" aria-hidden="true">
    <button type="button" class="c-offcanvas__close" aria-label="Close Menu">
        <svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="home" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                <g id="375-03-home-menu@2x" transform="translate(-329.000000, -29.000000)" stroke-width="2" stroke="#000000">
                    <g id="icon-close" transform="translate(330.000000, 30.000000)">
                        <g id="error-1">
                            <path d="M0,0 L14,14" id="Line"></path>
                            <path d="M0,0 L14,14" id="Line-Copy" transform="translate(7.000000, 7.000000) scale(-1, 1) translate(-7.000000, -7.000000) "></path>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
    </button>

    <div class="c-mobileNavContainer">

        
        <nav class="c-mobileNav">
            <ul class="c-mobileNav__menu">
                {% for link in linklists.main-menu.links %}
                    <li class="c-mobileNav__item">
                        <a class="c-mobileNav__itemLink {% if link.active %} is-active {% endif %}" href="{{ link.url }}">{{ link.title }}</a>
                    </li>
                {% endfor %}  
                <li class="c-mobileNav__item">
                        <a class="c-mobileNav__itemLink c-menu_item__quiker-links c-menu__item--can">CAN</a>
                    </li>  
                    <li class="c-mobileNav__item">
                                   <a class="c-mobileNav__itemLink c-menu_item__quiker-links c-menu__item--aus">AUS</a>
                    </li> 
                           <li class="c-mobileNav__item">
                                  <a class="c-mobileNav__itemLink c-menu__item--help">Help</a>
                    </li> 
                           <li class="c-mobileNav__item">
                                  <a class="c-mobileNav__itemLink c-menu__item--signin">Sign in</a>
                    </li> 
                           <li class="c-mobileNav__item">
                                   <div class="c-mobileNav__itemLink c-menu_item__quiker-links c-menu__item--cart header__cart">{% include 'cart-logo' %}</div>
                    </li>             
            </ul>
        </nav>  
    </div>
</div>
 