<footer class="c-footer">
    <div class="c-footer__container o-wrapper--footer u-clearFix">
        <div class="o-flex c-footer_content">
            <div class="o-flex__item o-flex__col-lg-4 o-flex__item--reverse">

                {% include 'header-logo' %}

                <p class="c-strapline-text">Nature provides us with the perfect foods for our health and wellbeing, but they’re not always convenient to get. At Vimergy, we aim to simplify your health without sacrificing the purity and nutrients your body loves. Pure USDA Organic Greens and Mushroom extracts you can rely on.</p>
            </div>
            <div class="o-flex__item o-flex__col-lg-8 ">
                <div class="o-flex">
                    <div class="o-flex__item o-flex__col-3">
                        <nav>
                            <h5 class="c-footer__title">Account</h5>
                            <ul>
                                <li><a class="c-footer__link {% if link.active %} is-active {% endif %} " href="https://vimergy.myshopify.com/account">My Account</a></li>
                                <li><a class="c-footer__link {% if link.active %} is-active {% endif %} " href="https://vimergy.myshopify.com/cart">My Cart</a></li>
                                <li><a class="c-footer__link {% if link.active %} is-active {% endif %} " href="https://vimergy.myshopify.com/cart">Checkout</a></li>

                                {% unless customer.has_account  == true %}

                                    <li><a class="c-footer__link {% if link.active %} is-active {% endif %} " href="https://vimergy.myshopify.com/account/register">Register</a></li>
                                    <li><a class="c-footer__link {% if link.active %} is-active {% endif %} " href="https://vimergy.myshopify.com/account/login">Log In</a></li>

                                {% endunless %}
                            </ul>
                        </nav>
                    </div>
                    <div class="o-flex__item o-flex__col-3">
                        <nav>
                            <h5 class="c-footer__title">Products</h5>
                            <ul>

                                {% for link in linklists.products.links %}

                                <li><a class="c-footer__link {%  if link.active %} is-active {% endif %}" href="{{ link.url }}">{{ link.title }}</a></li>

                                {% endfor %}

                            </ul>
                        </nav>
                    </div>
                    <div class="o-flex__item o-flex__col-3">
                        <nav>
                            <h5 class="c-footer__title">Our Company</h5>
                            <ul>

                                {% for link in linklists.our-company.links %}

                                <li><a class="c-footer__link {% if link.active %} is-active {% endif %}" href="{{ link.url }}">{{ link.title }}</a></li>

                                {% endfor %}
                            </ul>
                        </nav>
                    </div>
                    <div class="o-flex__item c-footer__social o-flex__col-3">
                        <h5 class="c-footer__title">Connect</h5>
                        <ul>
                            <li><a class="s-icon icon-instagram-dark" href="https://www.instagram.com/vimergy/" target="_blank">Instagram</a></li>
                            <li><a class="s-icon icon-facebook-dark" href="https://www.facebook.com/Vimergy/" target="_blank">Facebook</a></li>
                            <li><a class="s-icon icon-twitter-dark" href="https://twitter.com/vimergy" target="_blank">Twitter</a></li>
                        </ul>
                        <br>
                        <h5 class="c-footer__title c-store">Store</h5>
                        <ul>
                            <li><a class="s-icon  icon-uk" href="http://www.aggressivehealthshop.com/popular-brands-a-to-z/t-z-brands/vimergy.html" target="_blank">UK</a></li>
                            <li><a class="s-icon  icon-can" href="https://www.amazon.ca/s/ref=nb_sb_noss?url=search-alias%3Daps&amp;field-keywords=Vimergy&amp;rh=i%3Aaps%2Ck%3AVimergy" target="_blank">CAN</a></li>
                            <li><a class="s-icon  icon-aus" href="https://floweroflife.com.au" target="_blank">AUS</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-footer-disclaimer">

            <p><span>© 2018 Vimergy LLC | ® All Rights Reserved. </span> <br>Disclaimer: The health information on this site is provided as an information resource only, and is not to be used or relied on for any diagnostic or treatment purposes. This information is not intended to be patient education, does not create any patient-physician relationship, and should not be used as a substitute for professional diagnosis and treatment. The health information on this site is provided as an information resource only, and is not to be used or relied on for any diagnostic or treatment purposes. This information is not intended to be patient education, does not create any patient-physician relationship, and should not be used as a substitute for professional diagnosis and treatment.&nbsp;</p>
        </div>
    </div>
</footer>