<nav class="c-headerNav c-headerNav--secondary">


    <div class="c-header__search">
        <form class="c-searchForm" action="/search">
            <div class="c-searchForm__inputGroup">
                <svg class="c-searchForm__searchIcon" width="18px" height="18px" viewBox="0 0 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="home" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="375-03-home-menu@2x" transform="translate(-45.000000, -93.000000)" fill-rule="nonzero" fill="#000000">
                            <g id="menu" transform="translate(30.000000, 40.000000)">
                                <path d="M28.1170086,64.9599248 L32.7603601,69.6032763 C33.07988,69.9227961 33.07988,70.4408402 32.7603601,70.7603601 C32.4408402,71.07988 31.9227961,71.07988 31.6032763,70.7603601 L26.9599248,66.1170086 C25.7001941,67.124704 24.1022839,67.7272727 22.3636364,67.7272727 C18.2968123,67.7272727 15,64.4304604 15,60.3636364 C15,56.2968123 18.2968123,53 22.3636364,53 C26.4304604,53 29.7272727,56.2968123 29.7272727,60.3636364 C29.7272727,62.1022839 29.124704,63.7001941 28.1170086,64.9599248 L28.1170086,64.9599248 Z M22.3636364,66.0909091 C25.5267218,66.0909091 28.0909091,63.5267218 28.0909091,60.3636364 C28.0909091,57.200551 25.5267218,54.6363636 22.3636364,54.6363636 C19.200551,54.6363636 16.6363636,57.200551 16.6363636,60.3636364 C16.6363636,63.5267218 19.200551,66.0909091 22.3636364,66.0909091 Z" id="Combined-Shape"></path>
                            </g>
                        </g>
                    </g>
                </svg>
                <input type="hidden" name="type" value="product">
                <input class="c-searchForm__input" type="text" placeholder="Search Something" name="q" value="{{ search.terms | escape }}"  />
                <span class="c-searchForm__inputGroupButton">
                    <button type="submit" class="c-btn c-searchForm__submit" name="commit" id="Subscribe">GO</button>
                </span>
            </div>
        </form>
    </div>    

    <a class="c-headerIconLink js-search-open c-headerIconLink--search">        
        <svg class="c-headerIcon" width="22px" height="22px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="style-guide" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="elements" transform="translate(-1223.000000, -39.000000)" fill-rule="nonzero" fill="#000000">
                    <g id="header">
                        <g id="icons" transform="translate(1223.000000, 39.000000)">
                            <g id="search">
                                <path d="M16.0318993,14.6176858 L21.7071068,20.2928932 C22.0976311,20.6834175 22.0976311,21.3165825 21.7071068,21.7071068 C21.3165825,22.0976311 20.6834175,22.0976311 20.2928932,21.7071068 L14.6176858,16.0318993 C13.078015,17.2635272 11.1250137,18 9,18 C4.02943725,18 0,13.9705628 0,9 C0,4.02943725 4.02943725,0 9,0 C13.9705628,0 18,4.02943725 18,9 C18,11.1250137 17.2635272,13.078015 16.0318993,14.6176858 L16.0318993,14.6176858 Z M9,16 C12.8659933,16 16,12.8659933 16,9 C16,5.13400675 12.8659933,2 9,2 C5.13400675,2 2,5.13400675 2,9 C2,12.8659933 5.13400675,16 9,16 Z" id="Combined-Shape"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
    </a>

    <a class="c-headerIconLink" href="{{ shop.secure_url }}/pages/store-locator">
        <svg class="c-headerIcon" width="19px" height="22px" viewBox="0 0 19 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="style-guide" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="elements" transform="translate(-1272.000000, -39.000000)" fill-rule="nonzero" fill="#000000">
                    <g id="header">
                        <g id="icons" transform="translate(1223.000000, 39.000000)">
                            <g id="locator" transform="translate(49.000000, 0.000000)">
                                <path d="M15.7972821,15.6737778 L9.92579487,21.2446667 C9.55018414,21.6010244 8.96263638,21.6010244 8.58702564,21.2446667 L2.71553846,15.6737778 C0.978448234,13.9622516 -0.000135148553,11.6218414 -0.000135148553,9.17888889 C-0.000135148553,6.73593642 0.978448234,4.39552617 2.71553846,2.684 C6.3294359,-0.894666667 12.1833846,-0.894666667 15.7972821,2.684 C17.5343723,4.39552617 18.5129557,6.73593642 18.5129557,9.17888889 C18.5129557,11.6218414 17.5343723,13.9622516 15.7972821,15.6737778 L15.7972821,15.6737778 Z M14.4283077,4.07586667 C11.5734359,1.24862222 6.93938462,1.24862222 4.08451282,4.07586667 C1.23694872,6.89577778 1.23694872,11.462 4.06989744,14.2672444 L9.25641026,19.1888889 L14.4351282,14.2750667 C15.7981823,12.9303283 16.5653365,11.0921801 16.5640537,9.17403069 C16.562771,7.25588131 15.7931591,5.41876796 14.4283077,4.07586667 Z M9.25641026,13.2 C7.10391585,13.2 5.35897436,11.4489359 5.35897436,9.28888889 C5.35897436,7.12884187 7.10391585,5.37777778 9.25641026,5.37777778 C11.4089047,5.37777778 13.1538462,7.12884187 13.1538462,9.28888889 C13.1538462,11.4489359 11.4089047,13.2 9.25641026,13.2 Z M9.25641026,11.2444444 C10.3326575,11.2444444 11.2051282,10.3689124 11.2051282,9.28888889 C11.2051282,8.20886538 10.3326575,7.33333333 9.25641026,7.33333333 C8.18016305,7.33333333 7.30769231,8.20886538 7.30769231,9.28888889 C7.30769231,10.3689124 8.18016305,11.2444444 9.25641026,11.2444444 Z" id="Shape"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </svg>        
    </a>

    <a class="c-headerIconLink" href="{{ shop.secure_url }}/account/">
        <svg class="c-headerIcon" width="22px" height="22px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="style-guide" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="elements" transform="translate(-1318.000000, -39.000000)" fill-rule="nonzero" fill="#000000">
                    <g id="header">
                        <g id="icons" transform="translate(1223.000000, 39.000000)">
                            <g id="account" transform="translate(95.000000, 0.000000)">
                                <path d="M11,11 C7.9625,11 5.5,8.5375 5.5,5.5 C5.5,2.4625 7.9625,0 11,0 C14.0375,0 16.5,2.4625 16.5,5.5 C16.5,8.5375 14.0375,11 11,11 Z M11,9 C12.2504296,9.00000003 13.4058742,8.3329038 14.031089,7.25000002 C14.6563038,6.16709624 14.6563038,4.83290376 14.031089,3.74999998 C13.4058742,2.6670962 12.2504296,1.99999997 11,2 C9.0670034,2.00000004 7.50000007,3.5670034 7.50000007,5.5 C7.50000007,7.4329966 9.0670034,8.99999996 11,9 L11,9 Z M21.4085,16.082 C21.5835,16.463 21.7065,17.012 21.8135,17.741 C21.8876479,18.2518297 21.9451783,18.7649337 21.986,19.2795 L21.9975,19.429 L22,19.5 C22.000001,20.8795411 20.8825402,21.9983446 19.503,22 L2.497,22 C1.11745984,21.9983446 -9.93269984e-07,20.8795411 0,19.5 L0.0025,19.429 L0.014,19.2795 C0.0567187467,18.765117 0.114242592,18.252071 0.1865,17.741 C0.2935,17.012 0.4165,16.463 0.5915,16.082 C1.36,14.4135 7.0175,12 11,12 C14.9825,12 20.64,14.4135 21.4085,16.082 Z M19.49,16.844 C19.35,16.7215 19.15,16.5745 18.9025,16.4155 C18.3485,16.059 17.6165,15.678 16.808,15.333 C14.87,14.506 12.7915,14 11,14 C9.2085,14 7.1305,14.506 5.192,15.333 C4.3835,15.678 3.6515,16.059 3.0975,16.4155 C2.8505,16.5745 2.65,16.7215 2.51,16.844 C2.458,16.89 2.418,16.929 2.3915,16.9585 C2.324,17.1355 2.239,17.529 2.1655,18.0315 C2.116,18.3665 2.074,18.7285 2.039,19.0915 C2.021,19.2785 2.008,19.4295 2.0005,19.527 C2.0147835,19.7911986 2.23241965,19.9985337 2.497,20 L19.503,20 C19.7675803,19.9985337 19.9852165,19.7911986 19.9995,19.527 C19.992,19.4295 19.9795,19.2785 19.961,19.092 C19.9274644,18.7375238 19.8852852,18.3839186 19.8345,18.0315 C19.761,17.529 19.676,17.1355 19.6085,16.9585 C19.571248,16.9180733 19.5316815,16.8798424 19.49,16.844 Z" id="Shape"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
    </a>

    <a class="c-headerIconLink c-headerIconLink--bag js-offcanvas" data-offcanvas-src="#offcanvas-right">
        <svg class="c-headerIcon" width="20px" height="22px" viewBox="0 0 20 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="style-guide" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="elements" transform="translate(-1370.000000, -39.000000)" fill-rule="nonzero" fill="#000000">
                    <g id="header">
                        <g id="icons" transform="translate(1223.000000, 39.000000)">
                            <g id="shopping-bag" transform="translate(147.000000, 0.000000)">
                                <path d="M5.5,5 L5.5,5 L5.5,4.5 C5.5,2.01767393 7.51599125,0 10,0 C12.4849482,0 14.5,2.01605332 14.5,4.5 L14.5,5 L16.1134793,5 C17.4571148,5 18.6261729,6.05312555 18.7625886,7.39171115 L19.9869194,19.4055184 C20.1308828,20.8181668 19.0653232,22 17.6476171,22 L2.35244502,22 C0.931739545,22 -0.13124108,20.8222911 0.013142665,19.4055184 L1.23747352,7.39171115 C1.37349898,6.0569545 2.54532451,5 3.88658275,5 L5.5,5 Z M5.5,7 L3.88658275,7 C3.570763,7 3.259104,7.28110785 3.227168,7.59448155 L2.00283715,19.6082889 C1.97853424,19.8467624 2.11684394,20 2.35244502,20 L17.6476171,20 C17.8797221,20 18.0211578,19.843131 17.9972249,19.6082889 L16.7728941,7.59448155 C16.7406231,7.2778209 16.4322185,7 16.1134793,7 L14.5,7 L14.5,9 C14.5,9.55228475 14.0522847,10 13.5,10 C12.9477152,10 12.5,9.55228475 12.5,9 L12.5,7 L7.5,7 L7.5,9 C7.5,9.55228475 7.05228475,10 6.5,10 C5.94771525,10 5.5,9.55228475 5.5,9 L5.5,7 Z M12.5,5 L12.5,4.0769231 C12.5,2.93048615 11.3805268,2 10,2 C8.61999515,2 7.5,2.93123412 7.5,4.0769231 L7.5,5 L12.5,5 Z" id="Combined-Shape"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
    </a>
</nav>