<div class="c-pagination">
    {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', 'Next <svg class="" width="23px" height="12px" viewBox="0 0 23 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Symbols" class="c-pagination__arrow" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                    <g id="375-happy-alcoholidays" transform="translate(-316.000000, -244.000000)">
                        <g id="happy-alcoholidays">
                            <g id="text" transform="translate(309.000000, 0.000000)">
                                <g id="arrow" transform="translate(18.500000, 250.000000) rotate(-90.000000) translate(-18.500000, -250.000000) translate(13.000000, 239.000000)">
                                    <path d="M5.20127143,21.6102857 L5.20127143,0" id="Stroke-420"></path>
                                    <polyline id="Stroke-421" points="10.4028571 16.4087 5.20142857 21.6101286 0 16.4087"></polyline>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>' }}
</div>
