<div class="c-subscribe" id="subscribeCopy">
	<div class="o-flex column">
         <div class="o-flex__item o-flex__col-6 ">
        <h2>Sign up for our newsletter, recipes and exclusive offers</h2>
         </div>
          <div class="o-flex__item o-flex__col-6 ">
          	<div id="mailchimp">
			<!-- Begin MailChimp Signup Form -->
			<div id="mc_embed_signup">
				<form action="//vimergy.us1.list-manage.com/subscribe/post?u=a6bc5c7385855c7a8ee162222&amp;id=3993fcae1c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
					<div class="input-group mc-field-group">
						<input type="email" value="" name="EMAIL" placeholder="Your email address" class="required email form-field">
						<button type="submit" id="mc-embedded-subscribe" class="c-btn secondary green">Submit</button>
					</div>
					<div id="mce-responses" class="clear">
					    <div class="response" id="mce-error-response" style="display:none"></div>
					    <div class="response" id="mce-success-response" style="display:none"></div>
					</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
					<div style="position: absolute; left: -5000px;">
					    <input type="text" name="b_a6bc5c7385855c7a8ee162222_3993fcae1c" tabindex="-1" value="">
					</div>
				</form>
			</div>
		</div>
        </div>  
    </div>
</div>
		 