<div class="c-iconSection">
    <ul class="c-icons">
        <li>
            {% include 'icon-vegan' %}
            <span>Vegan</span>
        </li>
        <li>
            {% include 'icon-paleo-fy' %}
            <span>Paleo</span>
        </li>
        <li>
            {% include 'icon-organic' %}
            <span>Organic</span>
        </li>
        <li>
            {% include 'icon-paleo' %}
            <span>Paleo</span>
        </li>
    </ul>
</div>