button {
    display: $button-display;
    width: $button-width;
    margin: $button-margin;
    padding: $button-padding;
    font-family: $button-font-family;
    font-weight: $button-font-weight;
    font-size: $button-font-size;
    text-transform: uppercase;
    line-height: $button-line-height;
    color: $button-color;
    letter-spacing: 2px;
    background-image: none; /* Reset unusual Firefox-on-Android default style */
    background-color: $color-vimergy-orange;
    border: 1px solid $color-vimergy-orange;
    border-radius: 0;
    cursor: $button-cursor;
    vertical-align: middle;
    transition: $button-transition;

    &::-moz-focus-inner {
        padding: 0;
        border: 0;
    }

    &:focus,
    &:active {
        color: $color-white;
        background-color: $color-vimergy-orange-hover;
        border-color: $color-vimergy-orange-hover;
    }

    &:hover {
        color: $color-white;
        background-color: $color-vimergy-orange-hover;
        border-color: $color-vimergy-orange-hover;
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        opacity: $button-disabled-opacity;
        cursor: default;
        pointer-events: none; /* Disabling of clicks */
    }
}
