/* about banner */
.c-about {
    background-color:$color-white;
}

.c-about-banner__img img {
    width: 100%;
    vertical-align: bottom;
}

.c-about__content {
    max-width:490px;
}
.c-about-banner {
    min-height: 500px;
}

.c-home-hero-info .c-heading {
    color:$color-white;
}

.c-about-bannerFull  {

    .c-home-hero-info {
        max-width:760px;
        width: 100%;
    }
}

.c-about-banner .c-productCol__detail {
    max-width: 490px;
}

.c-about-banner-1 .c-about__content {
    max-width: 400px;
}

.c-about-banner__info {
    padding: 40px 20px;

    @media(--tablet){
        padding:15px;
    }
}

/* about-product-cards */

.c-product-cards {
    padding: 2.1875rem 0 .625rem;
    background-image: url("../pattern.jpg");
    @media(--tablet-large) {
        padding: 5.5625rem 0 5.75rem;
    }
}

.c-product-wrapper {
    max-width: 84.6875rem;
    margin: 0 auto;
}

.c-product-cards .o-row {
    max-width: 84.6875rem;
}

.c-product-cards__list .o-flex__item {
    margin-bottom: 1.375rem;
    padding-right: .5rem;
    padding-left: .5rem
}

.c-product-cards__heading {
    margin-bottom: 1.5rem;
    font-size: 1.6875rem;
    font-weight: 700;
    text-align: center;
    @media(--tablet-large) {
        margin-bottom: 2.5rem;
        font-size: 2.25rem;
    }
}

.c-product-cards__list {
    @media(--mobile-large) {
        display: flex;
        flex-wrap: wrap;
    }
}

.c-product-cards__list .o-flex__item {
    @media(--mobile-large) {
        display: flex;
    }
}

.c-product-card {
    width: 100%;
    max-width: 31rem;
    margin: 0 auto;
    border: 1px solid #d9dee8;
    border-radius: 2px;
    background-color: #fff
}

.c-product-card__img img {
    display: block;
    width: 100%
}

.c-product-card__info {
    padding: 1.125rem 1.25rem;
    @media(--tablet-large) {
        padding: 1rem 1.6875rem;
    }
}

.c-product-card__name {
    margin-bottom: .625rem;
    font-weight: 600;
    line-height: 1.4;
    @media(--desktop-medium) {
        margin-bottom: .9375rem;
        font-size: 1.375rem
    }
}

.c-product-card__desc {
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.7;
    @media(--desktop-medium) {
        font-size: 1.0625rem;
    }
}

.c-page-404 {
    background: $color-white;
    border-top:1px solid #f2f2f2;
}

.c-pageNot-found {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 610px;
    flex-direction: column;

    @media(--mobile-max){
        height:400px;
    }
}
.c-pageNot-found h2 {
    font-weight:normal;
}

.c-pageNot-found .c-link {
    margin-top: 20px;
    color: #e3732b;
    display: inline-block;
    padding-bottom: 4px;
    font-weight: 600;
    border-bottom: 1px solid;
}