.c-abtDblImgSection {
    padding-top: 30px;
    margin-bottom: 73px;

    @media (--tablet-large) {
        display: flex;
        flex-direction: row;
        padding-top: 0;
        margin-bottom: 110px;
    }
}
    
    .c-abtDblImg__contentSection {
        margin: 0 auto 33px;
        padding: 0 28px;

        @media (--tablet-large) {
            padding: 0;
            margin-bottom: 87px;
            position: relative;
            flex: 1.5;
            display: flex;
            flex-direction: column;
            /* padding-top: 28px; */
            text-align: left;
            align-items: flex-start;
            justify-content: flex-start;
        }
    }

        .c-abtDblImg__contentInner {
            @media (--tablet-large) {
                padding: 228px 74px 0 14%;
            }

            &.c-abtDblImg__contentInner--two {
                @media (--tablet-large) {
                    padding: 228px 74px 0 10%;
                }
            }            
        }

        .c-abtDblImg__introText {
            margin: 0 0 45px;
            margin-right: -4px;
            font-family: $font-family-display;
            font-weight: $font-weight-normal;
            font-size: 33px;
            line-height: 1;
            color: $color-black;
            transform: rotate(-3deg);

            @media (--tablet) {
                margin: 0 0 45px;
                /* position: absolute; */
                /* top: 16px; */
                /* left: 40px; */
                /* font-size: 28px; */
                text-align: left;
            }

            @media (--tablet-large) {
                margin: 0 0 45px;
                position: absolute;
                /* top: 16px; */
                /* left: 40px; */
                /* font-size: 28px; */
                text-align: left;                
                top: 45px;
                left: 14%;
                font-size: 48px;                
            }

            &.c-abtDblImg__introText--two {
                @media (--tablet-large) {
                    left: 10%;
                }
            }               
        }

        .c-abtDblImg__title {
            margin: 0 0 26px;
            padding-left: 0;
            font-family: $font-family-primary-bold;
            font-weight: $font-weight-bold;
            font-size: 48px;
            line-height: 44px;
            letter-spacing: -2.78px;
            color: $color-black;

            @media (--tablet) {
                margin-bottom: 31px;
                padding: 0;
                /* font-size: 45px; */
                /* line-height: 43px; */
                letter-spacing: -4px;
            }          

            @media (--tablet-large) {
                font-size: 53px;
                line-height: 54px;                
            }

            @media (--desktop) {
                font-size: 69px;
                line-height: 67px; 
            }
        }

        .c-abtDblImg__content {
            font-size: 13px;
            line-height: 22px;  
            color: $color-black;

            @media (--tablet-large) {
                /* max-width: 380px; */
            }

            p {
                margin-bottom: 22px;
            }
        }        
   
    .c-abtDblImg__imageSection {
        position: relative;
        lost-utility: clearfix;

        @media (--tablet) {
            margin-top: 6px;
            flex: 1.5;
        }
    }

        .c-abtDblImg__imageMobile {
            display: block;
            margin: 0 auto;
            width: 100%;
            max-width: 500px;
            margin-bottom: 6px;

            @media (--mobile-large) {
                lost-column: 1/2 2 6px;
            }

            @media (--tablet-large) {
                display: none;
            }
        }

        .c-abtDblImg__imageBox {
            display: none;

            @media (--tablet-large) {
                display: block;
            }
        }

            .c-abtDblImg__caption {
                display: none;

                @media (--tablet-large) {
                    display: block;
                    margin-top: 20px;
                    font-size: 13px;
                    line-height: 18px;
                }
            }

            .c-abtDblImg__imageBox--one {
                position: absolute;
                width: 41%;
                top: 0;
                left: 0;

                .c-abtDblImg__imageDesktop {
                    border-right: 6px solid white;
                    border-bottom: 6px solid white;                    
                }
            }

            .c-abtDblImg__imageBox--two {
                float: right;
                width: 74%;
                padding-top: 90px;

                .c-abtDblImg__imageDesktop {

                }                
            }                

            .c-abtDblImg__imageDesktop {
                display: none;

                @media (--tablet-large) {
                    display: block;
                }
            }


