.c-about {
    @media (--tablet) {
        padding-top: 30px;
    }

    .c-hpCGridSection {
        @media (--mobile-max) {
            margin-bottom: 74px;
        }

        @media (--tablet) {
            margin-bottom: 116px;
        }
    }

    .c-hpSingleImgSection {
        @media (--mobile-max) {
            margin-bottom: 75px;
        }
    }
}