
.c-accordion {
    margin: 0;
}

.c-accordion__nav {
    display: block;
    margin: 0 0 1px;
    padding: 10px 15px;    
    color: $color-black;
    font-weight: 400;
    background-color: #f6f6f6;
    cursor: pointer;

    &.is-active {
        color: $color-white;
        background-color: gray;
    }
}

.c-accordion__panel {
    display: none;
    margin: 0;
    padding: 10px 0;
 
    .no-js &,
    &.is-active {
        display: block;  
    }
}