.c-btn,
.shopify-challenge__button,
.button {
    display: $button-display;
    width: $button-width;
    margin: $button-margin;
    padding: $button-padding;
    font-family: $button-font-family;
    font-weight: $button-font-weight;
    font-size: $button-font-size;
    text-transform: uppercase;
    line-height: $button-line-height;
    color: $button-color;
    letter-spacing: 2px;
    background-image: none;
    /* Reset unusual Firefox-on-Android default style */
    background-color: $button-background;
    border: 3px solid $button-border;
    border-radius: 0;
    cursor: $button-cursor;
    vertical-align: middle;
    transition: $button-transition;
    &::-moz-focus-inner {
        padding: 0;
        border: 0;
    }
    &:focus,
    &:active {
        color: $button-color-active;
        background-color: $button-background-active;
        border-color: $button-border-active;
    }
    &:hover {
        color: $button-color-hover;
        background-color: $color-border-black;
        border-color: $button-border-hover;
    }
    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        color: $button-color-disabled;
        background-color: $button-background-disabled;
        border-color: $button-border-disabled;
        cursor: default;
        pointer-events: none;
        /* Disabling of clicks */
    }
}

.c-btn--black {
    border-color: $color-black;
}

.c-btn--secondary {
    padding: .5625rem 2rem;
    font-size: .875rem;
    color: #fff;
    background-color: $color-cold-grey;
    &:--enter {
        background-color: $color-border-black;
        color: $color-active;
    }
}

.c-btn--alt {
    color: $color-black;
    background-color: $color-white;
    border-color: $color-black;
    &:--enter {
        color: $color-white;
        background-color: $color-black;
        border-color: $color-white;
    }
}

.c-btn--small {
    height: $button-height-sm;
}

.c-btn--large {
    height: $button-height-lg;
}

.c-btn--extra-large {
    height: $button-height-xl;
}


/* Temp - have to refactor this component */

.c-btn--large-new {
    padding: 5px 32px 0;
    font-family: $font-family-primary-bold;
    text-align: center;
    font-size: 23px;
    line-height: 1;
    letter-spacing: 0;
    border-color: $color-black;
}

.shopify-challenge__button {
    margin-bottom: 2rem !important;
}

.c-btn--index,
#content__subscriptions .btn {
    width: 195px;
    height: 42px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 16px;
    padding: 0;
    color: #fff !important;
}

#content__subscriptions .btn {
    padding: 14px !important;
}

.c-btn--logout {
    background-color:$color-white;
    border-color: $color-border-black;
    color: $color-border-black !important;
    height: 56px;
    margin-top:40px;
    padding-top:18px;
    text-align:center;

    &:--enter {
        color: $color-active !important;
        background-color: $color-border-black;
        border-color: $color-border-black;

        a {
            color:$color-active;
        }
    }
}

.c-account__buttonContainer .c-btn{
    backgroud-color:#000;
    color:#fff;
}