.c-cartTable__wrapper {
   padding-bottom: 14px;
   padding-top: 2rem;

    @media (--tablet-large) {
        padding-top: 3rem;
    }
}

.c-cartTable {
    width: 100%;
    border-top: 3px solid $color-cold-grey;
    padding: 20px 0;
    border-spacing: 0;
    border-collapse: collapse;

    .js-qty {
        width: 100%;
        max-width: 144px;
        margin: 0;
        margin: 0 auto;
    }

    .js-qty__num {
        padding-top: 13px;
        font-size: 16px;
    }

    .js-qty__adjust {
        background-color: transparent;
        color: $color-cold-grey;
        border: 3px solid;
    }

    tr {
        @media (--mobile-small-max) {
            float: left;
            clear: both;
            width: 100%;
        }
    }


}

    .c-cartTable__title {
        margin-bottom: 20px;
    }

    .c-cartTable__cell--center {
        text-align: center;
    }

    .c-cartTable__thead {
        @media (--mobile-small-max) {
            display: none;
        }
    }

    .c-cartTable__row {
        border-top: 3px solid $color-cold-grey;
    }
    .c-cartTable__row a , .c-cart__itemInfoBox a{
        color:$color-vimergy-orange;
        font-weight: 700;
    }
        .c-cartTable__th {
            display: none;
            padding: 16px 0;

            @media (--mobile-large) {
                display: table-cell;
            }
        }

        .c-cartTable__td {
            padding: 6px 0;

            @media (--mobile-small-max) {
                width: auto;
                float: none;
                display: inline-block;
                border-bottom: none;
            }
        }

    .c-cartTable__footer {
        border-top: 3px solid $color-cold-grey;
    }

        .c-cartTable__pricingBox {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 3px solid $color-cold-grey;
            margin-bottom: 20px;
            padding: 12px 0 18px;

            @media (--mobile-small-max) {
                flex-direction: column;
            }
        }

            .c-cartTable__subtotal {
                display: flex;
                justify-content: space-between;
                width: 340px;
                float: right;
                font-size: 24px;
                font-weight: $font-weight-bold;
                font-family: $font-family-primary-bold;

                @media (--mobile-small-max) {
                    width: 100%;
                }
            }

                .c-cartTable__subtotalText {

                }

                .c-cartTable__subtotalPrice {

                }

            .c-cartTable__shippingInfo {
                @media (--mobile-small-max) {
                    margin-right: auto;
                    margin-bottom: 10px;
                }
            }

            .c-cartTable__buttonContainer {
                display: flex;
                justify-content: flex-end;

                @media (--mobile-small-max) {
                    flex-direction: column;
                }
            }

                .c-cartTable__button--update {
                    margin-right: 6px;

                    @media (--mobile-small-max) {
                        margin-right: 0;
                        margin-bottom: 6px;
                    }
                }
