.c-cart {
    padding: 42px 30px;

    .c-cart__closeX {
        left: auto;
        right: 16px;
    }
}

    .c-cart__emptyText {
        margin-bottom: 40px;
        font-size: 13px;
    }

    .c-cart__title {
        display: block;
        margin-bottom: 12px;
        font-family: $font-family-primary-bold;
        font-weight: $font-weight-bold;
        font-size: 19px;
        letter-spacing: -.68px;
    }

    .c-cart__cart {

    }

        .c-cart__inner {
            margin-bottom: 10px;
        }

            .c-cart__product {
                border: 6px solid $color-white;
                background-color: $color-white;
                margin-bottom: 6px;
            }

            .c-cart__row {
                lost-utility: clearfix;
                display: flex;
            }

                .c-cart__itemImageBox {
                    padding-top:1rem;
                    lost-column: 2/5 2 6px;
                    flex: 49;
                }

                    .c-cart__itemImageLink {

                    }

                        .c-cart__itemImage {
                            display: block;
                        }

                .c-cart__itemInfoBox {
                    /* lost-column: 3/5 2 6px; */
                    position: relative;
                    padding: 14px 14px 10px 15px;
                    display: flex;
                    flex: 60;
                    justify-content: space-between;
                    flex-direction: column;
                }

                    .c-cart__itemRemove {
                        position: absolute !important;
                        right: 10px !important;
                        top: 8px !important;
                        bottom: auto !important;

                        &:--enter {
                        color: $color-vimergy-orange;
                        background-color: white ;
                        border-color: white;
                        }
                       
                      
                    }

                        .c-cart__itemRemoveX {

                        }

                    .c-cart__itemInfoContainer {
                        padding-right: 20px;
                        margin: 0;
                    }

                        .c-cart__itemName {
                            display: block;
                            margin-bottom: 16px;
                            margin-right: 12px;
                            font-family: $font-family-primary-bold;
                            font-weight: $font-weight-bold;
                            font-size: 16px;
                            line-height: 18px;
                            letter-spacing: -.4px;
                        }

                        .c-cart__itemMeta {
                            display: block;
                            font-family: $font-family-primary;
                            font-size: 13px;
                            line-height: 16px;
                        }

                .c-cart__itemLowerBox {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                }

                    .c-cart__itemQuantityBox {

                    }

                    .c-cart__itemPriceBox {
                        /* padding-bottom: 2px; */
                    }

                        .c-cart__itemPrice {
                            font-family: $font-family-primary;
                            font-size: 13px;                    
                        }

                        .c-cart__itemPrice--noSale {
                            font-family: $font-family-primary;
                            font-size: 13px;  
                            color: $color-crimson;                  
                        }

                    .c-cart__itemDiscoutBox {

                    }                    

                        .c-cart__itemDiscount {

                        }

        .c-cart__footer {
            lost-utility: clearfix;
            padding: 9px 0;
            margin-bottom: 35px;
        }

            .c-cart__footerPriceBox {
                display: flex;
                justify-content: space-between;
                margin-bottom: 18px;       
                padding: 0 10px;         
                font-family: $font-family-primary-bold;
                font-weight: $font-weight-bold;
                font-size: 19px;
                letter-spacing: -.5px;
            }

                .c-cart__subtotal {

                }

                .c-cart__total {

                }

                .c-cart__discounts {

                }

            .c-cart__checkout {
                width: 100%;
                max-width: 315px;
                margin: 0 auto 21px;
                padding: 0px 0 0;
                height: 46px;
                font-size: 23px;
                font-family: $font-family-primary-bold;
                font-weight: $font-weight-bold;
                letter-spacing: 0;
            }

            .c-cart__additionalButtons {
                lost-utility: clearfix;

                &.additional_checkout_buttons {
                    .c-cart__additionalButtons {
                        display: flex;
                    }
                }

                .additional-checkout-button--paypal-express,
                .additional-checkout-button--amazon {
                    background-color: transparent !important;
                    border: 5px solid $color-black !important;
                    border-radius: 0 !important;
                    padding: 0 10px !important;
                    line-height: 30px !important;
                    float: left;
                    display: block;
                }

                .additional-checkout-button__logo {
                    height: auto !important;
                }

                .additional-checkout-button--apple-pay {
                    width: 80px !important;
                    margin-right: 13px !important;
                    min-width: initial !important;
                    margin-bottom: 10px !important;     
                    border-radius: 0 !important;               
                }

                .additional-checkout-button--paypal-express {
                    width: 88px !important;
                    min-width: initial !important;

                    img {
                        height: auto !important;
                        width: 100% !important;
                    }
                }

                .additional-checkout-button--amazon {
                    margin-left: 13px !important;
                    width: 120px !important;
                    min-width: initial !important;
                    margin-bottom: 10px !important;
                }
            }

                .c-cart__additionalButtonsText {
                    display: block;
                    text-align: center;
                    font-size: 13px;
                    margin-bottom: 25px;
                }

    .c-cart__close {
        position: static;
        font-family: $font-family-primary-medium;
        font-weight: $font-weight-medium;
        font-size: 13px;
        color: $color-crimson;
        letter-spacing: 1px;
        text-transform: uppercase;
        cursor: pointer;
        height: auto;
        width: auto;
        position: static;
        /* margin-left: 50%; */
    }

        .c-cart__closeText {
            display: block;
            line-height: 1;
            margin-bottom: 8px;
        }   

        .c-cart__closeArrow {

        }



.ajaxcart__qty,
.js-qty {
    display: flex;
    position: relative;
    margin-bottom: 2px;
    max-width: 66px;
    overflow: visible;

  input {
    display: block;
    background: none;
    border: none;
    text-align: center;
    width: 100%;
    padding: 0;
    padding-top: 3px;
    padding-right: 3px;
    margin: 0;
    font-size: 13px;
  }
}

.ajaxcart__qty-adjust,
.js-qty__qty-adjust {
  cursor: pointer;
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  border: 0 none;
  padding: 0 4px;
  background: none;
  text-align: center;
  overflow: hidden;
  background-color: transparent;
  color: $color-black;

  &:--enter  {
    color: $color-vimergy-orange !important;
    background-color: transparent !important;
  }
  &:focus {
    outline: $color-vimergy-orange auto 5px;
  }
}

.ajaxcart__qty--plus,
.js-qty__adjust--plus {
  right: 0;
}

.ajaxcart__qty--minus,
.js-qty__adjust--minus {
  left: 0;
}

.ajaxcart__qty-num,
.js-qty__num {
    padding-top: 4px;
    padding-right: 4px;
    height: 26px;
}
.c-cart-remove{
    margin-left:2rem;
}

.header-cart-link {
    text-decoration: none
}

@media(--tablet-large) {
    .c-menu__item--cart{
        padding:1.1875rem 0
    }
}

.c-menu__item--cart  {
    position: absolute;
    top: -8px;
    right: 16px;
    height: 0.125rem;
    width: 4.8125rem;
    line-height: 3.125rem;
    text-align: center
}

 @media(--tablet-max) {
    .c-menu__item--cart  {
        top: -30px;
    }
} 

.c-menu__item--cart  .icon {
    top: 1rem
}

.c-menu__item--cart--two .icon {
    top: 1px;
}

.header-cart-link .icon {
    position: relative;
    display: inline-block;
    width: 20px;
}

.header-cart-link .icon svg {
    fill: #393D4E;
    vertical-align: middle;
    margin-top: -3px;
}

.header-cart-link .count {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 22px;
    font-size: .875rem;
    font-weight: 600;
    text-align: center;
    color: #fff;
    background-color: #E5751A;
    border-radius: 50%
}

.header-cart-link.no-count .count {
    display: none
}

#header-cart {
    display: none
}

@media(--tablet-large) {
    #header-cart {
        display:block;
        position: absolute;
        top: 3.5625rem;
        right: 0;
        left: auto;
        z-index: 10;
        width: 20.625rem;
        background-color: #fff;
        border: 2px solid #b7b7a1;
        border-radius: 4px;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.3s 0s, visibility 0s 0.3s
    }

    #header-cart::before {
        content: '';
        position: absolute;
        top: -.75rem;
        right: 1.3125rem;
        height: 0;
        width: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #b7b7a1
    }

    #header-cart::after {
        content: '';
        position: absolute;
        top: -.5625rem;
        right: 1.3125rem;
        height: 0;
        width: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #fff
    }

    #header-cart.active {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.3s 0s, visibility 0s 0s
    }

    #header-cart.no-count {
        right: -1.5rem
    }
}

.mini-cart-close {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: .875rem;
    width: 2.875rem
}

.mini-cart-close svg {
    display: block;
    fill: #979ba8
}

.mini-cart-close:hover svg,.mini-cart-close:focus svg {
    fill: #393D4E
}

.mini-products-list {
    padding: .625rem 0;
    list-style: none
}

@media(--tablet-large) {
    .mini-products-list {
        padding:1.25rem 0
    }
}

.mini-products-list--empty {
    padding: 2.0625rem 0 .625rem
}

.mini-products-list li {
    clear: both;
    padding: .8125rem 1.875rem
}

.mini-products-list .product-img-wp {
    float: left;
    width: 3.125rem
}

.mini-products-list .product-img-wp img {
    width: 100%;
    max-width: 100%;
    height: auto
}

.mini-products-list .product-details {
    margin-left: 4.375rem
}

.mini-products-list .product-name {
    font-size: 1rem;
    font-weight: 700
}

.mini-products-list .product-name a {
    text-decoration: none
}

.mini-products-list .info,.mini-products-list .qty-wrapper {
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.5
}

.mini-products-list .qty-wrapper {
    width: auto
}

.mini-cart-footer .shipping {
    padding: .75rem 1.875rem;
    font-size: .875rem;
    font-weight: 600;
    text-align: center;
    background-color: #e1e1e1
}

.mini-cart-footer .subtotal {
    padding: .5625rem 1.875rem;
    font-size: 1.0625rem;
    font-weight: 700;
    border-top: 1px solid #b7b7a1;
    border-bottom: 1px solid #b7b7a1
}

.mini-cart-footer .subtotal .price {
    float: right
}

.minicart-actions {
    padding: .9375rem 1.875rem
}

.minicart-actions .btn {
    display: block
}

.minicart-actions .btn .icon {
    position: relative;
    display: inline-block;
    width: 14px;
    top: 1px;
    margin-right: 5px
}

.minicart-actions .btn svg {
    fill: #393D4E
}

.minicart-actions .btn+.btn {
    margin-top: .25rem
}

.mini-cart-empty-img {
    float: left;
    width: 4rem;
    height: 4rem;
    border-radius: 2px;
    background-color: #ebebed
}

.mini-cart-empty-line {
    margin-left: 5.25rem;
    margin-bottom: .625rem;
    height: .5rem;
    border-radius: 2px;
    background-color: #ebebed
}

.mini-cart-empty-line:nth-child(3) {
    width: 6.875rem
}

.mini-cart-empty-line:nth-child(4) {
    width: 5.3125rem
}

.mini-cart-empty-heading,.mini-cart-empty-desc {
    text-align: center
}

.mini-cart-empty-heading {
    font-size: 1rem;
    font-weight: 700
}

.mini-cart-empty-desc {
    margin-bottom: 1.875rem;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.5
}