.c-cartTable__wrapper {
   padding-bottom: 14px;
   padding-top: 2rem;
   background-color:#fbfbf6;

    @media (--tablet-large) {
        padding-top: 3rem;
    }
}

.c-cartTable {
    width: 100%;
    border-top: 2px solid grey;
    padding: 20px 0;
    border-spacing: 0;
    border-collapse: collapse;

    .js-qty {
        display: table;
        max-width: 144px;
        margin: 0 auto;
        white-space: nowrap;
    }

    .js-qty__num {
        padding-top: 4px;
        font-size: 16px;
    }

    .js-qty__adjust {
        background-color: transparent;
        color: grey;
        border: 2px solid;
        display: inline-block !important;

        &:focus {
        outline: $color-vimergy-orange auto 5px;
        }
    }

    tr {
        @media (--mobile-small-max) {
            float: left;
            clear: both;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }


}

.c-cartTable__buttonContainer .c-btn {
    font-family: $font-family-bold;
}

    .c-cartTable__title {
        margin-bottom: 20px;
    }

    .c-cartTable__cell--center {
        text-align: center;
    }

    .c-cartTable__thead {
        @media (--mobile-small-max) {
            display: none;
        }
    }

    .c-cartTable__row {
        border-top: 2px solid grey;
    }
    .c-cartTable__row a , .c-cart__itemInfoBox a{
        color:$color-border-black;
        font-weight: 700;
    }
        .c-cartTable__th {
            display: none;
            padding: 16px 0;

            @media (--mobile-large) {
                display: table-cell;
            }
        }

        .c-cartTable__td {
            padding: 6px 0;
            text-align: center;

            @media (--mobile-small-max) {
                width: auto;
                float: none;
                display: inline-block;
                border-bottom: none;
            }
        }

    .c-cartTable__footer {
        border-top: 2px solid grey;
    }

        .c-cartTable__pricingBox {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 2px solid grey;
            margin-bottom: 20px;
            padding: 12px 0 18px;

            @media (--mobile-small-max) {
                flex-direction: column;
            }
        }

            .c-cartTable__subtotal {
                display: flex;
                justify-content: space-between;
                width: 340px;
                float: right;
                font-size: 24px;
                font-weight: $font-weight-bold;
                font-family: $font-family-primary-bold;

                @media (--mobile-small-max) {
                    width: 100%;
                }
            }

                .c-cartTable__subtotalText {

                }

                .c-cartTable__subtotalPrice {

                }

            .c-cartTable__shippingInfo {
                @media (--mobile-small-max) {
                    margin-right: auto;
                    margin-bottom: 10px;
                }
            }

            .c-cartTable__buttonContainer {
                display: flex;
                justify-content: flex-end;

                @media (--mobile-small-max) {
                    flex-direction: column;
                }
            }

                .c-cartTable__button--update {
                    margin-right: 6px;

                    @media (--mobile-small-max) {
                        margin-right: 0;
                        margin-bottom: 6px;
                    }
                }
                .c-product-header{

                    @media (--tablet-max) {
                        text-align: right !important;
                        padding-right: 3rem;
                    }
                    @media (--tablet-large) {
                        text-align: center !important;
                        padding-left: 24rem;
                    }
                }
                .c-total-header{
                    padding-right: 5.5rem;
                }