.c-colMain__upperWrap {
    position: relative;

    .no-hero-image & {
        padding-top: 50px;
    }
}

    .c-colMain__breadcrumb {
        position: absolute;
        z-index: 1;
        top: 8px;
        left: 50%;
        transform: translateX(-50%);
        font-family: $font-family-primary-medium;
        color: $color-crimson;
        font-size: 13px;
        line-height: 22px;
        letter-spacing: 1px;
        text-transform: uppercase;

        @media (--tablet) {
            top: 2px;
            left: 95px;
        }
    }

    .c-colMain__breadcrumbArrow {
        margin-top: 3px;
        margin-right: 4px;
    }

.c-colMain__lowerWrap {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-bottom: 33px;

    @media (--tablet) {
        padding-top: 34px;
    }
}

    .c-colMain__lowerSidebarWrap {
        flex: 1;
    }
    
    .c-colMain__lowerGridWrap {
        width: 100%;

        @media (--tablet) {
            width: 79.2%;
        }
    }

    .c-colMain__seeMoreButton {
        display: block;
        width: 300px;
        margin: -25px auto 50px;
        padding: 9px 0 4px;
        font-size: 23px;
        font-family: $font-family-primary-bold;
        text-align: center;
        letter-spacing: 0;
        line-height: 1;

        @media (--tablet) {
            margin: 0 auto 92px;
        }

        @media (--desktop) {
            margin-bottom: 120px;
            transform: translateX(10px);
        }

        &:--enter {
            border-color: $color-black;
        }
    }