.c-collections {
    padding:20px * 50px;
    background-color: $color-white;

    @media(--tablet){
        padding:50px *;
    }
}

.c-collections__title {
    text-align:center;
    margin-bottom: 50px;
}

.c-collections__left {
    display: block;
    padding-left: 20px;
    position: relative;

    @media(--tablet){
        padding-left: 0px;
        display: flex;
        justify-content: center;
    }

    @media(--desktop){
        justify-content: flex-end;
    }
}

.c-collections__row{
    width:90%;
    margin:10px auto 0px;
    border-top:1px solid;
    max-width:960px;
}

.c-product__item {
    flex: inherit;

    @media(--mobile-max){
        flex-basis: 50%;
    }
}

.c-product__img {
    position: relative;
    padding-top: 75%;
    overflow: hidden;

    img {
        position: absolute 50% * * 50%;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }
}

.c-product__hoverText {
    position: absolute 0 0 0 0;
    size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background-color:rgba(0,0,0,.3);
    z-index: 2;
    span{
        margin:0px;
        font-size:18px;
        line-height:24px;
        color:$color-white;
        font-weight:bold;
        text-transform: capitalize;
    }
}

.c-product__hoverImage {
    opacity: 0;
}

.c-product__link {
    display: block;
    margin: 15px;
    overflow: hidden;
    position: relative;

    /* &:hover {

        .c-product__Mainimage {
            opacity: 0;
        }

        .c-product__hoverImage {
            opacity: 1;
        }
    } */
}

.c-product__info {
    margin-bottom: 15px;
}

.c-product__price,
.c-product__name {
    font-size:16px;
    line-height: 24px;
    color: $color-heading;
    text-align:center;
}

.c-product__name {
    margin-bottom: 10px;
}

.c-collectionSortby {
    align-items: center;
    display:none;
    cursor: pointer;

    label {
        display: inline-block;
        font-size:16px;
        margin-right:10px;
        border-bottom:2px solid;
        cursor: pointer;
    }

    #collection-sortby {
        display: inline-block;
        width:150px;
    }
}

.c-collectionBar {
    justify-content: space-between;
    max-width:960px;
    margin: 0px auto;
    width: 90%;
}

