.c-collection {
    padding-top: 1.75rem;

    @media(--tablet-large) {
        margin: 0 auto;
        max-width: 85.6875rem;
        width: 100%;
        padding:3.4375rem *;
    }
}

.c-collection-container{
    margin-bottom: 1.75rem;
    border-bottom: 1px dashed #b7b7b0;

    @media(--mobile-large) {
        padding-bottom:.875rem;
    }
    @media(--tablet-large) {
        margin-bottom:3.4375rem;
        padding-bottom: 0;
        border-bottom: 0
        }
}

.c-collection-container:last-child {
    border-bottom: 0;
    margin-bottom: 0
}

.c-collection-container:last-child .c-collection-container__inner {
    @media(--tablet-large) {
        padding-bottom:0;
        border-bottom: 0;
    }
}
.c-collection-container__inner {
    @media(--tablet-large) {
        padding-bottom:3rem;
        border-bottom: 1px dashed #b7b7b0;
    }
}

.c-collection-container__inner .o-flex {
    @media(--mobile-large) {
        display:flex;
        max-width: 84.6875rem;
        margin: 0 auto;
    }
}

.c-collection-container__inner .o-flex__col-4 {
    display: flex;
    padding-left: .9375rem;
    padding-right: .9375rem;
    @media(--mobile-large) {
        max-width: 33.33%;
        padding-right: .5rem;
        padding-left: .5rem;

    }
}

.c-collection-container__title {
    margin-bottom: 1.75rem;
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;

@media(--tablet-large) {
        margin-bottom:3.4375rem;
        font-size: 2.25rem
    }
}

.c-product-item {
    width: 100%;
    margin-bottom: 1.875rem;
    padding: .625rem 1.25rem 1.25rem;
    border: 1px solid #d7d7d7;
    border-radius: 2px;
    background-color: #fff;
    text-align: center;

@media(--mobile-large) {
        display:flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }

@media(--tablet-large) {
        padding:1.5625rem 1.875rem 1.875rem;
    }
}

.c-product-item__img img {
    width: auto;
    height: auto;
    margin-bottom: 20px;
}

.c-product-item__name  {
    margin-bottom: .125rem;
    font-size: 1.0625rem;
    font-weight: 700;

@media(--mobile-large) {
        margin-bottom:.25rem;
    }

@media(--tablet-large) {
        font-size:1.375rem;
    }
}

.c-product-item__name  a {
    color: #393D4E;
    text-decoration: none
}

.c-product-item__name  a:hover,.c-product-item__name  a:focus {
    text-decoration: underline;
    color: #0288D1;
}

.c-product-item__shortdesc,.c-product-item__shortdesc p {
    font-size: .875rem;
    font-weight: 600;

@media(--mobile-large) {
        margin-bottom:.2875rem
    }
@media(--tablet-large) {
        font-size:1.0625rem
    }
}

.c-product-item__price {
    margin-bottom: .375rem;
    font-size: 1.0625rem;
    font-weight: 600;

@media(--mobile-large) {
        margin-bottom:1.5rem;
    }

@media(--tablet-large) {
        font-size:1.375rem;
    }
}

.c-product-item__price .old {
    text-decoration: line-through
}
