.c-colToolbar {
    display: none;
    height: 36px;
    margin-bottom: 48px;
    justify-content: space-between;
    align-items: center;

    @media (--tablet) {
        display: flex;
    }
}

        .c-colToolbar__title {
            font-family: $font-family-primary-medium;
            font-weight: $font-weight-medium;
            font-size: 13px;
            line-height: 1;
            letter-spacing: 1px;
            text-transform: uppercase;
            cursor: default;
        }

        .c-colToolbar__group--view {
            width: 144px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .c-colToolbar__title {
                padding-top: 4px;
            }
        }

            .c-colToolbar__sortOption--grid {
                margin-right: 8px;
                cursor: pointer;
            }

            .c-colToolbar__sortOption--panel {
                cursor: pointer;
            }

        .c-colToolbar__group--sort {
            display: flex;
            align-items: center;

            .c-colToolbar__title {
                margin-right: 19px;
                margin-top: 4px;
            }
        }

            .c-colToolbar__sortSelect {
                cursor: pointer;
            }


.c-colToolbarMobile {
    margin: -3px auto 6px;
    lost-utility: clearfix;
}

    .c-colToolbarMobile__button {
        height: 31px;
        display: flex;
        align-items: center;
        justify-content: center;
        lost-column: 1/2 2 6px;
        padding-top: 4px;
        font-family: $font-family-primary-bold;
        font-weight: $font-weight-bold;
        font-size: 16px;
        line-height: 1;
        text-align: center;
        color: $color-white;
        text-transform: uppercase;
        background-color: $color-black;
        letter-spacing: 0;
        transition: all 250ms ease-in-out;
        outline: none;

        &:--enter {
            color: $color-black;
            border: 3px solid $color-black;
            background-color: $color-white;
        }
    }

.c-colMobileSort {

}

    .c-colMobileSort__title {
        margin: 0 0 31px;
        font-family: $font-family-primary-bold;
        font-weight: $font-weight-bold;
        font-size: 19px;
        line-height: 23px;
        letter-spacing: -.68px;
    }

        .c-colMobileSort__item {
            margin-bottom: 25px;
            line-height: 1;
        }

            .c-colMobileSort__link {
                padding: 6px 0;
                font-family: $font-family-primary;
                color: $color-black;
                font-size: 13px;
                text-transform: uppercase;
                cursor: pointer;

                &.is-active {
                    color: $color-crimson;
                }

                &:hover {
                    color: $color-crimson;
                }
            }
