.c-colHero {
    @media (--mobile-max) {
        padding-left: 0;
        padding-right: 0;
    }
}

    .c-colHero__container {
        position: relative;
        lost-utility: clearfix;
        display: flex;     

        @media (--mobile-max) {
            margin-bottom: 10px;
        }

        @media (--tablet) {
            flex-direction: row-reverse;
        }     
    }
        
        .c-colHero__imageContainer {
            position: relative;

            @media (--mobile-max) {
                position: relative;
                width: 100%;
                overflow: hidden;
            }

            @media (--tablet) {
                width: 79.2%;
                margin-left: calc(100% - 79.2%);
            }
        }

            .c-colHero__text {
                position: absolute;
                right: 22px;
                bottom: 39px;
                font-family: $font-family-display;
                font-size: 24px;
                line-height: 1;
                color: $color-white;
                transform: rotate(-3deg);

                .no-hero-image & {
                    position: static;
                }                

                @media (--mobile-large) {
                    right: 22px;
                    bottom: 39px;        
                    font-size: 36px;            
                }

                @media (--tablet) {
                    right: 55px;
                    bottom: 48px;                    
                }

                @media (--tablet-large) {
                    right: 73px;
                    bottom: 60px;
                    font-size: 33px;
                }

                @media (--desktop) {
                    right: 105px;
                    bottom: 85px;                    
                    font-size: 48px;                   
                }
            }

        .c-colHero__contentContainer {
            position: absolute;
            height: auto;
            height: 100%;
            width: 100%;
            top: 0;

            .no-hero-image & {
                position: static;
            }                  
        }
            
            .c-colHero__titleSection {
                overflow: hidden;
                float: left;
                position: relative;
                height: 100%;

                .no-hero-image & {
                    overflow: visible;
                    padding: 20px 0;
                }
            }

                .c-colHero__titleSection--top {
                    width: 100%;
                    height: 94px;

                    @media (--mobile-large) {
                        height: 120px;
                    }
                }

                .c-colHero__titleSection--left {
                    width: calc(100% - 79.2%);
                    top: 0;
                }

                .c-colHero__titleSection--right {
                    width: 79.2%;
                    top: 0;
                }

                .c-colHero__title {
                    margin: 0;
                    font-family: $font-family-primary-bold;
                    font-weight: $font-weight-bold;
                    font-size: 57px;
                    line-height: 40px;
                    letter-spacing: -3.93px;

                    display: block;
                    position: absolute;

                    .no-hero-image & {
                        position: static;
                    }

                    @media (min-width: 480px) {
                        font-size: 72px;
                        line-height: 55px;
                    }

                    @media (--mobile-large) {
                        font-size: 99px;
                        line-height: 81px;
                    }

                    @media (--tablet) {
                        font-size: 82px;
                        line-height: 84px;
                        letter-spacing: -5px;
                    }

                    @media (--tablet-large) {
                        font-size: 99px;
                    }
                }

                    .c-colHero__title--left {
                        /* transform: translateX(50%); */
                        color: $color-black;
                        left: 0;
                        top: 32.7%;
                        white-space: nowrap;

                        @media (--tablet-large) {
                            left: 30px;
                        }

                        @media (--desktop-medium) {
                            left: 96px;
                        }

                        @media (--desktop-large) {
                            left: 150px;
                        }
                    }    

                    .c-colHero__title--right {
                        /* transform: translateX(-50%); */
                        color: $color-white;
                        /* calc offset of other side */
                        left: calc((((100% / .792) - 100%) * -1));
                        /* left: 0; */
                        top: 32.7%;
                        white-space: nowrap;

                        @media (--tablet-large) {
                            left: calc((((100% / .792) - 100%) * -1) + 30px);
                        }

                        @media (--desktop-medium) {
                            left: calc((((100% / .792) - 100%) * -1) + 96px);
                        }

                        @media (--desktop-large) {
                            left: calc((((100% / .792) - 100%) * -1) + 150px);
                        }                                             
                    }

                    .c-colHero__title--top {
                        position: absolute;
                        bottom: -6px;
                        left: 50%;
                        transform: translateX(-50%) translateY(50%);                          
                        text-align: center;

                        .no-hero-image & {
                            transform: none;
                        }
                    }

                    .c-colHero__title--bottom {
                        position: absolute;
                        top: 6px;
                        left: 50%;
                        transform: translateX(-50%) translateY(-50%);
                        text-align: center;
                        color: $color-white;
                    }
