.c-content-pages {
    padding: 2.5rem 0;
    color: #393D4E;
}

.c-content-pages .c-cs-container,.c-content-pages .col2-left-layout .main,.col2-left-layout .c-content-pages .main {
    max-width: 56.25rem;
    margin: 0 auto;
}

.c-content-pages .c-page-head {
    margin-bottom: 10px
}

.c-content-pages p {
    font-size: 1.0625rem;
    margin-bottom: 1.25rem;

@media (--mobile-max) {
        font-size:.875rem;
        font-weight: normal;
        line-height: 18px
    }
}

.c-content-pages .link-standalone {
    @media (--mobile-max) {
        font-size:11px
        }
}
.c-content-pages .link-standalone:after {
    @media (--mobile-max) {
        margin-top:5px;
        margin-left: 6px;
        border-width: 6px
        }
}

.c-content-pages ul {
    margin-left: 16px;
    margin-bottom: 13px
}

.c-content-pages ul li {
    font-size: 16px;
    line-height: 25px;
    list-style-type: disc;

    @media (--mobile-max) {
            font-size:11px;
            line-height: 18px
        }
}

.c-content-pages h2 {
    margin-bottom: 1.25rem;
    font-weight: 700;

    @media (--mobile-max) {
            margin-bottom:.625rem;
            font-size: 16px;
            line-height: 30px
        }
}

.c-content-pages h4 {
    font-size: 22px;
    font-weight: normal;
    line-height: 35px;
    margin-bottom: 4px;
    color: #E5751A;

@media (--mobile-max) {
        font-size:14px;
        line-height: 28px;
    }
}

.c-content-pages .section {
    margin-bottom: .625rem;
    padding: 1.25rem 0;
    border-bottom: 1px dashed #b7b7b0
}

.c-content-pages .section:last-child {
    border: 0
}

.c-content-pages .table {
    border-collapse: collapse;
    border-spacing: 0;
    color: #898989
}

.c-content-pages .table th {
    font-size: 12px;
    font-weight: 600;
    color: #92278f;

@media (--mobile-max) {
        font-size:10px
    }
}

.c-content-pages .table td {
    font-size: 14px;

@media (--mobile-max) {
        font-size:11px;
    }
}

.c-content-pages .table tr td,.c-content-pages .table tr th {
    border-right: 1px solid #d6d6d6;
    border-left: 1px solid #d6d6d6;
    border-bottom: 0;
    padding: 10px;
    line-height: normal;

@media (--mobile-max) {
        padding:3px;
    }
}

.c-content-pages .table tr th {
    border-left: 1px solid #d6d6d6
}

.c-content-pages .table tr:last-child td,.c-content-pages .table tr:last-child th {
    border-bottom: 1px solid #d6d6d6
}

.c-content-pages .table tr.label-head th,.c-content-pages .table tr.label-head td {
    border: 1px solid #d6d6d6
}

.c-content-pages .table tr.sub-head th,.c-content-pages .table tr.sub-head td {
    vertical-align: top
}

.c-content-pages .table tfoot tr td {
    background-color: #f4f4f4;
    color: #898989
}

.c-content-pages .table tr:nth-child(even) td, .c-content-pages .table tr:nth-child(even) th {
    background-color: #f4f4f4
}

.c-content-pages .table thead tr th {
    background-color: #f4f4f4;
    color: #92278f;
    font-size: 14px;
    border-left: 1px solid #d6d6d6;
    height: 31px;
    padding: 0;

@media (--mobile-max) {
        height:auto;
    }
}

.c-content-pages .table thead tr th:first-child {
    border: 0;
}
