.c-footer {
    display: inline-block;
    font-size: 16px;
    padding: 2.5rem * 2.5rem *;
    text-align: center;
    @media (--desktop) {
        padding: 37px * 3.5rem *;
    }
    @media (--mobile-large) {
        text-align: left;
    }
}

.c-footer__title {
    margin-bottom: .8125rem;
    font-size: 16px;
    font-family:$font-family-medium;
    text-transform: capitalize;

    @media(--mobile-max) {
        margin-top: 20px;
    }
}

.c-footer_content {
    padding: 0;
    @media (--tablet-large) {
        padding: 0 2rem;
    }
}

.c-footer__link {
    font-size: 13px;
    line-height: 2;
    color: #253237;
    cursor: pointer;
    margin-top: .4375rem;
    &:--enter {
        text-decoration: underline;
        color: #0288D1;
    }
}

.c-footer__container .o-flex__col-lg-4,
.c-footer__container .o-flex__col-lg-8 {
    margin-bottom: 2.125rem;
    @media (--tablet-large) {
        margin-bottom: 3.25rem;
    }
}

.c-footer__social ul{
    display: flex;
    justify-content: space-around;
}


.c-footer__social ul li {
    display: inline-block;
    font-size: .875rem;
    @media (--tablet-large) {
        font-size: 1.0625rem
    }

    @media(--mobile-max){
        margin: 20px;
    }
}

.s-icon-store {
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 0 center;
    width: 2rem;
    height: 2rem;
    display: block;
}
.s-icon {
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 0 center;
    width: 2rem;
    height: 2rem;
    display: inline-block;
    font-size:16px;
}
.c-store-list{
    @media (--tablet-max) {
    margin: 0 auto;
    width: 100px;
    }
}

.c-store-list li{
    padding-bottom:20px;
}
@each $val in can,
aus,
uk,
usa{
    .icon-$(val) {
        background-image: url("../icon-$(val).png");
        padding-left: 50px;
        padding-top: 14px;
        size: 2rem;
        background-size: 2rem;
        font-size:14px;
    }
}

@each $val in facebook,
instagram,
twitter {
    .icon-$(val) {
        background: url("../icon-$(val).svg");
        text-indent: -9999px;
    }
}

.c-strapline-text {
    text-align: left;
    font-size: .875rem;
    color: #393D4E;
    @media (--tablet-large) {
        font-size: 1.0625rem;
    }
}

.c-footer-disclaimer {
    color: #909397;
    line-height: 1.5;
    padding: 0;
    text-align: left;
    @media (--tablet-large) {
        font-size: 0.875rem;
        padding: 2rem;
    }
}

.c-footer-disclaimer p {
    font-size: 12px;
}

.c-store {
    margin-top: 20px;
    @media(--tablet) {
        margin-top: 2px;
    }
}


/* subscribe section */

.c-subscribe {
    padding:25px 0;
    text-align: center;
    max-width:1150px;
    margin: 0px auto;

    @media(--tablet){
        padding: 62px 0;
    }
}

.c-subscribe .o-flex {
    max-width: 75.625rem;
    margin: 0 auto;
}

.c-subscribe__left  {

    @media(--mobile-max){
        width:255px;
        margin:0px auto;
    }

    h2 {
        @media(--desktop){
            float: left;
        }
    }

    @media(--desktop){
        flex-basis: 40%;
        margin-top: -3px;
        padding-left: 10px;
    }
}

.c-subscribe__right {
    width:314px;
    margin: 0px auto;

    @media(--tablet){
        width: auto;
    }

    @media(--desktop){
        flex-basis: 60%;
        padding:* 15px * 10px;
    }

    .c-input {

        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            text-transform: uppercase;
          }
          &::-moz-placeholder { /* Firefox 19+ */
            text-transform: uppercase;
          }
          &:-ms-input-placeholder { /* IE 10+ */
            text-transform: uppercase;
          }
          &:-moz-placeholder { /* Firefox 18- */
            text-transform: uppercase;
          }
    }
}

.c-subscribe h2 {
    margin:0px auto;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    max-width:255px;

    @media(--tablet){
        font-size: 22px;
        line-height:32px;
        max-width:378px;
        text-align: left;
        padding:* 10px;
    }

    @media(--tablet-large){
        font-size: 25px;
        line-height:34px;
        padding:0px;
    }

}

.c-subscribe #mailchimp {
    max-width: 654px;
    width:100%;
    float: right;
    margin-right: 20px;

    @media(--mobile-max){
        margin: 20px auto *;
        float:none;
    }
}

.c-subscribe #mc-embedded-subscribe-form {

    .input-group .form-field {
        height:76px;
        outline:none;
        border:none;
        color:$color-border-black;
        font-size:13px;
        line-height:18px;
        padding:10px 25px;
        font-family: $font-family-bold;
        letter-spacing:1px;
    }
}

.c-subscribe #mc-embedded-subscribe-form .input-group {
    position: relative;

    #mc-embedded-subscribe{
        size: 150px 100%;
        font-size: 13px;
        line-height: 18px;
        font-family: $font-family-bold;
        text-transform:uppercase;
        color:$color-border-black;
        position: absolute 0 0 * *;
        text-align: left;
        background-color: transparent;
        border: none;
        background:url('../right-arrow.png') no-repeat 0 0;
        background-size: 22px;
        background-position: 79% center;
        padding-left:13px;
        &:--enter {
            outline:none;
        }
    }
}

.c-btn.secondary,
.button.secondary {
    padding: .5625rem 2rem;
    font-size: .875rem;
    color: #fff;
    background-color: #393D4E;
}
.c-footer__social a:hover {
    text-decoration: underline;
    color: #0288D1;
}

.c-footer__social {

    @media(--desktop){
        flex-basis: 20%;
    }
}

.c-footer  .c-footer_content{

    @media(--mobile-max){
        text-align: center;
    }
}