.c-footer {
    display:inline-block;
    background-color: #eeeedc;
    color: #393D4E;
    font-size: 16px;
    padding: 2.5rem * 2.5rem *;
    text-align: center;

    @media (--desktop-medium) {
        padding: 3.5rem * 3.5rem *;
    }

    @media (--mobile-large) {
        text-align: left;
    }
}

.c-footer__title {
    margin-bottom: .8125rem;
    font-size: .875rem;
    font-weight: 700;
    text-transform: uppercase;

    @media (--tablet-large) {
        font-size: 1.0625rem;
    }

    @media(--mobile-max) {
       margin-top:20px;
    }
}

.c-footer__link{
    font-size: .875rem;
    font-weight: 500;
    line-height: 2;
    color: #393D4E;
    cursor: pointer;
    margin-top: .4375rem;

    @media (--tablet-large)  {
        font-size:1.0625rem
    }

    &:--enter{
        text-decoration: underline;
        color:#0288D1; 
    }
}


.c-footer__social ul li{
    display: inline-block;
    font-size: .875rem;

    @media (--tablet-large) {
        font-size:1.0625rem
    }
}

.c-footer__social li + li {
    margin-top: 0;  
    margin-left: .625rem
}


.s-icon {
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 0 center;
    width: 1.875rem;
    height: 1.875rem;
    display:inline-block;
}

@each $val in can, aus, usa {

    .icon-$(val){
        background-image: url("../icon-$(val).png");
        padding-left: 30px;
        size: auto auto;
        background-size: 20px;
    }
}

@each $val in facebook-dark, twitter-dark, instagram-dark {
    
    .icon-$(val) {
        background: url("../icon-$(val).svg");
        text-indent: -9999px;
    }
}

.c-strapline-text{
    text-align: left;
    font-size: .875rem;
    font-weight: 500;
    color: #393D4E;

    @media (--tablet-large) {
        font-size:1.0625rem
    }
}

.c-footer-disclaimer{
    color: #909397;
    font-size: .75rem;
    font-weight: 500;
    line-height: 1.5;
    padding: 0 2rem;
    text-align: left;
    margin-top: 2.125rem;

    @media (--tablet-large) {
        font-size:.875rem;
        margin-top: 3.25rem;
    }
}

.c-store{
    margin-top: 2px;  
}