.c-hamburger {
    display: block;
    width: 24px;
    height: 16px;
    position: absolute;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    margin-top: 7px;

}

@media(--tablet-large) {
    .c-hamburger {
        display:none
    }
}

.c-hamburgerPatty {
    position: absolute;
    height: 2px;
    width: 100%;
    background: #000;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    -webkit-transform-origin: left center;
    transform-origin: left center
}

.c-hamburgerPatty--top {
    top: 0
}

.c-hamburgerPatty--middle {
    top: 8px
}

.c-hamburgerPatty--bottom {
    top: 16px
}

.open .c-hamburgerPatty--top {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0;
    left: 4px
}

.open .c-hamburgerPatty--middle {
    width: 0;
    opacity: 0
}

.open .c-hamburgerPatty--bottom {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 17px;
    left: 4px
}