@import "../settings/index";
@import "../tools/index";

.c-headingHero {
    font-weight: $font-weight-bold;
    font-family: $font-family-primary;
    font-size: 57px;

    @media (--tablet) {
        font-size: 99px;
    }
}

.c-headingOne {
    font-weight: $font-weight-bold;
    font-family: $font-family-primary;
    font-size: 48px;

    @media (--tablet) {
        font-size: 69px;
    }
}

.c-headingTwo {
    font-weight: $font-weight-bold;
    font-family: $font-family-primary;
    font-size: 40px;

    @media (--tablet) {
        font-size: 57px;
    }
}

.c-headingThree {
    font-weight: $font-weight-bold;
    font-family: $font-family-primary;
    font-size: 33px;

    @media (--tablet) {
        font-size: 48px;
    }
}

.c-headingFour {
    font-weight: $font-weight-bold;
    font-family: $font-family-primary;
    font-size: 28px;

    @media (--tablet) {
        font-size: 40px;
    }
}

.c-headingFive {
    font-weight: $font-weight-bold;
    font-family: $font-family-primary;
    font-size: 23px;

    @media (--tablet) {
        font-size: 33px;
    }
}

.c-headingSix {
    font-weight: $font-weight-bold;
    font-family: $font-family-primary;
    font-size: 19px;

    @media (--tablet) {
        font-size: 28px;
    }
}