.c-header {
    position: relative;
    background-color: #fff;
    text-transform: uppercase;
    padding:15px *;

    @media(--tablet-large){
        padding:0px;
    }
}

.c-header__logo {

    @media (--tablet-max) {
        display: block;
        margin: 0 auto;
        width: 7.1875rem;
    }

    @media (--tablet-large) {
        float: left;
        margin:6px 1.5625rem * 2px;
    }
}

.c-header__nav {
    display:none;
    @media (--tablet-large) {
        display:block;
        float: left;
        width: calc(100% - 195px);
        display:flex;
        align-items: center;
        min-height:76px;
        justify-content:space-between;
    }
}

.c-header_container{

    @media (--tablet-large) {
        height:130px;
        padding: 28px 38px;
    }
}

.vimergy-logo {
    background-image: url("../vimergy.png");
    size:63px 58px;
    background-repeat:no-repeat;
    background-size: 58px;
    margin:0px auto;

    @media(--tablet){
        size: 4.8rem 4.8rem;
        background-size: 4.8rem;
    }

}

.c-header__cart {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    top: 0;
    cursor: pointer;
    background-color: #EFEAE5;
    width:68px;

    @media(--tablet){
        width:132px;
    }
}

@media(--tablet-large) {
    .header__dropdown {
        position: absolute;
        top: 2.9375rem;
        left: -3.9375rem;
        z-index: 10;
        width: 20.625rem;
        padding-top: .625rem;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.3s 0s, visibility 0s 0.3s;
    }
}

@media (--tablet-max) {
    .c-menu__item--cart {
        visibility: visible;
    }
    .c-header__menu {
        position: absolute;
        top: 3.125rem;
        left: 0;
        z-index: 10;
        width: 100%;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.6s 0s, visibility 0s 0.6s;
        background-color: #eeeedc;
        overflow-x: hidden;
        overflow-y: auto
    }
    .c-header__menu.active {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.6s 0s, visibility 0s 0s
    }
}

@media (--tablet-large) {
    .c-header__menu {
        height: auto !important
    }
}

.o-dropdown-static {
    position: absolute !important;
    @media (--tablet-large) {
        position: static !important;
    }
}

#CartCount {
    position: absolute;
    top: -6px;
    left: 24px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: $color-active;
    color: white;
    font-size: 10px;
    font-family: $font-family-bold;
    text-align: center;
    z-index: 5;
    pointer-events: none;
}

.hidden-count {
    display: none;
}

.spb_table_cell {
    display: table-cell;
    vertical-align: middle;
    height: 40px !important;
    line-height: 1 !important;
    padding: 2px 0px;
    text-align: center;
    font-size: 16px !important;
    cursor: pointer;
}