.c-home {
    background-color: #fff;
}

.c-hero-banner {
    text-align: center;
    color: #fff;
    background-image: url("../home-tour1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 36.3125rem;

    @media(--tablet-large) {
        height: 43.4375rem;
    }
}

.c-hero-banner .c-column {
    position: relative;
    top: 55%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    @media(--tablet-large) {
        top: 50%;
    }
}

.c-hero-banner__info::after {
    clear: both;
    content: "";
    display: table
}

.c-hero-banner__heading {
    margin-bottom: 1.1875rem;
    font-size: 1.8125rem;
    font-weight: 900;
    text-transform: uppercase;
    @media(--tablet-large) {
        margin-bottom: 1.6875rem;
        font-size: 2.75rem
    }
}

.c-hero-banner__desc {
    margin-bottom: 2rem;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.4;
    @media(--tablet-large) {
        margin-bottom: 2.75rem;
        font-size: 1.875rem
    }
}

.c-hero-banner__heading,
.c-hero-banner__desc {
    margin-right: auto;
    margin-left: auto;
    max-width: 35.625rem;
    @media(--tablet-large) {
        max-width: 53.4375rem
    }
    @media(--mobile-max) {
        max-width: 70%;
    }
}

.c-hero-banner__link {
    margin-bottom: 2.625rem;
    @media(--tablet-large) {
        margin-bottom: 4.0625rem;
    }
}

.c-hero-banner__link .c-btn {
    padding-right: 3.6875rem;
    padding-left: 3.6875rem;
    @media(--tablet-large) {
        padding-right: 5.125rem;
        padding-left: 5.125rem
    }
}

.c-hero-banner__stat {
    float: left;
    width: 33.33333%;
    margin-bottom: 1.125rem;
    @media(--mobile-large) {
        float: none;
        width: auto;
        display: inline-block;
        margin: 0 .9375rem;
    }
    @media(--tablet-large) {
        margin-right: 1.5625rem;
        margin-left: 1.5625rem
    }
}

.c-hero-banner__stat p {
    margin-top: .125rem;
    font-size: .9375rem;
    font-weight: 600;
    @media(--tablet-large) {
        margin-top: .3125rem;
        font-size: 1.0625rem
    }
}

.c-hero-banner__icon {
    display: inline-block;
    padding: .1875rem;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    width: 2.875rem;
    @media(--tablet-large) {
        width: 4.625rem;
        padding: .5625rem
    }
}

.c-hero-banner__icon img {
    display: block
}


/* home products recommend */

.c-recommend {
    padding-top: 3.625rem;
    padding-bottom: 2.875rem;
    background-color: #fff;
    @media(--tablet-large) {
        padding: 0 1rem;
        background-color: transparent;
    }
}

.c-recommend__img {
    margin: 0 auto 1rem;
    max-width: 194px;
    @media(--mobile-large) {
        max-width: 270px;
    }
    @media(--tablet-large) {
        max-width: 443px;
    }
}

.c-recommend__info {
    padding-top: 0.125rem;
    text-align: center;
    max-width: 30.9375rem;
    margin: 0 auto;
    @media(--tablet-large) {
        padding-right: 1.125rem;
    }
}

.c-recommend__heading {
    display: none;
    position: relative;
    padding-bottom: .8125rem;
    margin-bottom: 1.125rem;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    @media(--tablet-large) {
        display: block;
    }
}

.c-recommend__heading::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -.9375rem;
    width: 1.875rem;
    height: 2px;
    background-color: #c2c2bb
}

.c-recommend__title {
    margin-bottom: .6875rem;
    font-size: 1.5rem;
    font-weight: 700;
    @media (--desktop-medium) {
        margin-bottom: 1.0625rem;
        font-size: 2.25rem;
    }
}

.c-recommend__desc {
    margin-bottom: 1.3125rem;
    font-weight: 600;
    font-size: 1rem;
    @media (--desktop-medium) {
        margin-bottom: 1.75rem;
        font-size: 1.25rem;
        line-height: 1.7;
    }
}

.c-recommend__desc p {
    font-weight: 600;
    font-size: 1rem;
    @media (--desktop-medium) {
        font-size: 1.25rem;
        line-height: 1.7;
    }
}

.c-recommend .c-btn {
    @media(--tablet-large) {
        padding: 1rem 4.3125rem .875rem;
    }
}

.c-recommend .c-btn .c-icon {
    position: relative;
    display: inline-block;
    width: 17px;
    top: 1px;
    margin-right: 5px;
}

.c-recommend .c-btn svg {
    fill: #fff;
}

.c-recommended--upsell {
    margin-bottom: 0;
}

.c-recommended--upsell .c-recommend {
    background-color: #f4f4ee;
}

.c-home-products-recommend {
    margin: 0 auto;
    max-width: 85.6875rem;
    width: 100%;
    color: #393D4E;
    background-color: #fff;
    margin-bottom: 1.5rem;
    @media(--mobile-large) {
        background-color: transparent;
    }
    @media(--tablet-large) {
        margin-bottom: 4.375rem;
    }
}

.c-recommend-inner {
    border-bottom: 1px dashed #b7b7b0;
    padding-bottom: 2.875rem;
    @media(--tablet-large) {
        padding-top: 3.125rem;
        padding-bottom: 3.125rem;
    }
}

.c-recommend:last-child .c-recommend-inner {
    border-bottom: 0;
}

.c-recommend-inner .o-row {
    display: flex;
}

.c-recommend-inner .o-flex__item {
    display: flex;
    order: 1;
    align-items: center;
    padding-left: .9375rem;
    padding-right: .9375rem;
}


/* banner-collection section */

.c-banner {
    @media(--mobile-large) {
        padding-left: .9375rem;
        padding-right: .9375rem;
        margin-bottom: 1.5rem;
    }
    @media(--tablet-large) {
        margin: 0 auto;
        max-width: 85.6875rem;
        width: 100%;
        margin-bottom: 4.6875rem;
    }
}

.c-banner__img {
    position: relative;
    height: 16.25rem;
    background-repeat: no-repeat;
    background-size: cover;
    @media(--mobile-large) {
        height: 22.5rem;
    }
    @media(--tablet-large) {
        height: 33.75rem;
    }
}

.c-banner__info {
    padding: 2.4375rem 1.5625rem 2.8125rem;
    text-align: center;
    background-color: #fff;
    @media(--mobile-large) {
        height: 22.5rem;
    }
    @media(--tablet-large) {
        height: 33.75rem;
    }
    @media(--tablet-large) {
        text-align: left;
        background-color: rgba(255, 255, 255, 0.7);
    }
    @media (--desktop-medium) {
        height: 33.75rem;
        padding: 6.5625rem 2.8125rem 2.8125rem 7.4375rem;
    }
}

.c-banner__heading {
    margin-bottom: .5rem;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    @media(--tablet-large) {
        margin-bottom: 1.875rem;
        font-size: 2.25rem;
        line-height: 1.3;
    }
}

.c-banner__desc {
    margin-bottom: 1rem;
    font-size: 1.0625rem;
    font-weight: 600;
    line-height: 1.6;
    @media(--tablet-large) {
        margin-bottom: 2.875rem;
        font-size: 1.25rem
    }
}


/* instagram */

.c-instagrams__inner {
    padding: 2.8125rem 0;
    background-color: #fff;
    @media(--tablet-large) {
        background-color: transparent;
        margin: 0 auto;
        max-width: 84rem;
        width: 100%;
    }
}

@media(--tablet-large) {
    .c-instagrams__inner .o-row {
        width: 100%;
        margin: 0 2rem;
        margin: 0;
    }
    .c-instagrams__list .o-row {
        margin: 0;
    }
    .c-instagrams__inner .o-row .o-large-4 {
        padding-right: 0;
    }
}


/* */

.c-instagrams__list .o-row {
    max-width: 84.6875rem;
    margin: 0;
}

.c-instagrams__list {
    margin-bottom: .1875rem;
    @media(--tablet-large) {
        margin-bottom: 0;
    }
}

.c-instagrams__list .o-col {
    margin-bottom: 1rem;
    padding-right: 0.5rem;
}

.c-instagrams__inner .o-flex {
    @media(--tablet-large) {
        display: flex;
        flex-wrap: wrap;
    }
}

.c-instagrams__inner .o-flex__item {
    @media(--tablet-large) {
        display: flex;
    }
}

.c-insta {
    background: #fff;
    @media(--tablet-max) {
        margin-top: 4rem;
    }
}

.c-instagrams__box {
    width: 100%;
    height: initial;
    padding-top: 4rem;
    padding-bottom: 1rem;
    text-align: center;
    @media(--tablet-large) {
        padding-left: 9rem;
        text-align: left;
    }
}

.instagallery {
    width: 100%;
}

.c-instagrams__box svg {
    margin-bottom: .3125rem;
    width: 2.5rem;
    @media(--tablet-large) {
        float: left;
        margin-bottom: 1.9375rem;
        margin-right: 2rem;
    }
}

.c-instagrams__heading {
    margin-bottom: 1.375rem;
    font-size: 1.5rem;
    font-weight: 700;
    @media(--tablet-large) {
        margin-bottom: 2.75rem;
        font-size: 2.25rem;
    }
}

.c-instagrams__view {
    text-align: center;
    font-size: .9375rem;
    font-weight: 700;
    text-transform: uppercase;
    @media(--tablet-large) {
        font-size: 1rem;
    }
}

.c-instagrams__view a {
    text-decoration: none;
    border-bottom: 2px solid;
}

.c-instagrams__view--one {
    display: none;
    @media(--tablet-large) {
        display: block;
    }
}

@media(--tablet-large) {
    .c-instagrams__view--two {
        display: none;
    }
}

.c-instagram img {
    display: block;
}

.c-instagram__outer {
    position: relative;
}

.c-instagram__outer:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 100%;
}

.c-insta-img {
    width: 100%;
    height: auto;
}

.c-instagram__outer>a,
.c-instagram__outer>img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.c-instagram__outer img {
    width: 100%;
}

@media(--tablet-large) {
    .c-cms-page-view .c-instagrams__inner {
        padding-top: 6rem;
        border-top: 1px dashed #b7b7b0
    }
}


/* testimonials */

.c-testimonials .o-row {
    width: 97%;
}

.c-testimonials-carousel.o-flex {
    margin: 0 auto;
    text-align: center;
    @media(--tablet-large) {
        max-width: 60.6875rem;
    }
    @media(--desktop-medium) {
        max-width: 76.6875rem;
    }
    @media(--tablet-max) {
        max-width: 18rem;
    }
}

/* .c-testimonials-carousel .o-flex__items {
    padding-right: .5rem;
    padding-left: .5rem;

} */

.c-testimonials__icon {
    display: none;
    @media(--tablet-large) {
        display: block;
        width: 2.6875rem;
        margin: 0 auto -.75rem;
    }
}

.c-testimonials__heading {
    margin-bottom: 1.3125rem;
    padding: 0 1.875rem;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    @media(--tablet-large) {
        margin-bottom: 2rem;
        padding: 0;
        font-size: 2.25rem;
    }
}

.c-testimonials-carousel .slick-track {
    display: flex;
}

.c-testimonials-carousel .slick-slide {
    display: flex !important;
    height: auto;
}

.slick-slide .c-testimonial {
    display: flex;
    flex-direction: column;
}

.slick-slide .c-testimonial__desc {
    flex: 1 0 auto;
}

.c-testimonial {
    width: 100%;
    /* padding: 1.25rem 1.25rem;
    text-align: center;
    border: 1px solid #d9dee8;
    border-radius: 2px;
    background-color: #fff;
    @media(--tablet-large) {
        padding: 2.1875rem 2.8125rem 3.4375rem;
    }  */
}

.c-testimonial__img img {
    width: 15.6875rem;
    margin: 0 auto;
    /* @media (--desktop-medium) {
        width: 34rem;
    } */
}

.c-testimonial__name {
    margin-top: .875rem;
    margin-bottom: .75rem;
    font-weight: 600;
    font-style: italic;
    @media (--desktop-medium) {
        margin-top: 1.1875rem;
        margin-bottom: .625rem;
        font-size: 1.5rem;
    }
}

.c-testimonial__desc {
    margin-bottom: 1.8125rem;
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.7;
    margin-top: 0;
    @media (--desktop-medium) {
        margin-bottom: 3.125rem;
        font-size: 1.25rem;
    }
}

.c-testimonial__link {
    font-size: .75rem;
    font-weight: 600;
    @media (--desktop-medium) {
        font-size: 1rem;
    }
}

.c-testimonial__link::before {
    content: '';
    display: inline-block;
    position: relative;
    top: .3125rem;
    width: 1.125rem;
    height: 1.125rem;
    margin-right: .375rem;
    background-image: url("../icon-favourite.svg");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    @media (--desktop-medium) {
        top: .1875rem;
    }
}

.c-testimonial__link a {
    text-decoration: underline;
}

.c-testimonial__link a:hover {
    color: #0288D1;
}

.c-instagrams__inner .o-flex__col-lg-8,
.instagallery .o-flex__item {
    padding-right: .5rem;
    padding-left: .5rem;
    float: left;
}

.compensate-for-scrollbar {
    margin: 0 auto !important;
}

body.fancybox-active {
    overflow: auto;
    overflow-y: scroll;
}

body.fancybox-active.compensate-for-scrollbar {
    overflow: auto;
}

.c-display {
    display: none;
    @media (--mobile-max) {
        display: block !important;
        margin: 0 auto;
    }
}

.c-img-text {
    font-size: 31px;
    @media(--tablet-large) {
        font-size: 48px;
        line-height: 54px;
    }
}

.c-side-text-display {
    position: relative;
    @media(--tablet-max) {
        display: none;
    }
}

.c-side-text--right {
    font-size: 17px;
    font-weight: 500;
    transform: rotate(270deg);
    float: right;
}

.c-side-mobile {
    position: absolute;
    right: -17%;
    top: 21%;
    position: ;
    transform: rotate(90deg);
    @media(--tablet-large) {
        display: none;
    }
}

.c-side-container {
    position: relative;
}

.c-side-large {
    @media(--tablet-max) {
        display: none;
    }
}

.c-img-mobile {
    width: 83%;
    margin: 0;
    @media(--tablet-large) {
        width: 100%;
    }
}

.c-mobile-testimonial {
    float: none;
    @media(--tablet-max) {
        float: right;
    }
}

.c-side-testimonial-mobile {
    @media(--tablet-large) {
        display: none;
    }
    @media(--tablet-max) {
        position: absolute;
        transform: rotate(90deg);
        left: -5%;
        top: 9%;
    }
}

.c-reco-info {
    text-align: center;
    width: 290px;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    @media(--tablet-large) {
        width: 100%;
        margin-top: 14rem;
        padding: 0 8rem;
    }
}

.c-reco-info-2 {
    text-align: center;
    width: 290px;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    @media(--tablet-large) {
        text-align: left;
        width: 700px;
        margin-top: 14rem;
        padding: 0 8rem;
    }
}

.c-reco-text {
    margin-top: 20px;
    margin-bottom: 30px;
}

.c-reco-desc {
    margin-bottom: 5rem;
}

.c-shop-all-desc {
    text-align: center;
    width: 250px;
    margin: 0 auto;
    margin-top: 3rem;
    @media(--tablet-large) {
        width: 224.05px;
        margin-left: 160px;
        margin-top: 183px;
        text-align: left;
    }
}

.slick-slide {
    display: flex;
}

.c-testimonial-info {
    color: #253237;
    text-align: left;
    width: 290px;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    height: 100%;
    @media(--tablet-large) {
        height: 132px;
        width: 310px;
    }
}

.c-off-white {
    background-color: #f3f3ea;
}

.c-testimonial-info-container {
    padding-top: 30px;
    @media(--tablet-large) {
        padding-top: 250px;
    }
}

.c-testimonial-container {
    @media(--tablet-large) {
        padding-left: 250px;
    }
}

.c-testimonials-carousel-info {
    @media(--tablet-large) {
        height: 528px;
        width: 327px;
        margin-left: 285px;
        text-align: left;
    }
}

.c-testimonial--heading {
    margin-bottom: 20px;
    @media(--tablet-large) {
        margin-bottom: 42px;
    }
}

.c-main-testimonial,
.c-testimonial-first {
    background: white;
}

.c-testimonial-first {
    @media(--tablet-max) {
        display: none;
    }
}

.c-prev {
    transform: rotate(180deg);
    top: 45%;
    left: -15px
}

.c-prev-testimonial {
    border: 0;
    @media(--tablet-large) {
        margin: 0 -15px
    }
}

.c-next-testimonial {
    top: 45%;
    margin: 0 15px;
    border: 0;
    @media(--tablet-large) {
        margin: 0 15px
    }
}
.c-text-arrow{
    display:none;
    @media(--tablet-large) {
        display:block;
    }
}