.c-mainTestimonial {

}


.c-testimonial_info {
    padding:30px 60px;

    @media(--tablet){
        padding-left:11%;
    }
}

.c-testimonial__text {
    max-width: 310px;
}

.c-mainTestimonial__image {

}

/* Testimonial-slider */

.c-testimonials {
    position: relative;

    .slick-prev--testimonial {

        @media(--mobile-max){
            top:auto;
            bottom:20px;
        }
    }

    .slick-next--testimonial {

        @media(--mobile-max){
            top:auto;
            bottom:20px;
        }
    }
}

.c-testimonial__sidetext {
    position: absolute;
    width:160px;
    height: 100%;
}

.c-testimonials__left {
    width:100%;

    @media(--tablet){
        width:41.66%;
    }
}

.c-testimonials__slider {
    position: relative;
    width:100%;

    @media(--tablet){
        width:89%;
        margin-left:11%;
        padding-bottom:0px;
    }

    span.c-text-arrow {
        color: $color-heading;
        font-size: 13px;
        font-weight: bold;
        letter-spacing: 1px;
        line-height: 18px;
    }

    .slick-prev--testimonial {
        border-bottom-width: 2px;

        @media(--tablet){
            left:54%;
        }
    }
    .c-prev-testimonial {
        left:-12px;
    }

    .slick-next--testimonial {
        border-bottom-width:2px;

        @media(--mobile-max){
            top:auto;
        }
    }

    .slick-dots {
        bottom:38px;
        left:0;
        width:100%;
        padding:0px;

        @media(--tablet){
            top:85%;
            bottom:auto;
            left:70%;
            width:auto;
            padding:30px *;
        }
    }

    .slick-dots li  button:before {
        opacity: .75;
        width: 10px;
        height: 10px;
        top: 5px;
        left: 5px;
        content: "";
        background: $color-white;
        border-radius: 50%;
    }

    .slick-dots li.slick-active  button:before{
        background-color:$color-black;
    }
}

.c-testimonial__author {
    margin-top: 20px;
}

.c-testimonials__slidetext {
    max-width:330px;
}
.c-testimonials__right {
    padding-bottom:85px;

    @media(--tablet){
        padding-bottom:0px;
    }

    .c-testimonials-carousel {
        padding:42px * * *;

        @media(--tablet){
            padding-top:12.5%;
            padding-left:17.8%;
        }
    }
}


