.c-hpCGridSection {
    lost-utility: clearfix;
    margin-bottom: 48px;

    @media (--mobile-max) {
        padding-left: 0;
        padding-right: 0;
    }

    @media (--tablet) {
        margin-bottom: 113px;
    }
}

    .c-hpCGrid__item {
        position: relative;
        display: block;
        overflow: hidden;
        background-size: cover;
        background-position: center;
        border-left: 3px solid $color-white;
        border-right: 3px solid $color-white;
        outline: none;

        @media (--tablet) {
            border: none;
            lost-column: 1/4 4 6px;
            margin-bottom: 6px;

            &:nth-child(4n) {
                float: left;
            }
        }
    }

    .c-hpCGrid__item--product {
        &.slick-active {
            cursor: pointer;
        }
    }

        .c-hpCGridItem__image {
            display: block;
        }

            .c-hpCGrid__productInfo {
                position: absolute;
                bottom: 0; 
                padding: 18px;
            }

                .c-hpCGrid__productTitle {
                    display: block;
                    margin: 0 0 7px 3px;
                    color: $color-white;
                    font-family: $font-family-primary-bold;
                    font-weight: $font-weight-bold;
                    font-size: 16px;
                    letter-spacing: -0.5px;
                    line-height: 1;

                    @media (--mobile-large) {
                        font-size: 20px;
                    } 

                    @media (--tablet) {
                        font-size: 16px;
                    }
                }

                .c-hpCGrid__productPrice {
                    display: block;
                    padding-left: 2px;
                    color: $color-white;
                    font-family: $font-family-primary;
                    font-weight: $font-weight-normal;
                    font-size: 13px;
                    letter-spacing: -0.5px;
                    line-height: 1;

                    @media (--mobile-large) {
                        font-size: 17px;
                    }                  

                    @media (--tablet) {
                        font-size: 13px;
                    }                      
                }

        .c-hpCGrid__ctaTitle {
            position: absolute;
            top: 0;
            padding: 38px;
            color: $color-white;
            font-size: 33px;
            font-family: $font-family-primary-bold;
            font-weight: $font-weight-bold;
            line-height: 1;
            letter-spacing: -1.5px;

            &:--enter {
                color: $color-white;
            }


            @media (--tablet) {
                padding: 20px;
                font-size: 22px;
            }

            @media (--tablet-large) {
                font-size: 32px;
            }

            @media (--desktop-medium) {
                padding: 40px;
                font-size: 40px;
            }            
        }

            .c-hpCGrid__ctaLink {
                position: absolute;
                bottom: 0;
                padding: 42px;
                color: $color-white;
                font-family: $font-family-primary-medium;
                font-weight: $font-weight-medium;
                font-size: 13px;
                letter-spacing: 1px;
                line-height: 13px;
                text-transform: uppercase;
                cursor: pointer;                          

                @media (--tablet) {
                    padding: 20px;
                    font-size: 13px;
                }

                @media (--desktop-medium) {
                    padding: 40px;
                }                 

                &:--enter {
                    color: $color-white;
                } 
            }

                .c-hpCGrid__ctaArrow {
                    display: block;
                    margin-top: 7px;                          

                    @media (--tablet) {
                        width: 23px;
                        height: 12px;
                    }                    

                    .c-hpTwoImg__ctaArrowPath {
                        stroke: $color-white;
                    }                    
                }