.c-productCol {
    position: relative;
}

.c-productCol__detail {
    max-width:290px;
    width:100%;

    @media(--tablet){
        max-width:350px;
    }
}

.c-productCol__detail .c-btn {
    margin-top: 75px;
    height: 56px;
    width: 255px;
    border: 2px solid $color-border-black;
    font-size: 13px;
    font-weight: bold;
    padding:0px;
    letter-spacing: 1px;
    line-height: 54px;
    text-align:center;

    @media(--tablet){
        width:168px;
    }
}

.c-productCol__content {

    @media(--mobile-max){
        padding:40px *;
    }
}

