.c-productCol {
    position: relative;
    flex-wrap: wrap;

    @media(--tablet){
        background-color: #efeae5;
        flex-wrap: nowrap;
    }

    @media(--tablet-large){
        background-color: transparent;
    }

    .c-productCol__image {

        @media(--tablet-max){
            flex-basis: 40%;
        }

        @media(--mobile-max){
            flex-basis: 100%;
        }
    }

    .c-productCol__content {

        @media(--tablet-max){
            flex-basis: 60%;
            background-color:$color-white;
            padding:30px;
        }

        @media(--mobile-max){
            flex-basis: 100%;
        }
    }

    .c-productCol__detail .c-btn {

        @media(--mobile-max){
            float:none;
        }

        @media(--tablet-max){
            margin-top:20px;
        }
    }
}

.c-productCol__image.o-flex__col-lg-7 {

    @media(--desktop){
        flex-basis: 57.33%;
    }
}

.c-home-productCol {
    background-color: $color-white;

    .c-productCol__image {

        @media(--tablet){

            img {
                min-height:400px;
                object-fit:cover;
            }
        }
    }

    .c-productCol__detail {

        @media(--desktop){
            margin-top: -83px;
            margin-left: 65px;
        }

        .c-btn {
            margin:68px * 4px;
        }
    }
}

.c-productCol__detail {
    max-width:296px;
    width:100%;

    @media(--tablet){
        max-width:360px;
        padding-left:0;
    }

    @media(--tablet-large){
        margin: -24px * * -16px;
    }
}

.c-productCol__detail .c-btn {
    margin-top: 44px;
    height: 64px;
    width: 255px;
    border: 2px solid $color-border-black;
    font-size: 13px;
    font-family: $font-family-bold;
    padding:0px;
    letter-spacing: 1px;
    line-height: 54px;
    text-align:center;
    float:left;

    &:--enter {
        background-color: $color-border-black;
    }

    @media(--tablet){
        width:auto;
        margin-top: 75px;
        height: 56px;
        float:none;
        padding:* 40px;
    }
}

.c-productCol__content {

    @media(--mobile-max){
        padding:38px * 50px;
    }
}

.c-product-recommended {

    .c-productCol__content  {

        @media(--desktop){
            flex-basis: 57.33%;
            justify-content:left;
            padding-left:9.2%;

            .c-productCol__detail {
                margin:56px * * 0;
            }

            .c-copy {
                max-width:320px;
            }
        }
    }
}

