.c-hpTwoImgSection {
    margin-bottom: 80px;

    @media (--tablet-large) {
        margin-bottom: 113px;
    }
}

    .c-hpTwoImgSection__inner {
        position: relative;
        lost-utility: clearfix;

        @media (--tablet-large) {
            display: flex;
            flex-direction: row-reverse;
            padding-bottom: 134px;
        }
    }

        .c-hpTwoImg__contentSection {
            margin: 0 0 28px 28px;

            @media (--tablet) {
                margin: 0 0 30px 0;
                width: 75%;
            }

            @media (--tablet-large) {
                flex: 1;
                margin: 0;
                padding-left: 48px;
                padding-top: 28px;
            }
        }
           
            .c-hpTwoImg__displayText {
                margin: 0 0 42px;
                font-family: $font-family-display;
                line-height: 1;
                letter-spacing: .2px;
                font-size: 33px;
                font-weight: normal;
                transform: rotate(-3deg);

                @media (--tablet) {
                    max-width: 310px;
                }

                @media (--tablet-large) {
                    max-width: 440px;
                }

                @media (--tablet-large) {
                    width: 420px;
                    margin-bottom: 46px;
                    font-size: 40px;
                    letter-spacing: 0;
                }

                @media (--desktop) {
                    margin-bottom: 52px;
                    font-size: 48px;
                }
            }

                .c-hpTwoImg__titleText {
                    margin: 0 0 19px 7px;
                    font-family: $font-family-primary-bold;
                    font-weight: $font-weight-bold;
                    font-size: 48px;
                    line-height: .92;
                    letter-spacing: -3px;

                    @media (--tablet-large) {
                        transform: translateX(-120px);
                        margin-left: -6px;
                        margin-bottom: 20px;
                        max-width: 400px;
                        font-size: 54px;
                        line-height: 1;
                        letter-spacing: -4px;
                    }

                    @media (--desktop) {
                        margin-bottom: 32px;
                        font-size: 69px;       
                        transform: translateX(-200px);
                    }
                }

                .c-hpTwoImg__cta {
                    display: block;
                    margin-left: 6px;
                    color: $color-crimson;
                    font-family: $font-family-primary-medium;
                    font-size: 13px;
                    font-weight: $font-weight-medium;
                    line-height: 1;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    cursor: pointer;

                    @media (--tablet-large) {
                        margin-left: -2px;
                    }

                    &:--enter { 
                        color: $color-black;

                        .c-hpTwoImg__ctaArrowPath { /* stylelint-disable-line */
                            stroke: $color-black;
                        }
                    }
                }

                    .c-hpTwoImg__ctaArrow {
                        display: block;
                        margin-top: 7px;
                    }

                        .c-hpTwoImg__ctaArrowPath {
                            stroke: $color-crimson;
                        }

        .c-hpTwoImg__imageOneContainer {
            flex: 1.65;
            position: relative;
            overflow: hidden;
        }

            .c-hpTwoImg__imageTitleText {
                    display: none;
                    margin: 0 0 19px 7px;
                    font-family: $font-family-primary-bold;
                    font-weight: $font-weight-bold;
                    font-size: 48px;
                    line-height: .92;
                    letter-spacing: -3px;
                    color: $color-white;

                    @media (--tablet-large) {
                        display: block;
                        transform: translateX(-120px);
                        margin-left: -6px;
                        margin-bottom: 20px;
                        max-width: 400px;                       
                        font-size: 54px;
                        line-height: 1;
                        letter-spacing: -4px;
                        margin-bottom: 32px;
                        position: absolute;
                        right: -443px;
                        top: 154px;                          
                    }

                    @media (--desktop) {
                        margin-bottom: 32px;
                        font-size: 69px;       
                        transform: translateX(-200px);
                        margin-bottom: 32px;
                        font-size: 69px;
                        position: absolute;
                        max-width: 400px;
                        color: white;
                        right: -442px;
                        top: 176px;                        
                    }
                }

            .c-hpTwoImg__imageOne {
                display: none;

                @media (--tablet-large) {
                    display: block;
                    flex: 1;
                }        
            }

        .c-hpTwoImg__imageOneMobile {
            display: block;
            margin-bottom: 6px;

            @media (--tablet) {
                float: left;
                width: calc(49.95% - 3px);
                margin-right: 6px;
            }

            @media (--tablet-large) {
                display: none;
            }        
        }    

        .c-hpTwoImg__imageTwo {
            display: none;
            position: absolute;
            right: 0;
            bottom: 0;
            width: 536px;

            @media (--tablet-large) {
                display: block;
                width: 38%;
                margin-right: 120px;
                margin-bottom: 6px;
                border: 6px solid $color-white;
                border-right: none;
                border-bottom: none;
            }

            @media (--desktop) {
                width: 34%;
            }

            @media (--desktop-medium) {
                width: 36.5%;
            }

            @media (--desktop-large) {
                width: 40.5%;
            }
        }

        .c-hpTwoImg__imageTwoMobile {
            display: block;

            @media (--tablet) {
                float: left;
                width: calc(49.95% - 3px);
            }

            @media (--tablet-large) {
                display: none;
            }
        }    