.c-shop-all {
    height: 400px;
    background-color: #EFEAE5;
    flex-wrap: nowrap;
    padding: * 20px * 20px;
    justify-content: center;
    align-items: center;
    flex-direction:column;

    @media(--tablet){
        flex-direction: row;
        padding:* 90px;
        height: 400px;
    }

    @media(--tablet-large){
        padding:* 100px * 170px;
        height: 572.61px;
    }

    @media(--desktop){
        padding:* 75px * 149.5px;
    }
}

.c-shop-all__text {
    width:225px;
    text-align: center;

    @media(--tablet){
        text-align: left;
    }

    @media(--desktop){
        margin-top:-41px;
    }
}


.c-shop-all-products {

    &.c-shop-all__slider {
        width:100%;

        @media(--tablet){
            width:calc(100% - 270px);
            margin-left:30px;
            margin-top:-56px;
        }
    }

    .c-testimonials-carousel {
        padding: * 80px * 30px;

        @media(--mobile-max){
            padding: * 30px;

            .c-prev {
                top:49%;
                left:0;
            }
        }

        @media(--desktop){
            padding:0 100px 0 0;

            .slick-arrow {
                top:50%;
            }

            .c-testimonial {

                p {
                    margin:0px;
                }
            }
        }

    }

    .c-testimonial__img {
        max-width:180px;
        width:100%;

        @media(--desktop){
            max-width:200px;
            margin-bottom:8px;
        }
    }

    .c-testimonials-carousel .slick-slide {
        justify-content: center;
        align-items: center;
    }
}