.c-mainTestimonial {

}

.c-testimonial__text {
    max-width: 310px;
}

.c-testimonial_info {
    padding:30px 60px;

    @media(--tablet-max){
        flex-basis: 100%;
    }

    @media(--tablet){
        padding-left:11%;
    }

    .c-testimonial__text{

        @media(--tablet-max){
            max-width: 100%;
            width:90%;
        }
    }

}

.c-mainTestimonial__image {

    @media(--tablet-max){
        flex-basis: 100%;
        order:1;
    }

}

/* Testimonial-slider */

.c-testimonials {
    position: relative;

    .slick-prev--testimonial {

        @media(--mobile-max){
            top:auto;
            bottom:20px;
        }
    }

    .slick-next--testimonial {

        @media(--mobile-max){
            top:auto;
            bottom:20px;
        }
    }
}

.c-testimonial__sidetext {
    position: absolute;
    width:62px;
    height: 100%;
    background: transparent;
    z-index: 2;

    @media(--tablet-max){
        width:90px;
    }

    @media(--tablet-large){
        width:160px;
        height:100%;
        background-color: transparent;
    }

    .c-side-text {

        @media(--mobile-max){
            bottom:auto;
            top:5%;
        }
    }
}

.c-testimonials__left {
    width:100%;

    .c-testimonial__img {

        @media(--mobile-max){
            width:100%;
            float:right;
            padding-left:62px;
            background-color:$color-white;
        }

        @media(--tablet){
            img {
                min-height:520px;
                object-fit: cover;
            }
        }
    }

    @media(--tablet){
        width:41.66%;
    }
}

.c-testimonials__slider {
    position: relative;
    width:100%;
    background:$color-white;

    @media(--tablet){
        width:89%;
        margin-left:11%;
        padding-bottom:0px;
    }

    span.c-text-arrow {
        color: $color-heading;
        font-size: 13px;
        font-weight: bold;
        letter-spacing: 1px;
        line-height: 18px;
    }

    .slick-prev--testimonial {
        border-bottom-width: 2px;


        @media(--tablet){
            left:54%;
            top:93%;
        }

        @media(--tablet-large){
            top:90%;
        }

        svg {
            top:45%;
        }
    }

    .c-prev-testimonial {
        left:-12px;
    }

    .slick-next--testimonial {
        border-bottom-width:2px;

        @media(--tablet){
            top:93%;
        }

        @media(--tablet-large){
            top:90%;
        }

        @media(--mobile-max){
            top:auto;
        }

        svg {
            top:45%;
        }
    }

    .slick-dots {
        bottom:38px;
        left:0;
        width:100%;
        padding:0px;

        @media(--tablet){
            top:90%;
            bottom:auto;
            left:59%;
            width:auto;
            padding:0px *;
            background-color: transparent;
        }

        @media(--tablet-large){
            padding:30px *;
            top:83%;
            left:67%;
        }

        @media(--desktop){
            top:85%;
        }
    }

    .slick-dots li  button:before {
        opacity: .75;
        width: 10px;
        height: 10px;
        top: 5px;
        left: 5px;
        content: "";
        background: $color-white;
        border-radius: 50%;
    }

    .slick-dots li.slick-active  button:before{
        background-color:$color-black;
    }
}

.c-testimonial__author {
    margin-top: 20px;
}

.c-testimonials__slidetext {
    max-width:330px;
}

.c-testimonials__right {
    padding-bottom:85px;
    min-height:510px;

    @media(--mobile-max){
        padding:* 20px * 62px;
    }

    @media(--tablet){
        padding-bottom:0px;
        min-height:0;
    }

    .c-testimonials-carousel {
        padding:42px * * *;

        @media(--tablet){
            padding-top:10.5%;
            padding-left:10.8%;
        }

        @media(--tablet-large){
            padding-top:12.5%;
            padding-left:17.8%;
        }
    }
}


