.c-iconSection {
    padding: 100px *;
    text-align: center;
    background-color:$color-primary-white;
}

.c-icons li {
    display:inline-block;
    margin:* 20px;

    svg {
        max-width:100px;
        display:block;
        height:auto;
    }
}