@import "../settings/index";
@import "../tools/index";

.c-link {
    color: $color-body-text;
    font-family: $font-family-primary-medium;
    font-weight: $font-weight-medium;

    &:--enter {
        color: $color-crimson;
    }
}

    .c-link--red {
        color: $color-crimson;
        &:--enter {
            color: $color-black;
        }
    }