.c-megamenu {
    z-index: 99;
    text-align: center;
    color: $color-cold-grey;
    margin: 0px;
    float: left;
    @util padding(0);
}


.c-megamenu__item {
    padding:18px 10px;
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;

    &:first-child {
        position:relative;
    }

    &:first-child:after{
        content:'';
        size: 1px 20px;
        background-color:$color-cold-grey;
        position: absolute 50% 0px * *;
        transform: translateY(-50%);

        @media(--desktop){
            size: 1px 28px;
        }
    }

    @media(--desktop){
        font-size: 17px;
        line-height: 27px;
    }
}

.c-megamenu__link {
    position: relative;
    color: $color-cold-grey;

    &:after{
        content: '';
        display: block;
        position: absolute * * -6px 0;
        size: 100% 2px;
        background-color: transparent;
        transition: background-color 0.1s linear;
    }

    &:hover:after {
        background-color:$color-cold-grey;
    }
}


.c-megamenu__navitem {
    display: inline-block;

    > a {
        position: relative;
        display: inline-block;
        
        &.open {
            z-index: 1;
        }        
    }
}


.c-megamenu__subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 40px 20px;
    text-align: left;
    color: $color-cold-grey;
    background-color: #fbfbf6;

   
    &.open {
        display: block;
    }

    a {
        color: $color-cold-grey;
    }
}


.c-megamenu__subnavInner {
    lost-center: 1250px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.c-megamenu__subnavGroup {
    /*float: left;*/
    width: calc((100% / 4) - 16px);
    vertical-align: top;
    order: 1;
    margin: 0px 8px;


    li {
        display: block;
    }

    span {
        display: block;
        font-weight: 700;
        text-transform: uppercase;

        span {

        }
    }

    img {
        display: inline-block;
        max-width: 216px;
    }

}


.c-megamenu__subnav {
    display: block;
    height: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: height 500ms ease-in-out, opacity 500ms ease-in-out, visibility 500ms ease-in-out;

    &.open {
        height: 386px;
        z-index: 99;
        opacity: 1;
        visibility: visible;
        transition: height 500ms ease-in-out, opacity 500ms ease-in-out, visibility 500ms ease-in-out;
    }
}

.c-megamenu__subnavGroup {
    opacity: 0;
    transform: translateY(-30px);
    transition: transform 700ms ease-in-out, opacity 600ms ease-in-out;

    .open & {
        opacity: 1;
        transform: translateY(0);
    }
}
.c-megamenu__subnavGroup.open{
    opacity: 1;
    transform: translateY(0);
}

.c-megamenu__box{
    display: block;
    width: 100%;
    min-height: 214px;
    padding: .9375rem;
    background-color: #fff;
    border: 2px solid #eeeedc;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    color: #393D4E;
    transition: border 0.1s linear;

   &:--enter {
        border-color: #bdbda0;
        color: #393D4E;
    }
}