.c-menu {
    float: right;
    margin-right: 1.5rem;
}

.c-menu__item {
    display: inline-block;
    font-weight: 700;
    padding: 2rem 0;
    font-size: 14px;
    line-height: 24px;
    position: relative;
    @media(--desktop) {
        font-size: 17px;
        line-height: 27px;
    }
}

.c-menu__link {
    position: relative;
    color: $color-cold-grey;
    cursor: pointer;
    &:after {
        content: '';
        display: block;
        position: absolute * * -6px 0;
        size: 100% 2px;
        background-color: transparent;
        transition: background-color 0.1s linear;
    }
    &:hover:after {
        background-color: $color-cold-grey;
    }
}

.c-menu__item--can {
    background-image: url(../icon-can.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 0 20px;
    padding-left: 30px;
    padding-right: 10px;
    .c-menu__link {
        &:after {
            display: none;
        }
    }
    @media(--tablet-large-max) {
        background-position: 0px 5px;
    }
    @media(--desktop) {
        padding-right: 20px;
    }
}

.c-menu__item--aus {
    @extend .c-menu__item--can;
    background-image: url(../icon-aus.png);
}

.c-menu__dropdown {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.3s 0s;
}

.c-menu__dropdownContent {
    background-color: #eeeedc;
    padding: 15px;
    p {
        font-size: 15px;
    }
}

@media(--tablet-large) {
    .c-menu__dropdown {
        position: absolute 2.9375rem * * -1rem;
        z-index: 10;
        width: 20.625rem;
        padding-top: .625rem;
        visibility: hidden;
        opacity: 0;
        max-height: 400px;
        transition: opacity 0.3s 0s, visibility 0s 0.3s;
    }
    .c-menu__dropdownContent {
        border: 2px solid #b7b7a1;
        border-radius: 4px;
        background-color: $color-white;
        padding: 1.8125rem 1.875rem;
        position: relative;
        &:before {
            content: '';
            background-color: $color-white;
            position: absolute -9px * 12% *;
            height: 18px;
            width: 18px;
            border: 2px solid #b7b7a1;
            border-bottom-color: transparent;
            border-right-color: transparent;
            transform: rotate(45deg);
        }
    }
    .c-menu__dropdownContent h5 {
        margin-bottom: .8125rem;
        font-size: 1.125rem;
        font-weight: 700;
    }
    .c-menu__dropdownContent p {
        margin-bottom: 1.625rem;
        font-size: .9375rem;
        font-weight: 600;
    }
}

.c-menu__item--has-dropdown {
    &:--enter {
        .c-menu__dropdown {
            opacity: 1;
            visibility: visible;
            transition: opacity 0.3s 0.2s, visibility 0s 0.2s;
        }
    }
}

@media(--tablet-large) {
    .c-primary-nav__box {
        display: block;
        width: 100%;
        min-height: 214px;
        padding: .9375rem;
        background-color: #fff;
        border: 2px solid #eeeedc;
        border-radius: 4px;
        text-align: center;
        text-decoration: none;
        color: #393D4E;
        transition: border 0.1s linear
    }
    .c-primary-nav__box:hover,
    .c-primary-nav__box:focus {
        border-color: #bdbda0;
        color: #393D4E
    }
    .c-primary-nav__box img {
        display: inline-block;
        max-width: 216px
    }
    .c-primary-nav__box span {
        display: block;
        font-weight: 700;
        text-transform: uppercase
    }
    .c-primary-nav__box span span {
        display: inline-block;
        font-weight: 600
    }
    .c-primary-nav__box .save {
        color: #E5751A;
        text-transform: none;
        font-size: .9375rem
    }
}

.c-sub-container {
    display: table;
    margin: 0 auto;
}

.c-dropdown-img {
    max-width: 18.375rem;
}