.c-mobileNavContainer {
    padding-top: 7px;
    padding-right: 13px;
}

 .c-mobileNav__item {
       padding-bottom: 8px;
        margin-bottom: 16px;
        border-bottom: 1px solid #d7d7d7;
}
.c-mobileNav__itemLink { 
            cursor: pointer;
            font-family: $font-family-base;
            font-size: 16px;
            font-weight:700;
            line-height: 1;
            color: #393D4E;
        }
.c-mobileNavContainer.c-menu{
    display:block;

}
.c-mobileNav__itemLink.c-menu__item--cart{
    position: relative;
    padding-left: 0px;
    text-align: left;
}
