.c-mobileNavContainer {
    padding-top: 7px;
    padding-right: 13px;
}

    .c-mobileNav__intro {
        margin-bottom: 14px;
    }

        .c-mobileNav__welcome {
            display: inline-block;
            vertical-align: text-bottom;
            margin-left: 4px;
            font-family: $font-family-primary-bold;
            font-weight: $font-weight-bold;
            font-size: 19px;
            line-height: 23px;
            letter-spacing: -.68px;
        }

        .c-mobileNav__welcomeLink {
            display: inline-block;
            vertical-align: text-bottom;
            margin-left: 13px;
            margin-top: 5px;
            font-family: $font-family-primary-medium;
            font-weight: $font-weight-medium;
            font-size: 13px;
            line-height: 21px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: $color-crimson;

            &:--enter {
                color: $color-black;

                .c-mobileNavWelcomeLink__arrowPath { /* stylelint-disable-line */
                    stroke: $color-black;
                }
            }
        }

            .c-mobileNavWelcomeLink__arrow {
                margin-left: 3px;
            }

                .c-mobileNavWelcomeLink__arrowPath {
                    stroke: $color-crimson;
                }

    .c-mobileNav__item {
        margin-bottom: 16px;
    }

        .c-mobileNav__itemLink { 
            font-family: $font-family-primary;
            font-size: 13px;
            line-height: 1;
            text-transform: uppercase;

            &:--enter { 
                color: $color-crimson;
            }
        }


