.c-header__navItem {
    margin:3px 30px * 23px;
    display: inline-block;
    line-height:32px;
}

.c-header__navLink {
    font-size:13px;
    font-family: $font-family-bold;
}

.c-header__navRight {

    @media(--tablet-large){
        margin-right: 26px;
    }
}