.c-newsletter {
    margin-bottom: 39px;

    @media (--tablet) {
        margin-bottom: 52px;
    }
}

.c-newsletter__inner {
    text-align: center;
    padding: 32px 0;
}

    .c-newsletter__ctaSmall {
        display: block;
        margin-bottom: 14px;
        font-size: 16px;
        font-family: $font-family-primary-medium;
        font-weight: $font-weight-medium;
        letter-spacing: -.5px;
        line-height: 19px;

        @media (--tablet) {
            font-size: 19px;
            font-family: $font-family-primary-medium;
            font-weight: $font-weight-medium;
            letter-spacing: -.5px;
            line-height: 23px;
        }
    }

    .c-newsletter__ctaLarge {
        display: block;
        margin-bottom: 31px;
        font-size: 48px;
        font-family: $font-family-primary-bold;
        font-weight: $font-weight-bold;
        letter-spacing: -2.78px;
        line-height: 44px;

        @media (--tablet) {
            margin-bottom: 23px;
            font-size: 57px;
            font-family: $font-family-primary-bold;
            font-weight: $font-weight-bold;
            letter-spacing: -3px;
            line-height: 68px;
        }
    }

    .c-newsletter__form {
        padding: 0 24px;
        max-width: 495px;
        margin: 0 auto;
    }

        .c-newsletter__inputGroup {
            display: flex;
            width: 100%;
        }

            .c-newsletter__input {
                height: 36px;
                padding: 4px 8px 0 17px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-size: 16px;
                font-family: $font-family-primary;
                font-weight: $font-weight-normal;
                letter-spacing: -.5px;
                line-height: 19px;

                @media (--tablet) {
                    padding-left: 18px;
                }

                &:--enter { /* stylelint-disable-line */
                    outline: none;
                    box-shadow: none;
                }

            }

            .c-newsletter__inputGroupButton {
                height: 36px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                border-color: $color-black;
            }

                .c-newsletter__submit {
                    padding: 5px 13px 0;
                    display: inline-block;
                    flex: 1 1 0%;
                    text-align: center;
                    margin-left: -1px;
                    font-size: 23px;
                    font-family: $font-family-primary-bold;
                    font-weight: $font-weight-bold;
                    letter-spacing: 0;
                    line-height: 22px;
                    vertical-align: middle;
                    border-color: $color-black;

                    @media (--tablet) {
                        padding: 5px 23px 0;
                    }
                }


