@import "../settings/index";
@import "../tools/index";

.c-paragraphOne {
    font-weight: $font-weight-medium;
    font-family: $font-family-primary;
    font-size: 16px;

    @media (--tablet) {
        font-size: 19px;
    }
} 

.c-paragraphTwo {
    font-weight: $font-weight-medium;
    font-family: $font-family-primary;
    font-size: 13px;
}

.c-paragraphThree {
    font-weight: $font-weight-medium;
    font-family: $font-family-primary;
    font-size: 11px;
}
