.c-product{
   margin: 0; 
   background-color: #fbfbf6;
}
.c-product-view .o-flex{
    margin: 0 auto;
    max-width: 85.6875rem;
    width: 100%;
}
.c-product-view .o-flex-item {
    padding-left: .9375rem;
    padding-right: .9375rem;
}
.c-product-view .c-product-image {
    margin-bottom: .75rem;
    text-align: center
}

.c-product-view .c-product-image img {
    width: 100%;
    max-width: 14.6875rem;
    height: auto;

  @media(--tablet-large) {
        max-width:none
    }
}
 .c-product-view .c-product-image,.c-product-view .c-product-shop {
    @media(--tablet-large) {
        padding:2.8125rem .9375rem
    }
    @media(--desktop-medium) {
        padding:4.0625rem
    }
} 

.c-product-shop {
    margin-bottom: 2.0625rem;

    @media(--tablet-large) {
        margin-bottom:0;
    }
}


.c-product-shop::after {
    clear: both;
    content: "";
    display: table
}



.c-product-shop__top {
    text-align: center;

  @media(--tablet-large) {
        padding-top:0.625rem;
        text-align: left
    }
}

.c-product-shop .c-product-name {
    margin-bottom: 1rem;
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;

  @media(--tablet-large) {
        text-align: left;
        margin-bottom:.5625rem;
        display: inline-block;
        font-size: 1.75rem
    }
}

.c-product-shop .c-product-made {
    margin-bottom: .625rem;
    font-size: .75rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;

  @media(--tablet-large) {
        position: relative;
        top: -.375rem;
        margin-bottom: 0;
        margin-left: .75rem;
        text-align: left;
    }
}

.c-product-shop .c-product-made span {
    line-height: 1.25rem;
    padding-left: 1.6875rem;
    padding-bottom: 3px;
    padding-top: 3px;
}

.c-product-shop .c-product-description  {
    max-width: 25rem;
    margin: 0 auto 1.1875rem;

  @media(--tablet-large) {
        max-width:none;
        margin: 0 0 3.3125rem
    }
}
.c-icon-usa {
    background-image: url("../icon-usa.png");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 0 center;
}
.c-product-shop .c-product-description ,.c-product-shop .c-product-description  p {
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.7;

  @media(--tablet-large) {
        font-size:1.0625rem;
        line-height: 1.5
    }
}

.c-product-shop .c-product-price  {
    float: left;
    font-size: 1.25rem;
    height: 2.9375rem;
    line-height: 2.9375rem;
    padding-left: .9375rem;

  @media(--tablet-large) {
        font-size:1.875rem;
    }
}

.c-product-shop .c-product-price  .label {
    display: none
}

.c-product-shop .c-add-to-cart-buttons {
    float: right
}

.c-product-shop .c-add-to-cart::after {
    clear: both;
    content: "";
    display: table;

  @media(--mobile-large) {
        float:left;
    }
}

.c-product-shop .c-qty-wrap +.c-btn {
    margin-top: 20px;

  @media(--mobile-large) {
        float:right;
        margin-top: 0;
    }
}

.c-product-shop .c-btn {
    padding-right: 1.4375rem;
    padding-left: 1.4375rem;

  @media(--mobile-large) {
        padding-right:4.4375rem;
        padding-left: 4.4375rem
    }
}

.c-product-shop .c-btn .c-icon , .c-related-product-shop .c-btn .c-icon{
    position: relative;
    display: inline-block;
    width: 17px;
    top: 1px;
    margin-right: 5px
}

.c-product-shop .c-btn svg {
    fill: #fff
}

.c-product-options  .c-add-to-cart .c-qty-wrap  {
    float: none
}

.c-c-product-options __heading {
    margin-bottom: .5rem;
    font-size: .9375rem;
    font-weight: 700;

  @media(--tablet-large) {
        font-size:1.0625rem;
    }
}

.c-item-options {
    margin-bottom: 1.875rem;

  @media(--tablet-large) {
        margin-bottom: 1.5rem;
    }
}

.c-product-options  {
    position: relative
}

.c-product-options  dl,.c-product-options  dd,.c-product-options  dt {
    margin: 0;
    padding: 0
}

.c-product-options  dl {
    margin-right: -.25rem;
    margin-left: -.25rem
}

.c-product-options  dl::after {
    clear: both;
    content: "";
    display: table
}

.c-product-options  dd {
    float: left;
    padding: 0 .25rem;
    width: 50%;
    max-width: 9.4375rem
}

.c-product-options -bottom {
    margin-top: 1.75rem
}

.c-product-shop .c-add-to-cart {
    margin-top: 1.75rem
}
.product-view--configurable .c-product-shop .c-add-to-cart {
  @media(--tablet-large) {
        position:absolute;
        top: 0;
        right: 0;
        margin: 0
    }
}

.c-product-shop label {
    display: block;
    margin-bottom: .5rem;
    font-size: .9375rem;
    font-weight: 700;
    color:#393D4E;

  @media(--tablet-large) {
        font-size:1.0625rem;
    }
}
.c-item-options .js-qty{
    max-width:133px;
    margin-right: 16px;
}
.c-item-options .js-qty__num{
    font-size: 16px;
    width: 3.5625rem;
    height: 3rem;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    border-color: #c4c4ae;
    text-align: center;
    border: 1px solid #ccc;

}
.c-item-options .fallback-text{
    font-weight: 900;
}

.c-item-options .js-qty__adjust{
    height: 3rem;
    border: 1px solid #c4c4ae;
    padding: 0.8125rem 1rem !important;
    background-color: #fff;
    color:black;
    cursor: pointer;
}
.c-product-detail .c-row{
    max-width: 65.75rem;
    margin:0 auto;
    width:100%;
    padding-left: .9375rem;
    padding-right: .9375rem;
}
.c-product-detail {
    padding: 2rem 0 .375rem;
    background-image: url("../pattern.jpg");

 @media(--tablet-large) {
        padding:3.4375rem 0 4.0625rem
    }
}

.c-product-detail__heading {
    margin-bottom: 1.3125rem;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.4;

 @media(--tablet-large) {
        margin-bottom:3.3125rem;
        font-size: 1.75rem
    }
}
.c-product-certs {
    text-align: center;
    padding: 1.5rem 0 .3125rem;
    background-color: #e8e8de;
    display: flow-root;
}
.c-certification__icon {
    display: inline-block;
    padding: .1875rem;
    background-color: rgba(255,255,255,0.7);
    border-radius: 50%;
    width: 2.875rem;

 @media(--tablet-large) {
        width:3.125rem;
    }
}

.c-certification__icon img {
    display: block
}

.c-certification__name {
    margin-top: .125rem;
    font-size: .9375rem;
    font-weight: 600;

 @media(--tablet-large) {
        margin-top:.3125rem;
        font-size: 1rem;
    }
}
div#rc_container{
    background-color: #fff;
    border: 1px solid #c4c4ae;
    border-radius: 2px;
}
div.rc_block__type__onetime {
    border-bottom: 1px solid #c4c4ae;
    border-radius: 0px !important;
}
div.rc_block__type__autodeliver {
    display: inline-block;
    width: 0% !important;
}
label.rc_label{
    color: #393D4E !important;
}
div.rc_block__type--active{
    color: #fff;
}
input[type='radio']:after {
    
    border: 2px solid #c4c4ae;
    left: -25px;
    top: 1px;
    position: absolute;
    background: #fff;
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    padding: 3px;
    text-align: center;
    border-radius: 100%;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    content: '';
    display: inline-block;
    visibility: visible;
    border-width: 5px;
    border-color: #E5751A;
}
div.rc_popup__hover, a.rc_popup__hover{
    display: inline-block;
    font-size: 14px;
    font-weight: 600;  
    text-decoration: underline;
}
div.rc_popup {
    display: inline;
    float: right;
    @media(--mobile-max) {
        float:none;
    }
}
div.rc_popup__block {
    width: 500px !important;
    padding: 0;
    position: absolute;
    top: -15rem !important;
    left: -31rem !important;
    border: 2px solid #b7b7a1;

    @media(--tablet-large) {
        left: -43rem !important; 
    }

    @media(--mobile-max) {
        width: 355px !important;
        left: -13rem !important; 
    }
}
/* .c-variant{
    width: 50%;
    float: right;
} */
.c-quantity{
    display: inline-block;
    margin-bottom: 1.75rem;
}
.c-variant select{
    color: #393D4E;
    border-radius: 0 !important;
    height: 45px;
    font-size: .9375rem;

    @media(--tablet-large) {
    font-size: 1.0625rem
}
}
.selector-wrapper{
    display: block;
    float: none;
    width: 50%;
    padding-bottom: 20px;

    @media(--mobile-large) {
    display: inline-block;
    float: left;
    padding-right: 10px;
    
    }
}
