.c-pseudoSelect {
    position: relative;
    width: 185px;
    height: 36px;
    background-color: $color-pampas;
}

    .c-pseudoSelect__top {
        position: relative;
        height: 100%;
        width: 100%;
        padding: 3px 19px;
        cursor: pointer;
    }   

        .c-pseudoSelect__topText {
            font-family: $font-family-primary-bold;
            font-weight: $font-weight-bold;
            font-size: 16px;
        }

        .c-pseudoSelect__topIcon {
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);

            .is-open & {
                transform: rotate(180deg) translateY(2px);
            }
        }

    .c-pseudoSelect__dropdown {
        display: none;
        position: absolute;
        z-index: 1;
        right: 0;
        top: 100%;
        width: 100%;
        background-color: $color-pampas;

        &.is-open {
            display: block;
        }
    }

        .c-pseudoSelect__list {
            padding: 9px 21px;
        }

            .c-pseudoSelect__item {
                font-family: $font-family-primary;
                font-size: 13px;
                margin-bottom: 12px;
            }

/*                 .c-pseudoSelect__link {

                }
 */