.c-relatedProducts {
    lost-utility: clearfix;
    margin-bottom: 74px;

    @media (--mobile-max) {
        padding: 0;
        .c-sliderArrow {
            margin-top: -30px;
        }
    }

    @media (--tablet) {
        display: block;
        clear: both;
        margin-bottom: 61px;
        padding-top: 106px;
    }
}

    .c-relatedProducts__title {
        padding-left: 40px;
        padding-right: 100px;
        margin-bottom: 17px;
        font-family: $font-family-primary-bold;
        font-weight: $font-weight-bold;
        font-size: 48px;
        line-height: 45px;
        letter-spacing: -2.78px;

        @media (--tablet) {
            padding: 0;
            margin-bottom: 20px;
            font-size: 69px;
            line-height: 1;
            letter-spacing: -4px;            
        }
    }

    .c-relatedProducts__grid {
        lost-utility: clearfix;
    }

        .c-relatedProducts__item {

            @media (--mobile-max) {
                border-left: 3px solid $color-white;
                border-right: 3px solid $color-white;
            }

            @media (--tablet) {
                lost-column: 1/4 4 6px;
            }
        }   
            .c-relatedProductsItem__image {
                display: block;
                margin-bottom: 18px;

                @media (--tablet) {
                    margin-bottom: 17px;
                }
            } 

            .c-relatedProducts__info {

            }

                .c-relatedProducts__itemTitle {
                    display: block;
                    margin-bottom: 7px;
                    font-family: $font-family-primary-bold;
                    font-weight: $font-weight-bold;
                    font-size: 16px;
                    line-height: 1;
                    letter-spacing: -.4px;                    
                }

                .c-relatedProducts__itemPrice {
                    display: block;
                    margin-bottom: 6px;
                    font-family: $font-family-primary;
                    font-size: 13px;
                    line-height: 1;
                }
