.c-searchForm {
    margin-bottom: 49px;
}

    .c-searchForm__inputGroup {
        position: relative;
        display: flex;
        width: 100%;
    }

        .c-searchForm__searchIcon {
            position: absolute;
            left: 14px;
            top: 9px;
        }

        .c-searchForm__input {
            height: 36px;
            padding: 3px 0 0 45px;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 16px;
            font-family: $font-family-primary;
            font-weight: $font-weight-normal;
            letter-spacing: -.5px;
            line-height: 19px;            
            background-color: $color-white;

            &:--enter {
                background-color: $color-white;
            }
        }

        .c-searchForm__inputGroupButton {
            height: 36px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-color: $color-black;
        }

            .c-searchForm__submit {
                padding: 5px 14px 0;
                display: inline-block;
                flex: 1 1 0%;
                text-align: center;
                margin-left: -1px;
                font-size: 16px;
                font-family: $font-family-primary;
                letter-spacing: 0;
                line-height: 22px;
                vertical-align: middle;
                border-color: $color-black;

                &:--enter {
                    outline: none;
                }
            }

