.c-shopifyPageContent {
    font-size: 16px;
    padding: 50px 15px;

    @media (min-width: 360px) {
        font-size: $font-size-base;
    }

    @media (--tablet-large) {
        padding: 100px;
    }

    h3 {
        font-weight: $font-weight-bold;
        font-family: $font-family-primary;
        font-size: 19px;

        @media (--tablet) {
            font-size: 28px;
        }
    }

    p {
        margin-bottom: 20px;
    }
}

.c-shopifyPageContent--mini {
    max-width: 1024px;
    margin: auto;
}
