.c-sideBartext {
    display: none;

    @media(--tablet) {
        display: block;
        width: 90px;
        flex-basis: 90px;
        flex: initial;
        position: relative;
        text-align:left;
    }

    @media(--desktop){
        width:165px;
        flex-basis: 165px;
    }
}

.c-side-text {
    font-size: 17px;
    font-family:$font-family-medium;
    position: absolute * 0 270px -50%;
    margin: auto;
    width:162px;
    flex-basis: 162px;
    transform: rotate(270deg) translateY(-50%);

    @media(--tablet) {
        margin: auto;
        width: 350px;
        flex-basis: 350px;
        left: -130%;
        bottom: 220px;
    }

    @media(--desktop) {
        margin: auto;
        width: 350px;
        flex-basis: 350px;
        left: -50%;
        bottom: 38%;
    }

    &:before {
        content: "";
        size: 22px 2px;
        background-color: $color-border-black;
        display: block;
        position: absolute 50% * * -32px;
        transform: translateY(-50%);
    }
}

.c-productCol {

    .c-sideBartext {
        position: absolute * 0 0 *;
        height: 100%;

        @media(--tablet-max){
            display: none;
        }
    }
}