.c-sizeGuide {
    margin: 0 auto;
    padding: 30px 7px 180px;
    min-height: 100vh;
    max-width: 1180px;

    @media (--tablet-large) {
        padding: 21px 30px 180px;
    }

    .c-modal__close {
        top: 7px;

        @media (--tablet-large) {
            top: 14px;
            right: 16px;
        }
    }
}

    .c-sizeGuide__title {
        padding: 0 24px;
        margin-bottom: 13px;
        font-family: $font-family-primary-bold;
        font-weight: $font-weight-bold;
        font-size: 19px;
        line-height: 1;
        letter-spacing: -.68px;

        @media (--tablet-large) {
            margin-bottom: 26px;
            padding-left: 0 9px;
            font-size: 33px;
            letter-spacing: -1.5px;
        }
    }

    .c-sizeGuide__typeSelect {
        display: flex;
        justify-content: space-between;
        padding: 0 38px 0 28px;
        margin-bottom: 32px;
    }

        .c-sizeGuide__typeSelectOption {
            padding: 0 5px;
            font-family: $font-family-primary;
            font-size: 13px;
            line-height: 18px;
            text-transform: uppercase;
            cursor: pointer;

            &.is-active {
                border-bottom: 3px solid black;
            }
        }

    .c-sizeGuide__typeSection {
        display: none;

        &.is-visible {
            display: block;
            border-bottom: 3px solid $color-black;
        }
    }

        .c-sizeGuide__typeSection--womens {
            .c-sizeGuide__chart:first-of-type {
                border-top: 3px solid $color-black;
            }
        }

        .c-sizeGuide__typeSection--mens {

        }

        .c-sizeGuide__typeSection--tweens {

        }

        .c-sizeGuide__typeSection--unisex {

        }

        .c-sizeGuide__chart {
            border: 3px solid $color-black;
            border-bottom: none;
        }

            .c-sizeGuide__chartOpener {
                height: 30px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 4px 29px 0;
                font-family: $font-family-primary;
                font-size: 13px;
                line-height: 1;
                text-transform: uppercase;
                cursor: pointer;

                @media (--tablet-large) {
                    padding: 4px 24px 0 36px;
                }
            }

                .c-sizeGuide__chartOpenerArrow {
                    transform: rotate(180deg);
                    cursor: pointer;

                    .is-open & {
                        transform: rotate(0deg);
                    }
                }

            .c-sizeGuide__chartSection {
                display: none;
                padding: 0 17px;

                @media (--tablet-large) {
                    padding: 0 36px;
                }

                &.is-open {
                    display: flex;
                }
            }

                .c-sizeGuide__chartImageSection {
                    margin-bottom: 29px;

                    @media (--tablet-large) {
                        width: 25%;
                    }
                }

                    .c-sizeGuide__chartImage {
                        display: block;
                        margin: 0 auto;
                        width: 221px;

                        @media (--tablet) {
                            width: 400px;
                        }
                    }

                .c-sizeGuide__chartContent {
                    margin-left: 7px;
                    padding-left: 3px;
                    padding-right: 10px;

                    @media (--tablet-large) {
                        margin-left: 33px;
                        padding-top: 38px;
                        width: 65%;
                    }
                }

                    .c-sizeGuide__chartContentIntro {
                        padding-left: 12px;
                        margin-bottom: 10px;

                        @media (--tablet-large) {
                            padding-left: 10px;
                            margin-bottom: 20px;
                        }
                    }

                        .c-sizeGuide__chartTypeText {
                            display: block;
                            font-family: $font-family-primary;
                            font-size: 13px;
                            line-height: 1;

                            @media (--tablet-large) {
                                margin-bottom: 4px;
                            }
                        }

                        .c-sizeGuide__chartTypeStyleText {
                            font-family: $font-family-primary-medium;
                            font-weight: $font-weight-medium;
                            font-size: 16px;
                            line-height: 1;
                            letter-spacing: -.5px;

                            @media (--tablet-large) {
                                font-size: 19px;
                                letter-spacing: -.5px;
                            }
                        }

                    .c-sizeGuide__chartTable {

                        table {
                            padding-left: 10px;
                            width: 100%;
                            border: 0;
                            border-spacing: 0;
                            /* letter-spacing: .15em; */
                        }

                        thead {
                            tr {
                                height: 65px;

                                @media (--tablet-large) {
                                    height: 60px;
                                }

                            }
                        }

                        tr {
                            height: 40px;

                            @media (--tablet-large) {
                                height: 56px;
                            }
                        }

                            th {
                                width: 25%;
                                padding: 18px 0 14px;
                                font-family: $font-family-primary;
                                font-weight: $font-weight-normal;
                                font-size: 11px;
                                line-height: 16px;
                                letter-spacing: -.5px;
                                border-bottom: 1px solid #e1e1e1;
                                border-top: 1px solid #e1e1e1;
                                text-align: center;
                                vertical-align: top;
                                letter-spacing: .1px;

                                @media (--tablet-large) {
                                    width: auto;
                                    padding: 22px 0 4px;
                                    padding-left: 12px;
                                    font-size: 16px;
                                    font-family: $font-family-primary-bold;
                                    font-weight: $font-weight-bold;
                                    letter-spacing: -.4px;
                                }

                                &:first-of-type {
                                    text-align: left;
                                    padding-left: 3px;

                                    @media (--tablet-large) {
                                        min-width: 220px;
                                        padding-left: 13px;
                                    }
                                }
                            }

                            td {
                                padding: 12px 0 8px;
                                font-family: $font-family-primary;
                                font-weight: $font-weight-normal;
                                font-size: 12px;
                                text-transform: uppercase;
                                border-bottom: 1px solid #e1e1e1;
                                text-align: center;
                                vertical-align: top;
                                letter-spacing: 1.8px;

                                @media (--tablet-large) {
                                    padding: 20px 0 8px;
                                }

                                &:first-of-type {
                                    text-align: left;
                                    padding-left: 4px;

                                    @media (--tablet-large) {
                                        padding-left: 14px;
                                    }
                                }

                            }
                    }

        .c-sizeGuide__close {
            position: absolute;
            bottom: 82px;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: -2px;
        }

            .c-sizeGuide__closeText {
                font-family: $font-family-primary-medium;
                font-weight: $font-weight-medium;
                font-size: 13px;
                line-height: 22px;
                letter-spacing: 1px;
                color: $color-crimson;
                margin-bottom: 3px;
                text-transform: uppercase;
                cursor: pointer;
            }

            .c-sizeGuide__closeArrow {

            }
