.options-list {
    list-style: none;
    margin: 0;
    padding: 0
}

.del-interval__heading {
    margin-bottom: .5rem;
    font-size: .9375rem;
    font-weight: 700;
    clear: both;
    @media(--tablet-large) {
        font-size: 1.0625rem
    }
}

.del-interval .options-list {
    background-color: #fff;
    border: 1px solid #c4c4ae;
    border-radius: 2px;
}

.del-interval .options-list li+li {
    border-top: 1px solid #c4c4ae
}

.del-interval__option {
    padding: .625rem 1.9375rem
}

.product-options-bottom {
    /* margin-top: 1.75rem; */
    clear: right;
}

.del-interval__time {
    text-align: center;
    padding: .4375rem .9375rem .9375rem;
    background-color: #f3f3ed;
    box-shadow: 1px 4px 9px -6px rgba(0, 0, 0, 0.4) inset;
    @media(--tablet-large) {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem
    }
}

.del-interval__time select {
    border: 1px solid #c4c4ae;
    height: 40px;
    width: 7.8125rem;
    @media(--tablet-large) {
        height: 45px;
        width: 7.5rem
    }
}

.del-interval__title {
    display: block;
    margin-bottom: .25rem;
    font-size: .875rem;
    font-weight: 600;
    @media(--tablet-large) {
        display: inline-block;
        height: 2.8125rem;
        line-height: 2.8125rem;
        font-size: 1rem;
        vertical-align: top;
        margin-bottom: 0;
        margin-right: .4375rem
    }
}

.del-interval__info {
    float: right;
    font-size: .875rem;
    font-weight: 700;
    @media(--mobile-large) {
        font-weight: 600;
        text-decoration: underline;
    }
}

.del-interval__info .desktop {
    display: none;
    @media(--mobile-large) {
        display: inline;
    }
}

.del-interval__info .mobile {
    @media(--mobile-large) {
        display: none
    }
}

.custom__radiobox input[type=radio] {
    opacity: 0
}

.custom__radiobox label {
    margin: 0;
    padding-bottom: 0;
    font-size: .875rem;
    line-height: 24px;
    font-weight: 600;
    position: relative;
    display: inline-block;
    @media(--tablet-large) {
        font-size: 1rem
    }
}

.custom__radiobox label:before {
    content: '';
    background: #fff;
    border: 2px solid #c4c4ae;
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    padding: 3px;
    text-align: center;
    border-radius: 100%;
    position: absolute;
    left: -25px;
    top: 1px
}

.custom__radiobox input[type=radio]:checked+label:before {
    border-width: 5px;
    border-color: #E5751A
}

.product-view .product-options-bottom .amgroupcat:last-of-type {
    display: none
}

.recharge .rc_layout__container {
    @media(--tablet-large) {
        max-width: 1366px !important;
    }
}

.recharge .rc_layout__container a {
    color: #393D4E;
    font-size: 17px;
    font-weight: 700;
    line-height: 35px;
}

.nav-stacked a {
    font-size: 16px !important;
}

.rc_layout__container {
    padding: 8rem 0;
}

.rc_customer__name,
.rc_layout p {
    display: none;
}

#customer_tab_content {
    @media(--tablet-large) {
        width: 74.66667%!important;
    }
}

.recharge .rc_title-bar {
    margin-bottom: 2rem;
}

.td-product {
    max-width: 16rem;
}

.purchase-address,
.rc_title-bar {
    margin-bottom: 2rem;
}

.re__subscriptions__subscriptions {
    font-size: 13px;
}

.table-responsive table,
.table-responsive th,
.table-responsive td {
    @media(--mobile-large) {
        border-collapse: collapse;
    }
}

.rc_table,
.rc_table th,
.rc_table td {
    border-collapse: collapse;
}

.recharge .table th,
.rc_table th {
    text-align: left;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 26px;
    text-transform: uppercase;
    border-bottom: 1px solid #d6d6d6;
    padding: 0;
}

.table-responsive td,
.rc_table td {
    @media(--tablet-large) {
        padding: 0rem;
        padding-top: 10px;
        font-size: 16px;
    }
}

.recharge .rc_table td:last-child {
    @media(--tablet-large) {
        width: 50% !important;
    }
}

tbody td:last-child {
    text-align: left !important;
}

.recharge .rc_title-bar h2 {
    @media(--tablet-max) {
        margin-top: 1rem !important;
    }
}

#product-search .input-group-btn .btn {
    width: 45% !important;
    height: 39px !important;
    padding: .5rem 3rem;
}

#product_quantity_decrease,
#product_quantity,
#product_quantity_increase {
    height: 48px;
    height: 3rem;
    border: 1px solid #c4c4ae;
    padding: 13px 16px !important;
    padding: 0.8125rem 1rem !important;
    background-color: #fff;
    color: black;
    cursor: pointer;
}

#product_quantity_wrapper {
    max-width: 120px;
}

.recharge .rc_layout {
    @media(--tablet-max) {
        padding: 10px;
    }
}

.rc_toggler__block,
#rc_subscriptions__items__address,
#rc_subscriptions__items__payment_method {
    width: 50%;
    font-size: 14px;
}

.rc_title-bar__title h2 {
    font-size: 28px;
    font-weight: 700;
    padding-bottom: 10px;
    border-bottom: 1px solid #d6d6d6;
}

.re__schedule__order__address {
    margin-bottom: 10px;
    font-size: 16px;
}

.re__schedule__order__item__edit {
    margin-left: 50px;
}

.re__schedule__order__items td:first-child {
    width: 65%;
}

#customer_tab_content .rc_toggler__block label,
#rc_subscriptions__items__address label,
#rc_subscriptions__items__payment_method label {
    border-bottom: 1px solid #d6d6d6;
    font-weight: 500;
    font-size: 17px;
}

#rc_subscriptions__items__address address {
    font-size: 14px;
}

#customer_tab_content .rc_layout__container a {
    font-size: 14px;
}

.btn-back {
    text-decoration: underline;
}