/*================ Breakpoints Variables ================*/


$breakpoint-mobile: 23.5625em; /* 375px */
$breakpoint-mobile-small-max: 39.938em;/* 639 */
$breakpoint-mobile-large: 40em; /* 640px */
$breakpoint-mobile-max: 47.9375em; /* 767px */
$breakpoint-tablet: 48em; /* 768px */
$breakpoint-tablet-max: 63.9375em; /* 1023px */
$breakpoint-tablet-large: 64em; /* 1024px */
$breakpoint-desktop: 73.75em; /* 1180px */
$breakpoint-desktop-medium: 80em; /* 1280px */
$breakpoint-desktop-large: 90em; /* 1440px */
