/*================ Color Variables ================*/

/* Theme colors */
$color-white: #fff;
$color-black: #000;
$color-black: #000;
$color-cold-grey: #393D4E;
$color-vimergy-orange: #E5751A;
$color-green: #7BA243;
$color-off-white: #f5f5f5;
$color-black-100: #010101;
$color-black-75: #414141;
$color-black-50: #808080;
$color-black-25: #bfbfbf;
$color-black-10: #e5e5e5;

/* Text colors */
$color-body-text: $color-black;

/* Backgrounds */
$color-body-background: $color-white;

/* Border colors */
$color-border: $color-white;

/* Helper colors for form error states */
$color-disabled: $color-black;
$color-disabled-border: $color-black;
$color-error: $color-black;
$color-error-bg: $color-black;
$color-success: $color-black;
$color-success-bg: $color-black;
