/*================ Color Variables ================*/


/* Theme colors */

$color-white: #fff;
$color-black: #000;
$color-primary-black: #1F2A44;
$color-cold-grey: #393D4E;
$color-green:#6ABC7F;
$color-accent-1: #CCB294;
$color-accent-2: #84786C;
$color-accent-3: #D87171;
$color-off-white: #f2f2f2;
$color-hover-grey: #5F6779;
$color-disabled-bg:#F8F8F8;
$color-disabled-font: #DEE0E0;
$color-vimergy-orange: #E5751A;
$color-vimergy-orange-hover: #F6741D;
$color-primary-white: #EFEAE5;
$color-black-100: #010101;
$color-black-75: #414141;
$color-black-50: #808080;
$color-black-25: #bfbfbf;
$color-black-10: #e5e5e5;
$color-border-black:#253237;
$color-secondary: #FBFBF6;

/* Text colors */

$color-heading:$color-border-black;

$color-body-text: $color-primary-black;

/* Backgrounds */

$color-body-background: $color-white;

/* Border colors */

$color-border: $color-white;

/* Helper colors for form error states */

$color-disabled: $color-black;
$color-disabled-border: $color-black;
$color-error: $color-black;
$color-error-bg: $color-black;
$color-success: $color-black;
$color-success-bg: $color-black;