/*================ Typography Variables ================*/

$font-family-base: 'Mark-pro', Arial, sans-serif;
$font-family-medium: 'Mark-pro-m', Arial, sans-serif;
$font-family-bold: 'Mark-pro-b', Arial, sans-serif;
$font-size-base: 19px;
$font-line-height-base: 1.5;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;