.c-megamenu {
    position: relative;
    z-index: 15;
    text-align: center;
    background-color: $color-black;
}

// Top level
.c-megamenu__navitem {
    display: inline-block;

    > a {
        position: relative;
        display: inline-block;
        padding: 15px 20px;
        color: $color-white;

        // focus / open / hover states
        &:focus,
        &.open,
        &.hover {
            color: $color-white;
            text-decoration: underline;
        }

        // open state
        &.open {
            z-index: 1;
        }        
    }
}

// Sub nav
.c-megamenu__subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 40px 20px;
    text-align: left;
    color: $color-white;
    background-color: $color-black;

    // open state
    &.open {
        display: block;
    }

    a {
        color: #707070;
    }
}

// Sub nav inner
.c-megamenu__subnavInner {
    lost-center: 1250px;
}

// Sub nav group
.c-megamenu__subnavGroup {
    float: left;
    width: (100% / 4);
    vertical-align: top;

    li {
        display: block;
    } 
}

// Transition effects (fade-slide-down)
.c-megamenu__subnav {
    display: block;
    height: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: height 300ms ease-in-out, opacity 500ms ease-in-out, visibility 500ms ease-in-out;

    &.open {
        height: 335px;
        opacity: 1;
        visibility: visible;
        transition: height 500ms ease-in-out, opacity 400ms ease-in-out, visibility 400ms ease-in-out;
    }
}

.c-megamenu__subnavGroup {
    opacity: 0;
    transform: translateY(-30px);
    transition: transform 700ms ease-in-out, opacity 600ms ease-in-out;

    .open & {
        opacity: 1;
        transform: translateY(0);
    }
}
