
<div class="o-wrapper">
    {% comment %} <div class="c-shopifyPageHero u-textCenter">
        <h1 class="c-headingHero">{{ page.title }}</h1>
    </div> {% endcomment %}
    <div class="c-shopifyPageContent c-shopifyPageContent--mini">
    <div class="c-cutomer-service">
        <div class="c-content-pages">
            <div class="c-cs-container">
                <div class="c-page-head">
                {{ page.content }}
            </div>
      </div>
   </div>
</div>
</div>
</div>
