







<div class="c-page-login">
<div class="c-account-login">
   <div class="o-row">
      <div class="page-title">
        <h1>Login or Create an Account</h1>
    </div>
   </div>
   <div class="o-flex">
    <div class="o-flex__item o-flex__col-6 c-new-users">
         <div class="content">
                <h2>New Here?</h2>
                <p class="form-instructions">Registration is free and easy!</p>
                <ul class="benefits">
                    <li>Faster checkout</li>
                    <li>Save multiple shipping addresses</li>
                    <li>View and track orders and more</li>
                </ul>
        </div>
                <div class="buttons-set">
                    <a title="Create an Account" class="c-btn c-btn--secondary" href="https://vimergy.com/customer/account/create/">Create an Account</a>
                </div>
    </div>
    <div class="o-flex__item o-flex__col-6 c-registered-users">
    <div class="content fieldset">
                    <h2>Already registered?</h2>
                    <p class="form-instructions">If you have an account with us, please log in.</p>
                    <!-- <p class="required">* Required Fields</p> -->
                    <ul class="form-list">
                        <li>
                            <!-- <label for="email" class="required"><em>*</em>Email Address</label> -->
                            <div class="input-box">
                                <input type="email" autocapitalize="off" autocorrect="off" spellcheck="false" name="login[username]" value="" id="email" class="input-text required-entry validate-email" title="Email Address" placeholder="Email Address...">
                            </div>
                        </li>
                        <li>
                            <!-- <label for="pass" class="required"><em>*</em>Password</label> -->
                            <div class="input-box">
                                <input type="password" name="login[password]" class="input-text required-entry validate-password" id="pass" title="Password" placeholder="Password...">
                            </div>
                        </li>
                                                <!-- <li class="control remember-me-box">
        <div class="input-box">
        <input type="checkbox" name="persistent_remember_me" class="checkbox" id="remember_me9pI01D3rVn" checked="checked" title="Remember Me" />
    </div>
    <label for="remember_me9pI01D3rVn">Remember Me</label>
    <a class="link-tip" href="#">What's this?</a>
</li>
 -->
                    </ul>
                    <!-- <div class="remember-me-popup">
    <div class="remember-me-popup-head">
        <h3>What's this?</h3>
        <a href="#" class="remember-me-popup-close" title="Close">Close</a>
    </div>
    <div class="remember-me-popup-body">
        <p>Checking &quot;Remember Me&quot; will let you access your shopping cart on this computer when you are logged out</p>
        <div class="remember-me-popup-close-button a-right">
            <a href="#" class="remember-me-popup-close button" title="Close"><span>Close</span></a>
        </div>
    </div>
</div>
<script type="text/javascript">
//<![CDATA[
function toggleRememberMePopup() {
    var formParent = jQuery(this).parents('form:first');
    formParent.find('.remember-me-box a').toggleClass('hide');
    formParent.find('.remember-me-popup').toggleClass('show');
    return false;
}
var rememberMeToggleSetup = false;
jQuery(document).ready(function(){
    if (!rememberMeToggleSetup) {
        jQuery('.remember-me-box a, .remember-me-popup a').on('click', toggleRememberMePopup);
        rememberMeToggleSetup = true;
    }
});
//]]>
</script>
 -->
                
                <div class="buttons-set">
                    <a href="https://vimergy.com/customer/account/forgotpassword/" class="f-left">Forgot Your Password?</a>
                    <button type="submit" class="btn primary" title="Login" name="send" id="send2">
                        Login                    </button>
                </div>
                </div>
    </div>
    </div>
    </div>
    </div>
    </div>

