.c-drawer__wrapper {
  display: flex;
  flex-direction: column;
  min-height: calc(100% - 25px);
  padding-bottom: 20px;
  align-items: center;
  background-color: #F7F9FB;

  @include bp(tablet) {
    padding-top: 75px;
  }
}

.c-drawer {
  padding: 0px 30px;
  width: 100%;
  flex: 1;

  @include bp(tablet) {
    max-width: 450px;
    width: 450px;
  }

  &--white {
    background-color: $color-white;
  }

  &--paddingDefault {
    padding-left: 28px;
    padding-right: 28px;
  }
}

.c-drawer__inner {
  padding: 0;
}

.c-drawer__title {
  margin-bottom: 22px;
  font-family: $font-primary-regular;
  font-weight: bold;
  text-transform: capitalize;
  font-style: normal;
  font-size: 31px;
  line-height: 42px;
}

.c-drawer__subtitle {
  margin-bottom: 20px;
  font-family: $font-primary-medium;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: $color-blue-secondary;

  &--info {
    margin-bottom: 35px;
  }
}

.c-drawer__actionButtons {
  width: 100%;
  margin-top: 16px;
  padding: 24px;
  background-color: $color-white;
  border: 1px solid $color-blue-light-border;
}

.c-form__submitButton {
  border-radius: 4px;
  text-transform: uppercase;
  letter-spacing: 0.12px;
  font-weight: bold !important;
  margin: 0 auto;
}

.c-option__select {
  width: 26px;
  min-width: 26px;
  height: 26px;
  min-height: 26px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2.5px solid $color-blue-light-border;
  transition: all 0.2s linear;

  .c-option__inner {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: $color-white;

    &--editing {
      width: 60%;
      border-radius: 3px;
      height: 5px;
    }
  }

  &--picked {
    background-color: $color-blue-brand;
    border: 0px;
    pointer-events: none;
  }

  &--editing {
    background-color: $color-danger;
    border: 0px;

    &:hover,
    &:focus {
      background-color: $color-danger;
      border: 0px;
    }
  }
}

.c-drawerCard__button-bottom {
  background-color: $color-white;
  border: 1px solid $color-blue-light-border;
  border-radius: 4px;
  padding: 20px;
}

.c-darwer__edittingAddress {
  max-width: 392px
}
