.c-formBlock {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 24px 0;
  // background: $color-white;

  @include bp(tablet) {
    padding: 24px 20px;
  }
}

.c-formBlock--noPadding {
  display: flex;
  flex-direction: column;
  width: 100%;
  // background: $color-white;
}

.c-form__submitBox {
  align-items: flex-start;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  @include bp(tablet) {
    padding-bottom: 15px;
    margin-top: 0px;
  }


  &.form__submitBox--left {
    align-items: flex-start;
  }
}
