.c-table {
  background-color: #fff;
  color: #666;
}

.c-table td,
.c-table th {
  border: 1px solid #fafafa;
  border-width: 0 0 1px;
  padding: 0.5em 0.75em;
  vertical-align: top;
}

.c-table td.is-narrow,
.c-table th.is-narrow {
  white-space: nowrap;
  width: 1%;
}

.c-table td.is-selected,
.c-table th.is-selected {
  background-color: #363636;
  color: #363636;
}

.c-table td.is-selected a,
.c-table td.is-selected strong,
.c-table th.is-selected a,
.c-table th.is-selected strong {
  color: currentColor;
}

.c-table th {
  color: #363636;
}

.c-table th:not([align]) {
  text-align: left;
}

.c-table tr.is-selected {
  background-color: #363636;
  color: #363636;
}

.c-table tr.is-selected a,
.c-table tr.is-selected strong {
  color: currentColor;
}

.c-table tr.is-selected td,
.c-table tr.is-selected th {
  border-color: #363636;
  color: currentColor;
}

.c-table thead {
  background-color: transparent;
}

.c-table thead td,
.c-table thead th {
  border-width: 0 0 2px;
  color: #363636;
}

.c-table tfoot {
  background-color: transparent;
}

.c-table tfoot td,
.c-table tfoot th {
  border-width: 2px 0 0;
  color: #363636;
}

.c-table tbody {
  background-color: transparent;
}

.c-table tbody tr:last-child td,
.c-table tbody tr:last-child th {
  border-bottom-width: 0;
}

.c-table.is-bordered td,
.c-table.is-bordered th {
  border-width: 1px;
}

.c-table.is-bordered tr:last-child td,
.c-table.is-bordered tr:last-child th {
  border-bottom-width: 1px;
}

.c-table.is-fullwidth {
  width: 100%;
}

.c-table.is-hoverable tbody tr:not(.is-selected):hover {
  background-color: #363636;
}

.c-table.is-hoverable.is-striped tbody tr:not(.is-selected):hover {
  background-color: #363636;
}

.c-table.is-hoverable.is-striped
  tbody
  tr:not(.is-selected):hover:nth-child(even) {
  background-color: #fafafa;
}

.c-table.is-narrow td,
.c-table.is-narrow th {
  padding: 0.25em 0.5em;
}

.c-table.is-striped tbody tr:not(.is-selected):nth-child(even) {
  background-color: #fafafa;
}

.c-tableContainer {
  overflow: auto;
  overflow-y: hidden;
  max-width: 100%;
}
