<div class="c-about-certs">
         <div class="c-about-certs__inner">
            <div class="c-about-cert">
               <div class="c-about-cert__icon">
                  <img src="http://vimergy.com/skin/frontend/vimergy/default/images/media/icon-vegan-green.svg" alt="">
               </div>
               <p class="c-about-cert__name">Vegan</p>
            </div>
           <div class="c-about-cert">
               <div class="c-about-cert__icon">
                  <img src="http://vimergy.com/skin/frontend/vimergy/default/images/media/icon-vegan-green.svg" alt="">
               </div>
               <p class="c-about-cert__name">Vegan</p>
            </div>
           <div class="c-about-cert">
               <div class="c-about-cert__icon">
                  <img src="http://vimergy.com/skin/frontend/vimergy/default/images/media/icon-vegan-green.svg" alt="">
               </div>
               <p class="c-about-cert__name">Vegan</p>
            </div>
           <div class="c-about-cert">
               <div class="c-about-cert__icon">
                  <img src="http://vimergy.com/skin/frontend/vimergy/default/images/media/icon-vegan-green.svg" alt="">
               </div>
               <p class="c-about-cert__name">Vegan</p>
            </div>
             <div class="c-about-cert">
               <div class="c-about-cert__icon">
                  <img src="http://vimergy.com/skin/frontend/vimergy/default/images/media/icon-vegan-green.svg" alt="">
               </div>
               <p class="c-about-cert__name">Vegan</p>
            </div>
            <div class="c-about-cert">
               <div class="c-about-cert__icon">
                  <img src="http://vimergy.com/skin/frontend/vimergy/default/images/media/icon-vegan-green.svg" alt="">
               </div>
               <p class="c-about-cert__name">Vegan</p>
            </div>
         </div>
</div>