<div class="c-cutomer-service">
   <div class="c-content-pages">
      <div class="c-cs-container">
         <div class="c-page-head">
            <h2>PAYMENT POLICY:</h2>
            <p><span><strong>Accepted Methods of Payment</strong></span></p>
            <ul>
               <li>Credit Card (Visa, Master Card, American Express, Discover)</li>
            </ul>
            <p>Sorry, we do not accept checks</p>
            <p><span><strong>Credit Card Charges</strong></span></p>
            <p>Your credit card will be charged when you place your order. If we are not able to fulfill your order for any reason you will be contacted or your credit card will be refunded. All credit card charges will appear on your statement as VIMERGY LLC.</p>
            <p><span><strong>Discounts, Store Credit, Gift Cards</strong></span></p>
            <p>Before the final checkout you will have the option to enter any promotional codes, store credits, or gift cards. To enter in a store credit or gift card please be sure to be logged into your account that your credit or gift is related to.</p>
            <p><strong><span>Agree to Policy</span></strong></p>
            <p>By placing an order on our site, you agree to the terms and conditions of our site, payment, shipping, returns, and exchange policies.</p>
            <p>&nbsp;</p>
            <h2>SHIPPING POLICY:</h2>
            <p><strong><span>Turnaround Time</span><br></strong></p>
            <p>All orders are shipped within 24-48 hours, Monday – Friday 9am – 5pm PST<strong></strong></p>
            <p><strong><span>Shipping Carriers</span></strong></p>
            <p>We use the following carriers to deliver our packages:</p>
            <ul>
               <li>USPS</li>
               <li>UPS</li>
            </ul>
            <p><span><strong>International Orders</strong></span></p>
            <p>Depending on your country and the shipping service you choose, you may be required to pay additional import or customs fees by your government in order to receive your package. Any additional charges are the full responsibility of the customer, and should be taken into consideration before placing an order. Vimergy is not responsible for paying fees imposed by customs. If a package is refused at by the customer or customs, discarded, returned or destroyed it is the customers full responsibility for the order, and we will be unable to reship. If a package is refused or denied and we do happen to receive the package back you will receive credit for the items minus our 10% restocking fee. Shipping charges or any other customs fees are non-refundable.</p>
            <p>Also note, some items are not able to be imported into specific countries.</p>
            <p><em>For example, mushroom products like Reishi or Chaga cannot be imported into Australia or New Zealand.</em></p>
            <p><span><strong>Order Tracking</strong></span></p>
            <p>If a tracking number is provided by the shipping carrier, we will update your order with the tracking information. Please note that some orders choosing to ship via 1st Class USPS mail will not have tracking numbers. If you want a more&nbsp;reliable service for tracking, we recommend that you use UPS.</p>
            <p><span><strong>Shipping Rates</strong></span></p>
            <p>The rate charged for the shipping of your order is based on the weight of your products and your location. You will be shown your final shipping total to verify before checkout.</p>
            <p><strong><span>Free Shipping Offer</span></strong></p>
            <p>We offer free shipping for orders $100 or more. This is based on the order total, minus any discounts. This offer is only valid for orders shipped within the continental 48 United States.</p>
            <p><span><strong>Time In Transit</strong></span></p>
            <p>Customers on the West Coast generally receive their orders within 1-2 business days, while the East Coast can take up to 3-5 business days.</p>
            <p><strong><span>Back Orders</span></strong></p>
            <p>If an item goes on back order we will ship you the part of your order that is in stock. When the item becomes available we will ship you the rest of your order. You will not be charged any additional shipping and handling for the second shipment. If your partial order cannot be shipped ahead of time, we will email you to let you know, and you can choose to wait, or cancel your order at that time.</p>
            <p>&nbsp;</p>
            <h2>RETURNS POLICY:</h2>
            <p><span><strong>How To Return An Item</strong></span></p>
            <p>You must contact us and arrange for a return&nbsp;<strong>within 30 days</strong>&nbsp;of your purchase.</p>
            <ul>
               <li>All product must be in their original, unopened package to be accepted for a return, unless there is a manufacturer defect.</li>
            </ul>
            <p>If your product is eligible for a return, email us at returns [@] vimergy [dot] com for instructions on how to send the product back, and to receive a RMA return number.</p>
            <p><em>Please note: Unless there is a manufacturer defect, return shipping is the responsibility of the customer. Shipping and handling is not refundable.</em></p>
            <p><span><strong>Restocking Fee</strong></span></p>
            <p>All items are subject to a 10% re-stocking fee, which will be deducted from your refund. We do not refund the original shipping and handling paid on the order.</p>
            <p>&nbsp;</p>
            <h2>EXCHANGE POLICY:</h2>
            <p><strong>Exchanges</strong></p>
            <p>If you ordered the incorrect item, we are happy to accept it for an exchange, as long as its within the 30 days or purchase, and is unopened and in original condition. You will not be subject to a restocking fee in this case, but you will be responsible for return shipping, and the new shipping charge for the correct item.</p>
            <p>&nbsp;</p>
            <h2>QUESTIONS:</h2>
            <p><strong><span>Contact Customer Service</span><br></strong></p>
            <p><span>If you have any further questions regarding our payment, shipping, returns, or exchange policies, please email us at help [@] vimergy [dot] com</span></p>
         </div>
      </div>
   </div>
</div>