<div class="c-home-products-recommend">
    <div class="c-recommend-inner"> 
    <div class="o-row">
        <div class="o-col o-medium-6">
            <div class="c-recommend__img"><img src="http://vimergy.com/media/wysiwyg/Pdp_Template_Chaga.png" alt=""></div>
        </div>
        <div class="o-col o-medium-6">
                <div class="c-recommend__info">
            <h2 class="c-recommend__heading">Recommended product</h2>
            <p class="c-recommend__title">Chaga</p>
            <p class="c-recommend__desc">“It has been observed by contemporary Russians that in the districts where chaga was regularly used, there was no cancer.”<br> - Cass Ingram, MD &amp; Author <br><em></em></p>
            <p><a class="c-btn c-btn-primary" href="/strength-chaga.html">Shop Chaga</a></p>
            </div>
        </div>
    </div>  
    </div>

      <div class="c-recommend-inner"> 
    <div class="o-row">
        <div class="o-col o-medium-6 o-col-medium-push-6">
            <div class="c-recommend__img"><img src="http://vimergy.com/media/wysiwyg/Pdp_Template_Barleygrass.png" alt=""></div>
        </div>
        <div class="o-col o-medium-6 o-col-medium-pull-6">
                <div class="c-recommend__info">
            <h2 class="c-recommend__heading">Recommended product</h2>
            <p class="c-recommend__title">Barleygrass Juice</p>
            <p class="c-recommend__desc">“Barley grass acts as a free radical scavenger that also reduces inflammation and pain.”<br> - Dr. Nicholas V. Perricone</p>
            <p><a class="c-btn c-btn-primary" href="/alkalize-barleygrass.html">Shop Barleygrass</a></p>
            </div>
        </div>
    </div>  
    </div>
    <div class="c-recommend-inner"> 
    <div class="o-row">
        <div class="o-col o-medium-6">
            <div class="c-recommend__img"><img src="http://vimergy.com/media/wysiwyg/Pdp_Template_Wildblueberry.png" alt=""></div>
        </div>
        <div class="o-col o-medium-6">
                <div class="c-recommend__info">
            <h2 class="c-recommend__heading">Recommended product</h2>
            <p class="c-recommend__title">Wild Blueberry</p>
            <p class="c-recommend__desc">“The most powerful fruit on the planet is the wild blueberry. They can prevent and reverse disease. They are the most powerful brain food in existence.”<br> - Anthony William, NY Times Best Selling Author</p>
            <p><a class="c-btn c-btn-primary" href="/wild-blueberry.html">Shop Blueberry</a></p>
            </div>
        </div>
    </div>  
    </div>

</div>