<div class="c-testimonials">
   <div class="o-row">
      <div class="c-testimonials__icon"><img src="http://vimergy.com/skin/frontend/vimergy/default/images/media/icon-plant.svg" alt="Plant"></div>
      <h2 class="c-testimonials__heading">Our Vimergy Community</h2>
   </div>

   <div class="o-row c-testimonials-carousel js-testimonals-carousel">

            <div class="o-medium-6 o-large-4 o-col">
               <div class="c-testimonial">
                  <div class="c-testimonial__img">
                     <img src="http://vimergy.com/media/testimonials/tanny-min.jpg" alt="">
                  </div>
                  <p class="c-testimonial__name">Tanya Murphy</p>
                  <p class="c-testimonial__desc">"One of my favorite added nutritional boosts to my long term raw vegan diet is Vimergy Barley Grass Juice and Wheat Grass Juice Extract Powders!!! It gives me an energy boost and adds a creaminess to my juices that I really like. It is the only green powder I have ever used that I absolutely love the flavor of, I actually crave the taste of it! "</p>
                  <p class="c-testimonial__link">
                     <a href="http://vimergy.com/alkalize-barleygrass.html" tabindex="-1">Find Out About Barley Grass </a>
                  </p>
               </div>
            </div>
             <div class="o-medium-6 o-large-4 o-col">
               <div class="c-testimonial">
                  <div class="c-testimonial__img">
                     <img src="http://vimergy.com/media/testimonials/tanny-min.jpg" alt="">
                  </div>
                  <p class="c-testimonial__name">Tanya Murphy</p>
                  <p class="c-testimonial__desc">"One of my favorite added nutritional boosts to my long term raw vegan diet is Vimergy Barley Grass Juice and Wheat Grass Juice Extract Powders!!! It gives me an energy boost and adds a creaminess to my juices that I really like. It is the only green powder I have ever used that I absolutely love the flavor of, I actually crave the taste of it! "</p>
                  <p class="c-testimonial__link">
                     <a href="http://vimergy.com/alkalize-barleygrass.html" tabindex="-1">Find Out About Barley Grass </a>
                  </p>
               </div>
            </div>
             <div class="o-medium-6 o-large-4 o-col">
               <div class="c-testimonial">
                  <div class="c-testimonial__img">
                     <img src="http://vimergy.com/media/testimonials/tanny-min.jpg" alt="">
                  </div>
                  <p class="c-testimonial__name">Tanya Murphy</p>
                  <p class="c-testimonial__desc">"One of my favorite added nutritional boosts to my long term raw vegan diet is Vimergy Barley Grass Juice and Wheat Grass Juice Extract Powders!!! It gives me an energy boost and adds a creaminess to my juices that I really like. It is the only green powder I have ever used that I absolutely love the flavor of, I actually crave the taste of it! "</p>
                  <p class="c-testimonial__link">
                     <a href="http://vimergy.com/alkalize-barleygrass.html" tabindex="-1">Find Out About Barley Grass </a>
                  </p>
               </div>
            </div>
             <div class="o-medium-6 o-large-4 o-col">
               <div class="c-testimonial">
                  <div class="c-testimonial__img">
                     <img src="http://vimergy.com/media/testimonials/tanny-min.jpg" alt="">
                  </div>
                  <p class="c-testimonial__name">Tanya Murphy</p>
                  <p class="c-testimonial__desc">"One of my favorite added nutritional boosts to my long term raw vegan diet is Vimergy Barley Grass Juice and Wheat Grass Juice Extract Powders!!! It gives me an energy boost and adds a creaminess to my juices that I really like. It is the only green powder I have ever used that I absolutely love the flavor of, I actually crave the taste of it! "</p>
                  <p class="c-testimonial__link">
                     <a href="http://vimergy.com/alkalize-barleygrass.html" tabindex="-1">Find Out About Barley Grass </a>
                  </p>
               </div>
            </div>
   </div>
</div>