<div class="c-banner">
  <div class="o-row">
      <div class=" o-col o-medium-6 c-banner__img" style="background-image: url('http://vimergy.com/media/wysiwyg/bike-couple.jpg');">&nbsp;
      </div>
    <div class="o-col o-medium-6">
    <div class="c-banner__info">
        <h2 class="c-banner__heading">Pure whole food nutrition your body deserves.</h2>
        <p class="c-banner__desc">100% Pure. No fillers and preservatives</p>
        <p><a class="c-btn c-btn-primary" href="/catalog/shop">Shop collection</a></p>
      </div>
    </div>   
  </div>
</div>