<div class="o-row">
<div class="c-hero-banner">
<div class="c-column">
<div class="c-hero-banner__info">
   <h1 class="c-hero-banner__heading">100% Organic Greens &amp; Mushrooms</h1>
   <p class="c-hero-banner__desc">Our products take care of you, while you take care of everything else.</p>
   <p class="c-hero-banner__link"><a href="http://vimergy.com/catalog/shop/" class="c-btn primary">Shop now</a></p>
   <div class="c-hero-banner__stat">
      <div class="c-hero-banner__icon">
         <img src="http://vimergy.com/skin/frontend/vimergy/default/images/media/icon-vegan.svg" alt="">
      </div>
      <p>Vegan</p>
   </div>
   <div class="c-hero-banner__stat">
      <div class="c-hero-banner__icon">
         <img src="http://vimergy.com/skin/frontend/vimergy/default/images/media/icon-gluten-free.svg" alt="">
      </div>
      <p>Gluten-Free</p>
   </div>
   <div class="c-hero-banner__stat">
      <div class="c-hero-banner__icon">
         <img src="http://vimergy.com/skin/frontend/vimergy/default/images/media/icon-nogmo.svg" alt="">
      </div>
      <p>Non-GMO</p>
   </div>
   <div class="c-hero-banner__stat">
      <div class="c-hero-banner__icon">
         <img src="http://vimergy.com/skin/frontend/vimergy/default/images/media/icon-corn-free.svg" alt="">
      </div>
      <p>Corn-Free</p>
   </div>
   <div class="c-hero-banner__stat">
      <div class="c-hero-banner__icon">
         <img src="http://vimergy.com/skin/frontend/vimergy/default/images/media/icon-soy-free.svg" alt="">
      </div>
      <p>Soy-Free</p>
   </div>
   <div class="c-hero-banner__stat">
      <div class="c-hero-banner__icon">
         <img src="http://vimergy.com/skin/frontend/vimergy/default/images/media/icon-pure.svg" alt="">
      </div>
      <p>100% Pure</p>
   </div>
</div>

</div>
</div>
</div>

