<div class="c-product-detail">
    <div class="c-row">
        <h2 class="c-product-detail__heading">Learn more about this product</h2>
    </div>
    <div class="c-row">
        <dl class="accordion js-accordion">

            <dt class="accordion__heading" aria-selected="false">
                Product info </dt>

            <dd class="accordion__panel" aria-hidden="true">
                <div class="accordion__content">
                   {{ product.metafields.c_f.prod-info }}
                </div>
            </dd>

            <dt class="accordion__heading" aria-selected="false">
                How to use </dt>

            <dd class="accordion__panel" aria-hidden="true">
                <div class="accordion__content">     
                     {{ product.metafields.c-f.usage }}
            </div>
            </dd>

            <dt class="accordion__heading" aria-selected="false">
                Resources </dt>

            <dd class="accordion__panel" aria-hidden="true">
                <div class="accordion__content">
                    <div class="product-resource">
                        <p>
                        {{product.metafields.c_f.resources}}
                        </p>
                    </div>
                </div>
            </dd>
        </dl>
    </div>
</div>