<div class="c-product-detail">
    <h2 class="c-heading">Product info</h2>
    <div class="c-product__desc">
        {{ product.metafields.c_f.prod-info }}
    </div>
    <div class="accordion__content">
        {{ product.metafields.c_f.usage }}
    </div>
    <div class="product-resource">
        <p>
            {{product.metafields.c_f.resources}}
        </p>
    </div>
</div>

