/* --- Setting ---------- */
/*================ SETTINGS ================*/
/*================ Color Variables ================*/
/* Theme colors */
/* Text colors */
/* Backgrounds */
/* Border colors */
/* Helper colors for form error states */
/*================ Button Variables ================*/
/* Hover */
/* Focus and Active */
/* Disabled */
/*================ Typography Variables ================*/
/*================ Breakpoints Variables ================*/
/* 375px */
/* 639 */
/* 640px */
/* 767px */
/* 768px */
/* 1023px */
/* 1024px */
/* 1180px */
/* 1280px */
/* 1440px */
/*================ Width Variables ================*/
/*================ Animation Variables ================*/
/*================ Gutters Variables ================*/
/* --- Tools ---------- */
/*================ TOOLS ================*/
/*================ Fonts ================*/
/*================ Breakpoint custom properties ================*/
/*================ Custom selectors ================*/
/* --- Generic ---------- */
/*! normalize.css v6.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
    line-height: 1.15;
    /* 1 */
    -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
article, aside, footer, header, nav, section {
    display: block;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption, figure, main {
    /* 1 */
    display: block;
}
/**
 * Add the correct margin in IE 8.
 */
figure {
    margin: 1em 40px;
}
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 1 */
    overflow: visible;
    /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
    font-family: monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
    background-color: transparent;
    /* 1 */
    -webkit-text-decoration-skip: objects;
    /* 2 */
}
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
    border-bottom: none;
    /* 1 */
    text-decoration: underline;
    /* 2 */
    -webkit-text-decoration: underline dotted;
            text-decoration: underline dotted;
    /* 2 */
}
/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
strong {
    font-weight: inherit;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code, kbd, samp {
    font-family: monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}
/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
    font-style: italic;
}
/**
 * Add the correct background and color in IE 9-.
 */
mark {
    background-color: #ff0;
    color: #000;
}
/**
 * Add the correct font size in all browsers.
 */
small {
    font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio, video {
    display: inline-block;
}
/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
    display: none;
    height: 0;
}
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
    border-style: none;
}
/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
    overflow: hidden;
}
/* Forms
   ========================================================================== */
/**
 * Remove the margin in Firefox and Safari.
 */
button, input, optgroup, select, textarea {
    margin: 0;
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button, input {
    /* 1 */
    overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button, select {
    /* 1 */
    text-transform: none;
}
/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
    /* 2 */
}
/**
 * Remove the inner border and padding in Firefox.
 */
[type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner, button::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
[type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring, button:-moz-focusring {
    outline: 1px dotted ButtonText;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    /* 1 */
    color: inherit;
    /* 2 */
    display: table;
    /* 1 */
    max-width: 100%;
    /* 1 */
    padding: 0;
    /* 3 */
    white-space: normal;
    /* 1 */
}
/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
    display: inline-block;
    /* 1 */
    vertical-align: baseline;
    /* 2 */
}
/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
    overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"], [type="radio"] {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
    height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}
/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details, menu {
    display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
    display: list-item;
}
/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
    display: inline-block;
}
/**
 * Add the correct display in IE.
 */
template {
    display: none;
}
/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
    display: none;
}
html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
audio, canvas, video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
img {
    border: 0;
}
img, object, video, embed {
    height: auto;
    max-width: 100%;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 0;
}
address {
    font-style: normal;
}
._keyfocus *:focus, input:not([disabled]):focus, textarea:not([disabled]):focus, select:not([disabled]):focus {/* box-shadow: 0 0 3px 1px #68a8e0; */
}
/* --- Base Elements ----------- */
/* Typography reset */
html {
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    font-family: 'proxima-nova',sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    font-size: 19px;
    color: #000;
    background-color: #fff;
}
p {
    margin-top: 8px;
    margin-bottom: 8px;
}
/* Abbreviations and acronyms */
abbr[title] {
    cursor: help;
    border-bottom: 1px dotted #f6f6f6;
}
b, strong {
    font-weight: 700;
}
em, i {
    font-style: italic;
}
mark {
    background: #f6f6f6;
    color: #000;
}
small, .small {
    font-size: 12px;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #f6f6f6;
}
sub, sup {
    position: relative;
    font-size: 68.75%;
    line-height: 0;
    vertical-align: baseline;
}
sup {
    top: -10px;
}
sub {
    bottom: -5px;
}
dfn {
    font-style: italic;
}
/* Headings */
h1, h2, h3, h4, h5, h6 {
    margin-top: 7px;
    margin-bottom: 7px;
    font-family: inherit;
    font-style: inherit;
    font-weight: 700;
    line-height: 1.1;
    color: inherit;
}
h1 {
    font-size: 29.6px;
}
h2 {
    font-size: 29.6px;
}
h3 {
    font-size: 20.48px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 13.6px;
}
h6 {
    font-size: 11.2px;
}
/* Links */
a {
    color: $color-blue;
    text-decoration: none
}
a:hover, a:focus, a:active {
    color: $color-blue;
    text-decoration: none;
}
/* Lists */
dl {
    margin-top: 0;
    margin-bottom: 20px;
}
dt {
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 700;
}
dd {
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 0;
}
/* Code */
code, kbd, pre, samp {
    font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
}
/* Inline code */
code {
    padding: 2px 4px;
    font-size: 12px;
    color: #000;
    background: #f6f6f6;
    white-space: nowrap;
}
/* User input typically entered via keyboard */
kbd {
    padding: 2px 4px;
    font-size: 12px;
    color: #000;
    background: #f6f6f6;
}
/* Blocks of code */
pre {
    display: block;
    margin: 0 0 10px;
    padding: 10px;
    font-size: 12px;
    line-height: 1.5;
    color: #000;
    background: #f6f6f6;
    border: 1px solid #ddd;
    word-wrap: break-word;
}
pre code {
        padding: 0;
        font-size: inherit;
        color: inherit;
        background-color: transparent;
        border-radius: 0;
        white-space: pre-wrap;
    }
/* Undo browser default styling */
cite {
    font-style: normal;
}
/* Blockquotes */
blockquote {
    margin: 0 0 20px 40px;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
    border-left: 1px solid #f6f6f6;
}
blockquote p:last-child, blockquote ul:last-child, blockquote ol:last-child {
    margin-bottom: 0;
}
blockquote footer, blockquote small, blockquote .small {
        display: block;
        font-size: 11px;
        line-height: 1.5;
        color: #000
    }
blockquote footer:before, blockquote small:before, blockquote .small:before {
    content: '\2014 \00A0';
}
blockquote cite {
        font-style: normal;
    }
/* Quotes */
blockquote:before, blockquote:after {
    content: '';
}
q {
    quotes: none;
}
q:before, q:after {
    content: '';
    content: none;
}
button {
    display: inline-block;
    width: auto;
    margin: 0;
    padding: 8px 15px;
    font-family: $font-family-primary-bold;
    font-weight: $font-weight-bold;
    font-size: 16px;
    text-transform: uppercase;
    line-height: $font-size-new + 2;
    color: #fff;
    letter-spacing: 2px;
    background-image: none; /* Reset unusual Firefox-on-Android default style */
    background-color: #000;
    border: 1px solid #fff;
    border-radius: 0;
    cursor: pointer;
    vertical-align: middle;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
button:focus, button:active {
    color: #000;
    background-color: #fff;
    border-color: #000;
}
button:hover {
    color: #000;
    background-color: #fff;
    border-color: #000;
}
button.disabled, button[disabled], fieldset[disabled] button {
        opacity: 0.5;
        cursor: default;
        pointer-events: none; /* Disabling of clicks */
}
label {
    display: block;
    margin: 0;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.8;
    color: #000;
}
/* Textarea */
textarea {
    max-width: 100%;
    height: 150px;
    resize: none
}
textarea[rows] {
    height: auto;
}
[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 40px;
    margin: 0 0 16px;
    margin: 0 0 1rem;
    padding: 10px 20px 8px;;
    border: 1px solid $color-pampas;
    border-radius: 0;
    background-color: $color-pampas;
    -webkit-box-shadow: none;
            box-shadow: none;
    font-family: inherit;
    font-size: 16px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #0a0a0a;
    -webkit-transition: border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;
    transition: border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none
}
[type='text']:focus, [type='password']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='week']:focus, [type='email']:focus, [type='number']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='url']:focus, [type='color']:focus, textarea:focus {
    outline: none;/* border: 1px solid $color-pampas; */
    background-color: $color-pampas;
    -webkit-transition: border-color 0.25s ease-in-out;
    transition: border-color 0.25s ease-in-out;
}
/* Placeholder text */
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #343434;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #343434;
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder {
    color: #343434;
}
input::placeholder, textarea::placeholder {
    color: #343434;
}
/* Disabled */
input:disabled, input[readonly], textarea:disabled, textarea[readonly] {
    background-color: #e6e6e6;
    cursor: not-allowed;
}
a {
    color: #000
}
a:hover, a:focus, a:active {
    color: $color-crimson;
}
html {
    background-color: $color-gray-20;
}
body {
    max-width: 1920px;
    margin: 0 auto;
    font-family: 'proxima-nova',sans-serif;
    background-color: #f5f5f5;
}
/* --- Objects ----------- */
/*================ OBJECTS ================*/
/*================ Site wrappers ================*/
.o-wrapper {
    padding: 0 6px;
}
@media (min-width: 48em) {
    .o-wrapper {
        padding: 0 40px;
        max-width: 1920px;
    }
}
@media (min-width: 64em) {
    .o-wrapper {
        padding: 0 50px;
    }
}
/*================ Flex ================*/
.o-flex {display: flex;flex-direction: row;
}
.o-flex__item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}
@media (max-width: 47.9375em) {
    .o-flex--verticalMobile {display: flex;flex-direction: column;
    }
}
.o-flex__item--middle {align-self: center;
}
.o-header {
    position: relative;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 18px 2px rgba(0, 0, 0, .1);
            box-shadow: 0px 0px 18px 2px rgba(0, 0, 0, .1);
    padding: 20px 19px;
    padding: 1.25rem 1.1875rem;
   
    padding-bottom: 9.6px;
   
    padding-bottom: 0.6rem;
}
.o-header:after {
    content: '';
    display: block;
    clear: both;
}
@media (max-width: 63.9375em) {
    .o-header {
        padding: 1.25rem;
    }
}
@media (min-width: 73.75em) {
    .o-header {
        padding-left: 3rem;
    }
}
@media (max-width: 63.9375em) {
    .o-header__logo {
        display: block;
        margin: 0 auto;
        width: 7.1875rem;
    }
}
@media (min-width: 64em) {
    .o-header__logo {
        float: left;
        margin-right: 1.5625rem;
    }
}
@media (min-width: 64em) {
    .o-header__menu {
        float: left;
    }
}
@media (min-width: 64em) {
    .o-header__menu--right {
        float: right;
    }
}
@media (max-width: 63.9375em) {
    .c-menu__item--cart{
        visibility: visible;
    } 
    .o-header__menu {
        position:absolute;
        top: 3.125rem;
        left: 0;
        z-index: 2;
        width: 100%;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: opacity 0.6s 0s, visibility 0s 0.6s;
        transition: opacity 0.6s 0s, visibility 0s 0.6s;
        background-color: #eeeedc;
        overflow-x: hidden;
        overflow-y: auto
    }

    .o-header__menu.active {
        opacity: 1;
        visibility: visible;
        -webkit-transition: opacity 0.6s 0s, visibility 0s 0s;
        transition: opacity 0.6s 0s, visibility 0s 0s
    }
}
@media (min-width: 64em) {
    .o-header__menu {
        height:auto !important
    }
}
/*================ Site wrappers ================*/
.o-page{
    max-width: 1440px;
    margin: 0px auto;
    background-color: #fff;
}
.o-page--fluid{
    width: 100%;
}
.o-row{
    margin: 0 auto;
    width: 100%;
}
.o-col{
    position: relative;
    /* width: 100%; */
    padding-left: 15px;
    padding-left: .9375rem;
    padding-right: 15px;
    padding-right: .9375rem;
    float: left;
    margin-bottom: 34px;
    margin-bottom: 2.125rem;
}
@media (min-width: 64em) {
    .o-col {
        padding-left: 0;
    }
}
.o-large-2 {
    width:100%;
}
@media (min-width: 64em) {
    .o-large-2 {
        width:29%;
    }
}
.o-large-10{
    width: 100%;
}
@media (min-width: 64em) {
    .o-large-10 {
        width:70%;
    }
}
.o-large-3{
    width:100%;
}
@media (min-width: 40em) {
    .o-large-3 {
        width:23%;
    }
}
.o-large-4{
    width:100%;
}
@media (min-width: 40em) {
    .o-large-4 {
        width:30%;
    }
}
@media(min-width: 64em) {
 .o-large-push-8{
    position: relative;
    left: 65.86667%;
    right: auto;
    }
.o-large-pull-4{
    position: relative;
    right: 26.33333%;
    left: auto
    }
}
/* --- Components ----------- */
/*================ Components ================*/
.c-btn {
    display: inline-block;
    width: auto;
    margin: 0;
    padding: 8px 15px;
    font-family: $font-family-primary-bold;
    font-weight: $font-weight-bold;
    font-size: 16px;
    text-transform: uppercase;
    line-height: $font-size-new + 2;
    color: #fff;
    letter-spacing: 2px;
    background-image: none; /* Reset unusual Firefox-on-Android default style */
    background-color: #000;
    border: 5px solid #fff;
    border-radius: 0;
    cursor: pointer;
    vertical-align: middle;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    outline: none;
}
@media (min-width: 40em) {
    .c-btn {
        font-size: 14px;
    }
}
@media (min-width: 64em) {
    .c-btn {
        padding: 20px;
        font-size: 16px;
    }
}
.c-btn.disabled, .c-btn[disabled] {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
}
.c-btn:hover, .c-btn:focus, .c-btn:active {
    outline: none;
    color: #000;
    background-color: #fff;
    border-color: #000;
}
.c-btn--black {
    border-color: #000;
}
.c-btn--alt {
    color: #000;
    background-color: #fff;
    border-color: #000
}
.c-btn--alt:hover, .c-btn--alt:focus, .c-btn--alt:active {
    color: #fff;
    background-color: #000;
    border-color: #fff;
}
.c-btn--large {
    font-size: 23px;
}
/* Temp - have to refactor this component */
.c-btn--large-new {
    padding: 5px 32px 0;
    font-family: $font-family-primary-bold;
    text-align: center;
    font-size: 23px;
    line-height: 1;
    letter-spacing: 0;
    border-color: #000;
}
/* Panel */
.c-offcanvas {
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
    max-width: 380px;
    height: 100%;
    /* overflow-x: hidden;
    overflow-y: auto; */
    visibility: hidden;  
    background-color: #fff;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transition: visibility 0.5s ease, -webkit-transform 0.5s ease;
    transition: visibility 0.5s ease, -webkit-transform 0.5s ease;
    transition: transform 0.5s ease, visibility 0.5s ease;
    transition: transform 0.5s ease, visibility 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar
}
.c-offcanvas.offcanvas-open {
    overflow-x: hidden;
    visibility: visible;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
}
/* Close button */
.c-offcanvas__close {
    position: absolute;
    top: 14px;
    right: 19px;
    width: 44px;
    height: 44px;
    padding: 0;
    margin: 0;
    background: none;
    border: 0;
    line-height: 44px;
    text-align: center;
    font-size: 28px;
    color: #000;
    cursor: pointer
}
.c-offcanvas__close:hover, .c-offcanvas__close:focus, .c-offcanvas__close:active {
    background-color: transparent;
    outline: none;
}
.c-offcanvas--left {
    left: 0;
    padding: 32px;
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
}
.c-offcanvas--right {
    right: 0;
    -webkit-transform: translateX(390px);
            transform: translateX(390px);
    max-width: 390px;
}
.c-offcanvas--right .c-offcanvas__close {
        right: auto;
        left: 0;
    }
/* Overlay */
.c-offcanvas-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: 32px;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transition: opacity 0.5s ease, visibility 0.5s ease;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.offcanvas-open .c-offcanvas-overlay {
        opacity: .5;
        visibility: visible;
    }
body.offcanvas-open {
    overflow: hidden;
}
.c-cart {
    padding: 42px 30px;
}
.c-cart .c-cart__closeX {
        left: auto;
        right: 16px;
    }
.c-cart__emptyText {
        margin-bottom: 40px;
        font-size: 13px;
    }
.c-cart__title {
        display: block;
        margin-bottom: 12px;
        font-family: $font-family-primary-bold;
        font-weight: 700;
        font-size: 19px;
        letter-spacing: -0.68px;
    }
.c-cart__cart {

    }
.c-cart__inner {
            margin-bottom: 10px;
        }
.c-cart__product {
                border: 6px solid #fff;
                background-color: #fff;
                margin-bottom: 6px;
            }
.c-cart__row {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
            }
.c-cart__row:before {
                content: '';
                display: table;
            }
.c-cart__row:after {
                content: '';
                display: table;
                clear: both;
            }
.c-cart__itemImageBox {
                    width: calc(99.9% * 2/5 - (6px - 6px * 2/5));
                    -webkit-box-flex: 49;
                        -ms-flex: 49;
                            flex: 49;
                }
.c-cart__itemImageBox:nth-child(1n) {
                    float: left;
                    margin-right: 6px;
                    clear: none;
                }
.c-cart__itemImageBox:last-child {
                    margin-right: 0;
                }
.c-cart__itemImageBox:nth-child(2n) {
                    margin-right: 0;
                    float: right;
                }
.c-cart__itemImageBox:nth-child(2n + 1) {
                    clear: both;
                }
.c-cart__itemImageLink {

                    }
.c-cart__itemImage {
                            display: block;
                        }
.c-cart__itemInfoBox {
                    /* lost-column: 3/5 2 6px; */
                    position: relative;
                    padding: 14px 14px 10px 15px;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-flex: 60;
                        -ms-flex: 60;
                            flex: 60;
                    -webkit-box-pack: justify;
                        -ms-flex-pack: justify;
                            justify-content: space-between;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                        -ms-flex-direction: column;
                            flex-direction: column;
                }
.c-cart__itemRemove {
                        position: absolute !important;
                        right: 10px !important;
                        top: 8px !important;
                        bottom: auto !important;
                    }
.c-cart__itemRemoveX {

                        }
.c-cart__itemInfoContainer {
                        padding-right: 20px;
                        margin: 0;
                    }
.c-cart__itemName {
                            display: block;
                            margin-bottom: 16px;
                            margin-right: 12px;
                            font-family: $font-family-primary-bold;
                            font-weight: 700;
                            font-size: 16px;
                            line-height: 18px;
                            letter-spacing: -0.4px;
                        }
.c-cart__itemMeta {
                            display: block;
                            font-family: $font-family-primary;
                            font-size: 13px;
                            line-height: 16px;
                        }
.c-cart__itemLowerBox {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: justify;
                        -ms-flex-pack: justify;
                            justify-content: space-between;
                    -webkit-box-align: end;
                        -ms-flex-align: end;
                            align-items: flex-end;
                }
.c-cart__itemQuantityBox {

                    }
.c-cart__itemPriceBox {
                        /* padding-bottom: 2px; */
                    }
.c-cart__itemPrice {
                            font-family: $font-family-primary;
                            font-size: 13px;                    
                        }
.c-cart__itemPrice--noSale {
                            font-family: $font-family-primary;
                            font-size: 13px;  
                            color: $color-crimson;                  
                        }
.c-cart__itemDiscoutBox {

                    }
.c-cart__itemDiscount {

                        }
.c-cart__footer {
            padding: 9px 0;
            margin-bottom: 35px;
        }
.c-cart__footer:before {
            content: '';
            display: table;
        }
.c-cart__footer:after {
            content: '';
            display: table;
            clear: both;
        }
.c-cart__footerPriceBox {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;
                margin-bottom: 18px;       
                padding: 0 10px;         
                font-family: $font-family-primary-bold;
                font-weight: 700;
                font-size: 19px;
                letter-spacing: -0.5px;
            }
.c-cart__subtotal {

                }
.c-cart__total {

                }
.c-cart__discounts {

                }
.c-cart__checkout {
                width: 100%;
                max-width: 315px;
                margin: 0 auto 21px;
                padding: 6px 0 0;
                height: 46px;
                font-size: 23px;
                font-family: $font-family-primary-bold;
                font-weight: 700;
                letter-spacing: 0;
            }
.c-cart__additionalButtons:before {
                content: '';
                display: table
            }
.c-cart__additionalButtons:after {
                content: '';
                display: table;
                clear: both
            }
.c-cart__additionalButtons.additional_checkout_buttons .c-cart__additionalButtons {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
}
.c-cart__additionalButtons .additional-checkout-button--paypal-express, .c-cart__additionalButtons .additional-checkout-button--amazon {
                    background-color: transparent !important;
                    border: 5px solid #000 !important;
                    border-radius: 0 !important;
                    padding: 0 10px !important;
                    line-height: 30px !important;
                    float: left;
                    display: block;
}
.c-cart__additionalButtons .additional-checkout-button__logo {
                    height: auto !important;
}
.c-cart__additionalButtons .additional-checkout-button--apple-pay {
                    width: 80px !important;
                    margin-right: 13px !important;
                    min-width: 0 !important;
                    min-width: initial !important;
                    margin-bottom: 10px !important;     
                    border-radius: 0 !important;
}
.c-cart__additionalButtons .additional-checkout-button--paypal-express {
                    width: 88px !important;
                    min-width: 0 !important;
                    min-width: initial !important;
}
.c-cart__additionalButtons .additional-checkout-button--paypal-express img {
                        height: auto !important;
                        width: 100% !important;
                    }
.c-cart__additionalButtons .additional-checkout-button--amazon {
                    margin-left: 13px !important;
                    width: 120px !important;
                    min-width: 0 !important;
                    min-width: initial !important;
                    margin-bottom: 10px !important;
}
.c-cart__additionalButtonsText {
                    display: block;
                    text-align: center;
                    font-size: 13px;
                    margin-bottom: 25px;
                }
.c-cart__close {
        position: static;
        font-family: $font-family-primary-medium;
        font-weight: 500;
        font-size: 13px;
        color: $color-crimson;
        letter-spacing: 1px;
        text-transform: uppercase;
        cursor: pointer;
        height: auto;
        width: auto;
        position: static;
        margin-left: 50%;
    }
.c-cart__closeText {
            display: block;
            line-height: 1;
            margin-bottom: 8px;
        }
.c-cart__closeArrow {

        }
.ajaxcart__qty, .js-qty {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin-bottom: 2px;
    max-width: 66px;
    overflow: visible;
}
.ajaxcart__qty input, .js-qty input {
    display: block;
    background: none;
    border: none;
    text-align: center;
    width: 100%;
    padding: 0;
    padding-top: 3px;
    padding-right: 3px;
    margin: 0;
    font-size: 13px;
  }
.ajaxcart__qty-adjust, .js-qty__qty-adjust {
  cursor: pointer;
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  border: 0 none;
  padding: 0 4px;
  background: none;
  text-align: center;
  overflow: hidden;
  background-color: transparent;
  color: #000
}
.ajaxcart__qty-adjust:hover, .ajaxcart__qty-adjust:focus, .js-qty__qty-adjust:hover, .js-qty__qty-adjust:focus {
    color: $color-crimson;
}
.ajaxcart__qty--plus, .js-qty__adjust--plus {
  right: 0;
}
.ajaxcart__qty--minus, .js-qty__adjust--minus {
  left: 0;
}
.ajaxcart__qty-num, .js-qty__num {
    padding-top: 4px;
    padding-right: 4px;
    height: 26px;
}
.header-cart-link {
    text-decoration: none
}
@media(min-width: 64em) {
    .c-menu__item--cart{
        padding:1.1875rem 0
    }
}
.c-menu__item--cart  {
    position: absolute;
    top: -10px;
    right: 0;
    height: 2px;
    height: 0.125rem;
    width: 77px;
    width: 4.8125rem;
    line-height: 50px;
    line-height: 3.125rem;
    text-align: center
}
@media(max-width: 63.9375em) {
    .c-menu__item--cart  {
        top: -30px;
    }
}
.c-menu__item--cart  .icon {
    top: 16px;
    top: 1rem
}
/* .header-cart-link--two {
    display: none
}

@media(--tablet-large) {
    .header-cart-link--two {
        display:block;
        padding: 0.2rem 0px 0.25rem;
    }
} */
.c-menu__item--cart--two .icon {
    top: 1px;
}
.header-cart-link .icon {
    position: relative;
    display: inline-block;
    width: 20px;
}
.header-cart-link .icon svg {
    fill: #393D4E;
    vertical-align: top
}
.header-cart-link .count {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 22px;
    font-size: 14px;
    font-size: .875rem;
    font-weight: 600;
    text-align: center;
    color: #fff;
    background-color: #E5751A;
    border-radius: 50%
}
.header-cart-link.no-count .count {
    display: none
}
#header-cart {
    display: none
}
@media(min-width: 64em) {
    #header-cart {
        display:block;
        position: absolute;
        top: 3.5625rem;
        right: 0;
        left: auto;
        z-index: 2;
        width: 20.625rem;
        background-color: #fff;
        border: 2px solid #b7b7a1;
        border-radius: 4px;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
        transition: opacity 0.3s 0s, visibility 0s 0.3s
    }

    #header-cart::before {
        content: '';
        position: absolute;
        top: -0.75rem;
        right: 1.3125rem;
        height: 0;
        width: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #b7b7a1
    }

    #header-cart::after {
        content: '';
        position: absolute;
        top: -0.5625rem;
        right: 1.3125rem;
        height: 0;
        width: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #fff
    }

    #header-cart.active {
        opacity: 1;
        visibility: visible;
        -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
        transition: opacity 0.3s 0s, visibility 0s 0s
    }

    #header-cart.no-count {
        right: -1.5rem
    }
}
.mini-cart-close {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 14px;
    padding: .875rem;
    width: 46px;
    width: 2.875rem
}
.mini-cart-close svg {
    display: block;
    fill: #979ba8
}
.mini-cart-close:hover svg, .mini-cart-close:focus svg {
    fill: #393D4E
}
.mini-products-list {
    padding: 10px 0;
    padding: .625rem 0;
    list-style: none
}
@media(min-width: 64em) {
    .mini-products-list {
        padding:1.25rem 0
    }
}
.mini-products-list--empty {
    padding: 33px 0 10px;
    padding: 2.0625rem 0 .625rem
}
.mini-products-list li {
    clear: both;
    padding: 13px 30px;
    padding: .8125rem 1.875rem
}
.mini-products-list .product-img-wp {
    float: left;
    width: 50px;
    width: 3.125rem
}
.mini-products-list .product-img-wp img {
    width: 100%;
    max-width: 100%;
    height: auto
}
.mini-products-list .product-details {
    margin-left: 70px;
    margin-left: 4.375rem
}
.mini-products-list .product-name {
    font-size: 16px;
    font-size: 1rem;
    font-weight: 700
}
.mini-products-list .product-name a {
    text-decoration: none
}
.mini-products-list .info, .mini-products-list .qty-wrapper {
    font-size: 14px;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.5
}
.mini-products-list .qty-wrapper {
    width: auto
}
.mini-cart-footer .shipping {
    padding: 12px 30px;
    padding: .75rem 1.875rem;
    font-size: 14px;
    font-size: .875rem;
    font-weight: 600;
    text-align: center;
    background-color: #e1e1e1
}
.mini-cart-footer .subtotal {
    padding: 9px 30px;
    padding: .5625rem 1.875rem;
    font-size: 17px;
    font-size: 1.0625rem;
    font-weight: 700;
    border-top: 1px solid #b7b7a1;
    border-bottom: 1px solid #b7b7a1
}
.mini-cart-footer .subtotal .price {
    float: right
}
.minicart-actions {
    padding: 15px 30px;
    padding: .9375rem 1.875rem
}
.minicart-actions .btn {
    display: block
}
.minicart-actions .btn .icon {
    position: relative;
    display: inline-block;
    width: 14px;
    top: 1px;
    margin-right: 5px
}
.minicart-actions .btn svg {
    fill: #393D4E
}
.minicart-actions .btn+.btn {
    margin-top: 4px;
    margin-top: .25rem
}
.mini-cart-empty-img {
    float: left;
    width: 64px;
    width: 4rem;
    height: 64px;
    height: 4rem;
    border-radius: 2px;
    background-color: #ebebed
}
.mini-cart-empty-line {
    margin-left: 84px;
    margin-left: 5.25rem;
    margin-bottom: 10px;
    margin-bottom: .625rem;
    height: 8px;
    height: .5rem;
    border-radius: 2px;
    background-color: #ebebed
}
.mini-cart-empty-line:nth-child(3) {
    width: 110px;
    width: 6.875rem
}
.mini-cart-empty-line:nth-child(4) {
    width: 85px;
    width: 5.3125rem
}
.mini-cart-empty-heading, .mini-cart-empty-desc {
    text-align: center
}
.mini-cart-empty-heading {
    font-size: 16px;
    font-size: 1rem;
    font-weight: 700
}
.mini-cart-empty-desc {
    margin-bottom: 30px;
    margin-bottom: 1.875rem;
    font-size: 14px;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.5
}
.c-cartTable__wrapper {
    padding-bottom: 14px;
}
.c-cartTable {
    width: 100%;
    border-top: 3px solid black;
    padding: 20px 0;
    border-spacing: 0;
    border-collapse: collapse;


}
.c-cartTable .js-qty {
        width: 100%;
        max-width: 144px;
        margin: 0;
        margin: 0 auto;
    }
.c-cartTable .js-qty__num {
        padding-top: 13px;
        font-size: 16px;
    }
.c-cartTable .js-qty__adjust {
        background-color: transparent;
        color: black;
        border: 3px solid;
    }
@media (max-width: 39.938em) {
    .c-cartTable tr {
        float: left;
        clear: both;
        width: 100%;
    }
}
.c-cartTable__title {
        margin-bottom: 20px;
    }
.c-cartTable__cell--center {
        text-align: center;
    }
@media (max-width: 39.938em) {
    .c-cartTable__thead {
        display: none;
    }
}
.c-cartTable__row {
        border-top: 3px solid #000;
    }
.c-cartTable__th {
            display: none;
            padding: 16px 0;
        }
@media (min-width: 40em) {
    .c-cartTable__th {
        display: table-cell;
    }
}
.c-cartTable__td {
            padding: 6px 0;
        }
@media (max-width: 39.938em) {
    .c-cartTable__td {
        width: auto;
        float: none;
        display: inline-block;
        border-bottom: none;
    }
}
.c-cartTable__footer {
        border-top: 3px solid black;
    }
.c-cartTable__pricingBox {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            border-bottom: 3px solid black;
            margin-bottom: 20px;
            padding: 12px 0 18px;
        }
@media (max-width: 39.938em) {
    .c-cartTable__pricingBox {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}
.c-cartTable__subtotal {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;
                width: 340px;
                float: right;
                font-size: 24px;
                font-weight: 700;
                font-family: $font-family-primary-bold;
            }
@media (max-width: 39.938em) {
    .c-cartTable__subtotal {
        width: 100%;
    }
}
.c-cartTable__subtotalText {

                }
.c-cartTable__subtotalPrice {

                }
@media (max-width: 39.938em) {
    .c-cartTable__shippingInfo {
        margin-right: auto;
        margin-bottom: 10px;
    }
}
.c-cartTable__buttonContainer {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: end;
                    -ms-flex-pack: end;
                        justify-content: flex-end;
            }
@media (max-width: 39.938em) {
    .c-cartTable__buttonContainer {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}
.c-cartTable__button--update {
                    margin-right: 6px;
                }
@media (max-width: 39.938em) {
    .c-cartTable__button--update {
        margin-right: 0;
        margin-bottom: 6px;
    }
}
/**
 * Header
 */
.c-menu{
     font-weight: 700;
 }
.c-menu{}
@media(min-width: 64em) {
    .c-menu.c-primary:first-child{
        position:relative;
        float: left;
        padding-right: .9375rem;
        margin-right: .9375rem;
    }

    .c-menu.c-primary:first-child::after {
        content: '';
        display: block;
        position: absolute;
        top: 0.15rem;
        right: 25.8rem;
        width: 1px;
        height: 30px;
        background: #e5e5e5;
    }
}
.c-menu__item{
    position: relative;
    float: left;
    padding-right: 15px;
    padding-right: .9375rem;
    margin-right: 6.4px;
    margin-right: .4rem;
    font-size: 13.92px;
    font-size: 0.87rem;
    line-height: 2;
    color: #393D4E;
    cursor: pointer;
  }
@media (min-width: 73.75em) {
    .c-menu__item {
        font-size: 1.0625rem;
    }
}
@media (min-width: 64em) {
    .c-menu__item:hover::after, .c-menu__item:focus::after, .c-menu__item:active::after {
        background-color: #393D4E;
    }
}
@media (min-width: 64em) {
    .c-menu__item::after {
        content: '';
        position: absolute;
        bottom: -0.25rem;
        left: 0;
        width: 90%;
        height: 2px;
        background-color: transparent;
        -webkit-transition: background-color 0.1s linear;
        transition: background-color 0.1s linear;
    }
}
.c-menu_item__quiker-links{
   
    background-position: 0 3px;
    padding-left: 25px;
    padding-left: 1.5625rem;
    padding-top: 8px;
}
@media (min-width: 64em) {
    .c-menu_item__quiker-links {
        background-position: 0 3px;
        padding-left: 1.5625rem;
        padding-top: 0px;
    }
}
.c-menu_item__quiker-links:hover::after, .c-menu_item__quiker-links:focus::after, .c-menu_item__quiker-links:active::after {
    background-color: transparent;
}
.c-menu__item--can{
    background-image: url(icon-can.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 0 6px;
}
.c-menu__item--aus{
    background-image: url(icon-aus.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 0 6px;
}
.c-hamburger {
    display: block;
    width: 24px;
    height: 16px;
    position: absolute;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer
}
@media(min-width: 64em) {
    .c-hamburger {
        display:none
    }
}
.c-hamburgerPatty {
    position: absolute;
    height: 2px;
    width: 100%;
    background: #000;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    -webkit-transform-origin: left center;
    transform-origin: left center
}
.c-hamburgerPatty--top {
    top: 0
}
.c-hamburgerPatty--middle {
    top: 8px
}
.c-hamburgerPatty--bottom {
    top: 16px
}
.open .c-hamburgerPatty--top {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0;
    left: 4px
}
.open .c-hamburgerPatty--middle {
    width: 0;
    opacity: 0
}
.open .c-hamburgerPatty--bottom {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 17px;
    left: 4px
}
.c-mobileNavContainer {
    padding-top: 7px;
    padding-right: 13px;
}
.c-mobileNav__item {
       padding-bottom: 8px;
        margin-bottom: 16px;
        border-bottom: 1px solid #d7d7d7;
}
.c-mobileNav__itemLink { 
            cursor: pointer;
            font-family: 'proxima-nova',sans-serif;
            font-size: 16px;
            font-weight:700;
            line-height: 1;
            color: #393D4E
        }
.c-mobileNav__itemLink:hover, .c-mobileNav__itemLink:focus, .c-mobileNav__itemLink:active {
    color: #f5f5f5;
}
.c-mobileNavContainer.c-menu{
    display:block;

}
.c-mobileNav__itemLink.c-menu__item--cart{
    position: relative;
    padding-left: 0px;
    text-align: left;
}
.c-footer {
    padding-bottom: 6px;
    display:inline-block;
    background-color: #eeeedc;
    color: #393D4E;
    font-size: 16px;
    padding: 40px 0;
    padding: 2.5rem 0;
    text-align: center;
}
@media (min-width: 64em) {
    .c-footer {
        padding: 3.5rem 2.5rem;
    }
}
@media (min-width: 40em) {
    .c-footer {
        text-align: left;
    }
}
.c-block-title {
    margin-bottom: 13px;
    margin-bottom: .8125rem;
    font-size: 14px;
    font-size: .875rem;
    font-weight: 700;
    text-transform: uppercase
}
@media (min-width: 64em)  {
    .c-block-title {
        margin-bottom:1rem;
        font-size: 1.0625rem
    }
}
.c-footer-link {
    margin-top: 7px;
    margin-top: .4375rem;
}
.c-footer a{
    font-size: 14px;
    font-size: .875rem;
    font-weight: 500;
    line-height: 2;
    color: #393D4E;
    cursor: pointer;
}
@media (min-width: 64em)  {
    .c-footer a {
        font-size:1.0625rem;
    }
}
.c-footer-link a:hover, .c-footer-link a:focus{
    text-decoration: underline;
    color:#0288D1;
}
.c-footer__links__connect .icon-can, .c-footer__links__connect .icon-aus {
    padding-left: 25px;
    padding-left: 1.5625rem
}
.c-footer__links__connect ul li{
    display: inline-block;
    font-size: 14px;
    font-size: .875rem;
}
@media (min-width: 64em)  {
    .c-footer__links__connect ul li {
        font-size:1.0625rem;
    }
}
.c-footer__links__connect li+li {
    margin-top: 0;
    margin-left: 10px;
    margin-left: .625rem
}
.c-footer__links__connect .icon-instagram-dark, .c-footer__links__connect .icon-twitter-dark, .c-footer__links__connect .icon-facebook-dark {
    width: 30px;
    width: 1.875rem;
    height: 30px;
    height: 1.875rem;
    text-indent: -9999px;
    display:inline-block;
}
.icon-can {
    background-image: url("icon-can.png");
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 0 0px;
}
@media (min-width: 64em)  {
    .icon-can {
        background-size: 20px;
    }
}
.icon-aus {
    background-image: url("icon-aus.png");
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 0 0px;
}
@media (min-width: 64em)  {
    .icon-aus {
        background-size: 20px;
    }
}
.icon-usa {
    background-image: url("icon-usa.png");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 0 center
}
.icon-facebook-dark {
    background-image: url("icon-facebook-dark.svg");
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 0 center
}
.icon-twitter-dark {
    background-image: url("icon-twitter-dark.svg");
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 0 center
}
.icon-instagram-dark {
    background-image: url("icon-instagram-dark.svg");
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 0 center
}
.c-strapline-text{
        text-align: left;
        font-size: 14px;
        font-size: .875rem;
        font-weight: 500;
        color: #393D4E;
        /* margin-bottom: 2.125rem; */
}
@media (min-width: 64em) {
    .c-strapline-text {
        font-size:1.0625rem;
    }
}
.c-footer-disclaimer{
    color: #909397;
    font-size: 12px;
    font-size: .75rem;
    font-weight: 500;
    line-height: 1.5;
    padding: 0 32px;
    padding: 0 2rem;
    text-align: left;
}
@media (min-width: 64em) {
    .c-footer-disclaimer {
        font-size:.875rem;
    }
}
/* --- Utilities ----------- */
/*================ UTILITIES ================*/
[v-cloak] {
    display: none;
}
.u-hide {
    display: none;
}
.u-hideVisually {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.u-reset {
    padding: 0;
    margin: 0;
}
@media (max-width: 64em) {
    .u-hideTabletLargeDown {
        display: none;
    }
}
.u-showMobileLargeUp {
    display: none;
}
@media (min-width: 40em) {
    .u-showMobileLargeUp {
        display: block;
    }
}
.u-hideMobileLargeUp {
    display: block;
}
@media (min-width: 40em) {
    .u-hideMobileLargeUp {
        display: none;
    }
}
@media (max-width: 47.9375em) {
    .u-hideMobileMaxDown {
        display: none;
    }
}
.u-hideTabletUp {
    display: block;
}
@media (min-width: 48em) {
    .u-hideTabletUp {
        display: none;
    }
}
.u-showTabletUp {
    display: none;
}
@media (min-width: 48em) {
    .u-showTabletUp {
        display: block;
    }
}
.u-hideTabletLargeUp {
    display: block;
}
@media (min-width: 64em) {
    .u-hideTabletLargeUp {
        display: none;
    }
}
.u-showTabletLargeUp {
    display: none;
}
@media (min-width: 64em) {
    .u-showTabletLargeUp {
        display: block;
    }
}
.u-relative {
    position: relative;
}
.u-static {
    position: static;
}
.u-absolute {
    position: absolute;
}
/*================ Text alignments ================*/
.u-textLeft {
    text-align: left;
}
.u-textCenter {
    text-align: center;
}
.u-textRight {
    text-align: right;
}
.u-blockCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*================ Site gutters ================*/
.u-wrapperGutter {
    padding-left: 20px;
    padding-right: 20px;
}
@media (min-width: 48em) {
    .u-wrapperGutter {
        padding-right: 35px;
        padding-left: 35px;
    }
}
.is-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.is-hidden {
    display: none;
}
/* --- Trumps ----------- */
.trumps {
    content: "";
}

/*# sourceMappingURL=app.css.map */
