$font-primary-bold: 'Mark-pro-b', BlinkMacSystemFont, -apple-system, Segoe UI,
  Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
  Helvetica, Arial, sans-serif !default;

$font-primary-semi-bold: 'Mark-pro-m', BlinkMacSystemFont, -apple-system,
  Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
  Helvetica Neue, Helvetica, Arial, sans-serif !default;

$font-primary-medium: 'Mark-pro-m', BlinkMacSystemFont, -apple-system, Segoe UI,
  Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
  Helvetica, Arial, sans-serif !default;

$font-primary-regular: 'Mark-pro', BlinkMacSystemFont, -apple-system, Segoe UI,
  Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
  Helvetica, Arial, sans-serif !default;
