$font-primary-bold: 'font-primary-bold', BlinkMacSystemFont, -apple-system,
  Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
  Helvetica Neue, Helvetica, Arial, sans-serif !default;

$font-primary-semi-bold: 'font-primary-semi-bold', BlinkMacSystemFont,
  -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
  Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif !default;

$font-primary-medium: 'font-primary-medium', BlinkMacSystemFont, -apple-system,
  Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
  Helvetica Neue, Helvetica, Arial, sans-serif !default;

$font-primary-regular: 'font-primary-regular', BlinkMacSystemFont,
  -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
  Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif !default;
